<div class="main-container">
    <div class="d-flex justify-content-center">


        <div class="text-center">
            <h2>Our Trade Shows</h2>
            <h4 class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, magnam?</h4>
        </div>


    </div>




    <!--First slide-->
    <div class="row active">

        <div class="col-md-4 col-sm-12 p-4" style="float:left">
            <div class="card mb-2  bg-none border-0 ">
                <div class="card-header mb-0 pb-0 pt-1">
                    <div class="border-bottom ">
                        <h5 class="text-dark"> Helping fashion brands making more sustainable decisions</h5>
                    </div>

                </div>
                <div class="m-0 p-0">
                    <img class="img-fluid m-0 p-0 card-img-size " src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                </div>

                <div class="card-body pt-2">
                    <div class=" clearfix d-flex align-items-center justify-content-between m-0 p-0">
                        <h6 class="card-title text-muted mt-0 mb-0 ">Categories</h6>
                        <ul class="reactions card-icon-list d-flex mb-0 mr-0 pr-0 justify-content-end ">
                            <li>
                                <a class="d-flex align-items-center text-muted ml-2" href="javascript:void(0)">5,345 <i class="pg-icon">comment</i></a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center text-muted" href="javascript:void(0)">23K <i class="pg-icon">heart</i></a>
                            </li>
                        </ul>
                    </div>

                    <h5 class="text-dark mt-0 mb-0 ">Apparels,Electronics,Apparels,Electronics,Apparels,Electronics...</h5>

                    <div class="time d-flex justify-content-end">22/11/2020 to 20/12/2022</div>

                    <div class="card-footer m-0  p-0">
                        <div class=" clearfix d-flex align-items-center">
                            <div class="mb-0 pb-0">
                                <h5 class="time mb-0 mt-0">Nathaniel Hamilton Great trade Expo</h5>
                                <p class="d-flex align-items-center text-muted mb-0 mt-0" href="javascript:void(0)"> <i class="pg-icon">map</i> NYC,NewYork</p>


                            </div>

                        </div>




                    </div>




                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 p-4" style="float:left">
            <div class="card mb-2  bg-none border-0 ">
                <div class="card-header mb-0 pb-0 pt-1">
                    <div class="border-bottom ">
                        <h5 class="text-dark"> Helping fashion brands making more sustainable decisions</h5>
                    </div>

                </div>
                <div class="m-0 p-0">
                    <img class="img-fluid m-0 p-0 card-img-size " src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                </div>

                <div class="card-body pt-2">
                    <div class=" clearfix d-flex align-items-center justify-content-between m-0 p-0">
                        <h6 class="card-title text-muted mt-0 mb-0 ">Categories</h6>
                        <ul class="reactions card-icon-list d-flex mb-0 mr-0 pr-0 justify-content-end ">
                            <li>
                                <a class="d-flex align-items-center text-muted ml-2" href="javascript:void(0)">5,345 <i class="pg-icon">comment</i></a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center text-muted" href="javascript:void(0)">23K <i class="pg-icon">heart</i></a>
                            </li>
                        </ul>
                    </div>

                    <h5 class="text-dark mt-0 mb-0 ">Apparels,Electronics,Apparels,Electronics,Apparels,Electronics...</h5>

                    <div class="time d-flex justify-content-end">22/11/2020 to 20/12/2022</div>

                    <div class="card-footer m-0  p-0">
                        <div class=" clearfix d-flex align-items-center">
                            <div class="mb-0 pb-0">
                                <h5 class="time mb-0 mt-0">Nathaniel Hamilton Great trade Expo</h5>
                                <p class="d-flex align-items-center text-muted mb-0 mt-0" href="javascript:void(0)"> <i class="pg-icon">map</i> NYC,NewYork</p>


                            </div>

                        </div>




                    </div>




                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 p-4" style="float:left">
            <div class="card mb-2  bg-none border-0 ">
                <div class="card-header mb-0 pb-0 pt-1">
                    <div class="border-bottom ">
                        <h5 class="text-dark"> Helping fashion brands making more sustainable decisions</h5>
                    </div>

                </div>
                <div class="m-0 p-0">
                    <img class="img-fluid m-0 p-0 card-img-size " src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                </div>

                <div class="card-body pt-2">
                    <div class=" clearfix d-flex align-items-center justify-content-between m-0 p-0">
                        <h6 class="card-title text-muted mt-0 mb-0 ">Categories</h6>
                        <ul class="reactions card-icon-list d-flex mb-0 mr-0 pr-0 justify-content-end ">
                            <li>
                                <a class="d-flex align-items-center text-muted ml-2" href="javascript:void(0)">5,345 <i class="pg-icon">comment</i></a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center text-muted" href="javascript:void(0)">23K <i class="pg-icon">heart</i></a>
                            </li>
                        </ul>
                    </div>

                    <h5 class="text-dark mt-0 mb-0 ">Apparels,Electronics,Apparels,Electronics,Apparels,Electronics...</h5>

                    <div class="time d-flex justify-content-end">22/11/2020 to 20/12/2022</div>

                    <div class="card-footer m-0  p-0">
                        <div class=" clearfix d-flex align-items-center">
                            <div class="mb-0 pb-0">
                                <h5 class="time mb-0 mt-0">Nathaniel Hamilton Great trade Expo</h5>
                                <p class="d-flex align-items-center text-muted mb-0 mt-0" href="javascript:void(0)"> <i class="pg-icon">map</i> NYC,NewYork</p>


                            </div>

                        </div>




                    </div>




                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 p-4" style="float:left">
            <div class="card mb-2  bg-none border-0 ">
                <div class="card-header mb-0 pb-0 pt-1">
                    <div class="border-bottom ">
                        <h5 class="text-dark"> Helping fashion brands making more sustainable decisions</h5>
                    </div>

                </div>
                <div class="m-0 p-0">
                    <img class="img-fluid m-0 p-0 card-img-size " src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                </div>

                <div class="card-body pt-2">
                    <div class=" clearfix d-flex align-items-center justify-content-between m-0 p-0">
                        <h6 class="card-title text-muted mt-0 mb-0 ">Categories</h6>
                        <ul class="reactions card-icon-list d-flex mb-0 mr-0 pr-0 justify-content-end ">
                            <li>
                                <a class="d-flex align-items-center text-muted ml-2" href="javascript:void(0)">5,345 <i class="pg-icon">comment</i></a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center text-muted" href="javascript:void(0)">23K <i class="pg-icon">heart</i></a>
                            </li>
                        </ul>
                    </div>

                    <h5 class="text-dark mt-0 mb-0 ">Apparels,Electronics,Apparels,Electronics,Apparels,Electronics...</h5>

                    <div class="time d-flex justify-content-end">22/11/2020 to 20/12/2022</div>

                    <div class="card-footer m-0  p-0">
                        <div class=" clearfix d-flex align-items-center">
                            <div class="mb-0 pb-0">
                                <h5 class="time mb-0 mt-0">Nathaniel Hamilton Great trade Expo</h5>
                                <p class="d-flex align-items-center text-muted mb-0 mt-0" href="javascript:void(0)"> <i class="pg-icon">map</i> NYC,NewYork</p>


                            </div>

                        </div>




                    </div>




                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 p-4" style="float:left">
            <div class="card mb-2  bg-none border-0 ">
                <div class="card-header mb-0 pb-0 pt-1">
                    <div class="border-bottom ">
                        <h5 class="text-dark"> Helping fashion brands making more sustainable decisions</h5>
                    </div>

                </div>
                <div class="m-0 p-0">
                    <img class="img-fluid m-0 p-0 card-img-size " src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                </div>

                <div class="card-body pt-2">
                    <div class=" clearfix d-flex align-items-center justify-content-between m-0 p-0">
                        <h6 class="card-title text-muted mt-0 mb-0 ">Categories</h6>
                        <ul class="reactions card-icon-list d-flex mb-0 mr-0 pr-0 justify-content-end ">
                            <li>
                                <a class="d-flex align-items-center text-muted ml-2" href="javascript:void(0)">5,345 <i class="pg-icon">comment</i></a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center text-muted" href="javascript:void(0)">23K <i class="pg-icon">heart</i></a>
                            </li>
                        </ul>
                    </div>

                    <h5 class="text-dark mt-0 mb-0 ">Apparels,Electronics,Apparels,Electronics,Apparels,Electronics...</h5>

                    <div class="time d-flex justify-content-end">22/11/2020 to 20/12/2022</div>

                    <div class="card-footer m-0  p-0">
                        <div class=" clearfix d-flex align-items-center">
                            <div class="mb-0 pb-0">
                                <h5 class="time mb-0 mt-0">Nathaniel Hamilton Great trade Expo</h5>
                                <p class="d-flex align-items-center text-muted mb-0 mt-0" href="javascript:void(0)"> <i class="pg-icon">map</i> NYC,NewYork</p>


                            </div>

                        </div>




                    </div>




                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 p-4" style="float:left">
            <div class="card mb-2  bg-none border-0 ">
                <div class="card-header mb-0 pb-0 pt-1">
                    <div class="border-bottom ">
                        <h5 class="text-dark"> Helping fashion brands making more sustainable decisions</h5>
                    </div>

                </div>
                <div class="m-0 p-0">
                    <img class="img-fluid m-0 p-0 card-img-size " src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                </div>

                <div class="card-body pt-2">
                    <div class=" clearfix d-flex align-items-center justify-content-between m-0 p-0">
                        <h6 class="card-title text-muted mt-0 mb-0 ">Categories</h6>
                        <ul class="reactions card-icon-list d-flex mb-0 mr-0 pr-0 justify-content-end ">
                            <li>
                                <a class="d-flex align-items-center text-muted ml-2" href="javascript:void(0)">5,345 <i class="pg-icon">comment</i></a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center text-muted" href="javascript:void(0)">23K <i class="pg-icon">heart</i></a>
                            </li>
                        </ul>
                    </div>

                    <h5 class="text-dark mt-0 mb-0 ">Apparels,Electronics,Apparels,Electronics,Apparels,Electronics...</h5>

                    <div class="time d-flex justify-content-end">22/11/2020 to 20/12/2022</div>

                    <div class="card-footer m-0  p-0">
                        <div class=" clearfix d-flex align-items-center">
                            <div class="mb-0 pb-0">
                                <h5 class="time mb-0 mt-0">Nathaniel Hamilton Great trade Expo</h5>
                                <p class="d-flex align-items-center text-muted mb-0 mt-0" href="javascript:void(0)"> <i class="pg-icon">map</i> NYC,NewYork</p>


                            </div>

                        </div>




                    </div>




                </div>
            </div>
        </div>







    </div>

</div>