.box1{
  height: 100px;
  border: 1px solid rgb(167, 164, 164);
  color: black;
}
.box2{
  height: 54px;
  border: 1px solid rgb(167, 164, 164);
  color: black;
}
.box3{
  height: 60px;
  border: 1px solid rgb(167, 164, 164);
  color: black;

}

.buttontop{
  margin-top: 5px;
  margin-left: 45px;
  height: 41px;
  max-width: 275px;
  background-color: #fb3601;
  color: white;
}
.buttontop:hover{
  background-color: #fb3603;
}
h4{
  margin-left: 160px;
  margin-top:2px
}
.input-width{
    width: 100%;
    height: 40px;
    
  }
 .footer2-back-color{
    background-color:#e0e0e0;//eeeeee
 }
 
 .dd{
     font-size: 14px;
     color: black;
     font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 }
 .buttondown{
     margin-left: 15px;
     height: 41px;
  }
  .p{
   padding-left: 0px;
   padding-right: 0px;
    overflow-x: hidden;
  }

  .icons{
    display: flex;

    
  }
  
  .p-color{
    color: black;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  .text:hover{
    text-decoration:underline;
  }
  .footer2-3-back-color{
    background-color: #d6d6d6;
  }

 