<pgcard TimeOut="3000" AdditionalClasses="widget-7 card no-border bg-success no-margin full-height" MinimalHeader="true"
    BodyClass="no-padding" HeaderClass="hidden">
    <swiper [config]="config" [(index)]="index">
        <div class="slide-front tiles slide active">
            <div class="padding-25">
                <div class="pull-bottom padding-25 bottom-right bottom-left">
                    <h4 class="no-margin semi-bold p-b-5">Members from last <span style="font-size: 20px;">5</span>yrs
                    </h4>

                    <h5 class="no-margin hint-text text-ellipsis">
                        Supplier Reviews ~ <span style="font-size: 20px;">4.5</span></h5>

                    <h5 class="semi-bold"><i class="pg-icon">arrow_up</i> From <span style="font-size: 20px;">205</span>
                        Buyers.
                    </h5>

                </div>
            </div>
        </div>
        <div class="slide-back tiles">
            <div class="container-sm-height full-height">
                <div class="row-sm-height">
                    <div class="col-sm-height padding-25">
                        <p class="">
                        </p>

                        <p class="p-t-25 hint-text " style="font-size:18px ;">Yearly Turnover <br> $20 million - 50
                            milliont</p>

                        <div class="p-t-5 d-flex align-items-center">

                            <div class="inline">
                                <i class="pg-icon m-l-5">arrow_up</i>
                            </div>
                        </div>
                        <p class="p-t-15 fs-16 hint-text "></p>

                        <div class="p-t-3 d-flex align-items-center">
                            <p class="inline" style="font-size:18px ;">Export Contribution - 75%<span
                                    class="m-l-20"></span>
                            </p>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </swiper>
</pgcard>