<pg-container extraHorizontalClass="bg-white" extraClass="bg-white">

    <div class="card card-transparent">
        <div class="card-header ">

            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title">ALL Brand Approval List</h3>
                <div>
                    <button class="btn btn-primary" routerLink="../brand-approval-add">
            Add<i class="fa fa-plus ml-2" aria-hidden="true"></i>
          </button>
                </div>
            </div>
         </div>
        <div class="card-body">
            <div class="table-responsive">
                <ngx-datatable class='table table-hover' [rows]="brandApprovalList" [columnMode]="columnModeSetting" [headerHeight]="43" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [selected]="selected" [selectionType]="'checkbox'" [scrollbarH]="scrollBarHorizontal"
                    (activate)="onActivate($event)">
                    <!-- (select)='onSelect($event)'> -->
                    <ngx-datatable-column [width]="45" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" cellClass="d-flex align-items-center p-l-0 p-r-0">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Sr No" cellClass="d-flex align-items-center"></ngx-datatable-column>
                    <!-- <ngx-datatable-column name="Image" cellClass="d-flex align-items-center"></ngx-datatable-column> -->
                    <ngx-datatable-column name="Image" widht="600">    
                      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>    
                        <img [src]="imgUrl + getImage(row)" style="width: 50px; height: 50px;">
                      </ng-template>    
                  </ngx-datatable-column> 
                    <ngx-datatable-column name="Brand Type" cellClass="d-flex align-items-center">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Brand Name" cellClass="d-flex align-items-center">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Serial Number" cellClass="d-flex align-items-center">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Products Link" cellClass="d-flex align-items-center"></ngx-datatable-column>

                    <ngx-datatable-column name="Added On" cellClass="d-flex align-items-center"></ngx-datatable-column>
                    <ngx-datatable-column name="Status" cellClass="d-flex align-items-center"></ngx-datatable-column>
                </ngx-datatable>
                
            </div>
        </div>
    </div>
</pg-container>
<!-- <div class="conatiner-fluid p-3 h-100">
  <div class="card">
    <div class="card-body">
      <div class="card card-default">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="card-title">ALL Brand Approval</h3>
          <div>
            <button class="btn btn-primary" routerLink="../brand-approval-add">
              Add<i class="fa fa-plus ml-2" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Sr.No</th>
              <th scope="col">Image</th>
              <th scope="col">Brand Type</th>
              <th scope="col">Brand Name</th>
              <th scope="col">Serial Number</th>
              <th scope="col">Products</th>
              <th scope="col">Added On</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of brandApprovalList; let i = index">
              <th>{{i+1}}</th>
              <td><img [src]="item.image" width="100" /></td>
              <td>{{item.brandType}}</td>
              <td>{{item.brandName}}</td>
              <td>{{item.serialNumber}}</td>
              <td>
                <a *ngFor="let product of item.products" [href]="product">{{product}}</a>
              </td>
              <td>{{item.timestamp | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->