<app-header1></app-header1>
<div class="container">
    <h2>Supplier Background search
    </h2>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <p class="serchText">Find the Seller Report
                    </p>
                </div>
                <div class="row justify-content-center align-self-center t-p search">
                    <div class="col-md-8 ">
                        <div class="form-group input-group ">
                            <input type="text" formControlName="search" placeholder="Search Seller Report" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text primary"><i class="pg-icon">search</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Table  -->
            <div class="row ">
                <h5 class="tableHeading">Seller Report</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">Name</th>
                            <th scope="col">Country</th>
                            <th scope="col">Dispute</th>
                            <th scope="col">Complaints</th>
                            <th scope="col">Products</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Caliber India Apparels Pvt.Ltd</td>
                            <td>India</td>
                            <td>1</td>
                            <td>0</td>
                            <td>100</td>
                            <td>Verified</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<app-footer1></app-footer1>