<div class="register-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">
        <img src="assets/img/logo.png" alt="logo" pgRetina src1x="assets/img/logo.png" src2x="assets/img/logo_2x.png"
            width="78" height="22">
        <h3>Change Your Password ?</h3>
        <p>Email {{ email }} </p>
        <form class="p-t-15" role="form" [formGroup]="changePasswordForm">
            <div class="row">
                <div class="col-md-12">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="f.password.invalid && (f.password.dirty || f.password.touched)">
                        <label for="password">Old Password</label>
                        <input type="password" formControlName="oldPassword" placeholder="Enter Old Password" class="form-control" id="old-password"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="f.password.invalid && (f.password.dirty || f.password.touched)">
                        <label for="password">New Password</label>
                        <input type="password" formControlName="password" placeholder="Enter Password" class="form-control" id="password"
                        tooltip="Password must have one uppercase letter, one lower case, one number and one special character(@,!,$)."
                        />
                       
                    </div>
                  
                    <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                        <label *ngIf="f.password.errors.required" class="error">This field is required.</label>
                        <label *ngIf="f.password.errors.hasNumber" class="error">Must contain a number.</label>
                        <label *ngIf="f.password.errors.hasSmallCase" class="error">Must have a smaller case character.</label>
                        <label *ngIf="f.password.errors.hasSpecialCharacters" class="error">Must have a special character.</label>
                        <label *ngIf="f.password.errors.minlength" class="error">Min length should be {{f.password.errors.minlength.requiredLength}} actual length {{f.password.errors.minlength.actualLength}}.</label>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="f.cpassword.invalid && (f.cpassword.dirty || f.cpassword.touched)">
                        <label for="cpassword">Confirm Password</label>
                        <input type="password" formControlName="cpassword"  placeholder="Retype Password" class="form-control" id="cpassword" />
                    </div>
                    
                    <div *ngIf="f?.cpassword?.errors && f?.cpassword?.touched" class="text-danger">
                       
                           <label *ngIf="f?.cpassword?.errors?.required" class="error">Confirm password is required</label>  </div>
                        <label *ngIf="f?.cpassword?.errors?.matchPassword">New password and Confirm password didn't match. </label>
                      
                      <label class="text-danger"class="error"
                      *ngIf="f['cpassword'].hasError('NoPassswordMatch') && f?.cpassword?.touched">
                      New password and Confirm password didn't match.
                    </label>
                </div>
            </div>
            <div class="text-right">
                <a href="javascript:void(0)" class="text-info small">Help? Contact Support</a>
            </div>
            <button [disabled]="changePasswordForm.invalid" class="btn btn-primary btn-cons m-t-10" type="submit" (click)="changePassword()">Change Password</button>
        </form>

    </div>
</div>