<div class="row">
    <ng-container *ngFor="let product of productList">
        <ng-container *ngIf="product?.status === 'Approved'">
            <div class="col-md-4">
                <div class="card mt-2 shadow p-2 container-fluid" style="width: auto">
                    <i class="pg-icon">heart</i>
                    <div id="carouselExampleSlidesOnly" class="carousel slide border" data-bs-ride="carousel" style="height: 40vh">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img [src]="baseUrl+product?.image[0]" class="d-block img-size" alt="..." />
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="p-0 mb-0">
                            <a href=""> {{ product.name }} </a>
                        </h2>
                        <span>
              <p>Minimum Order Quantity {{ product.minimumOrderQuantity }}</p>
              <p>Minimum Price {{ product.minimumPrice }}</p>
            </span>
                        <span class="mt-3 mb-3 d-flex align-items-center justify-content-center">
              <b class="bg-muted">{{ product.year }}YRS&nbsp;</b>
              <i class="pg-icon">star</i>&nbsp;
              <a class="text-muted" href="#"
                >{{ product.supplier }}
                Supplier>
              </a>
            </span>
                    </div>
                    <div class="border-top py-2 d-flex align-items-center">
                        <button class="rounded-pill btn btn-primary" (click)="navigateToSeller(product)">
              Contact Supplier
            </button>
                        <button *ngIf="!findProducts(product.productId)" class="btn btn-primary mx-2" (click)="handleAddProduct(product)">
              <i class="fa fa-plus" aria-hidden="true"></i> Add
            </button>
                        <p *ngIf="findProducts(product.productId)">
                            <i class="fa fa-check mx-2" style="color: green" aria-hidden="true"></i>
                        </p>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <i class="pg-icon">comment</i>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>