<div class="container-fluid ">
     <div class="d-flex flex-row ml-0">
         <div class="p-2 ml-1 bg-white"><button>All</button></div>
         <div class="p-2 ml-1 bg-white"><button>Customization</button></div>
         <div class="p-2 ml-1 bg-white"><button>Ready to Ship</button></div>
         <div class="p-2 ml-1 bg-white"><button>Over Stock</button></div>
     </div>
    <div class="row">
        <div class="col-md-2 bg-white mt-1">
            <app-product-search-categories></app-product-search-categories>
        </div>
        <div class="col-md-10">
            <app-product-search-filter></app-product-search-filter>
                <div class="d-flex flex-row-reverse  ">
                    <div class="p-2 ">
                        <i class="pg-icon">grid_alt</i>
                    </div>
                    <div class="p-2 ">
                        <i class="pg-icon">menu</i>
                    </div>
                </div>
                <div class="d-flex align-content-start flex-wrap">
                    <alert class="ml-1" type="info" [dismissible]="true">
                        <strong>jacket</strong>
                    </alert>
                    <alert class="ml-1" type="info" [dismissible]="true">
                        <strong> Ready to Ship</strong>
                    </alert>
                </div>
            <app-product-search-card></app-product-search-card>
            <app-product-search-card-list></app-product-search-card-list>
        </div>
    </div>
</div>