<!-- <p>page-category-view works!</p>
<div class="card card-transparent">
    <div class="card-header ">
        <div class="card-title">Pages condensed Table
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <ngx-datatable class='table table-condensed' [rows]="condensedTableData"
                [columnMode]="columnModeSettingSmall" [scrollbarH]="scrollBarHorizontal" [headerHeight]="43"
                [footerHeight]="0" [rowHeight]="44" [limit]="5" [sorts]="[{prop: 'title', dir: 'asc'}]">
                <ngx-datatable-column name="Title" cellClass="d-flex align-items-center"></ngx-datatable-column>
                <ngx-datatable-column name="Places" cellClass="d-flex align-items-center">
                </ngx-datatable-column>
                <ngx-datatable-column name="Condensed" cellClass="d-flex align-items-center">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div class="text-truncate">
                            {{value}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div> -->