<div class="conatiner-fluid p-3 h-100">
    <div class="card card-transparent 100vw">
        <div class="card-body">
            <div class="table-responsive">
                <ngx-datatable class='table table-condensed' [rows]="condensedTableData"
                    [columnMode]="columnModeSettingSmall" [scrollbarH]="scrollBarHorizontal" [headerHeight]="43"
                    [footerHeight]="0" [rowHeight]="44" [limit]="5" [sorts]="[{prop: 'title', dir: 'asc'}]">
                    <ngx-datatable-column name="Listed Categories" cellClass="d-flex align-items-center">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Sub Categories" cellClass="d-flex align-items-center">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Listed Suppliers" cellClass="d-flex align-items-center">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Listed Verified Suppliers" cellClass="d-flex align-items-center">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Listed Products" cellClass="d-flex align-items-center">

                    </ngx-datatable-column>

                    <ngx-datatable-column name="Status" cellClass="d-flex align-items-center">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Edit" cellClass="d-flex align-items-center">
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>