<div class="container">
    <div class="containerOne">
        <h1 class="heading">It’s easy to use</h1>
        <h4 class="paragraph">The Bizzexpo.com platform is very easy to navigate, <br> and the buying process is much
            more
            straightforward <br> than
            it is when you place an order on a paper form or over <br>the phone.
            Buyers can find products from search box,<br> you can message sellers directly to negotiate <br> prices or
            customize
            your products. Obviously,<br> there are a few more steps involved here, but it is still <br> very
            straightforward.
        </h4>
        <button aria-label="" class="btn btn-complete mt-2">Complete</button>
    </div>
    <div class="containerTwo">
        <img src="../../../../assets/assets/img/searches.jpg" class="rightImg">

    </div>

    <div class="containerThree">
        <img src="../../../../assets/assets/img/list.jpg" class="leftImg">
        <div class="containerThreeContent">
            <h3 class="containerThreePara">You Can Follow few simple steps <br> to find the products.
            </h3>
            <div class="verticalLine px-2">
                <h4 class="mt-4">Create an account
                </h4>
                <h4>Search and find products</h4>
                <h4>Negotiate deals
                </h4>
                <h4>Place your order
                </h4>
            </div>

        </div>
    </div>
</div>