.heading{
    padding-top: 135px;
    font-size: 50px;
    color: black;
}
.paragraph{
    padding-top: 35px;
    font-size: 15px;
}
.btn-complete{
    width: 200px;
    height: 50px;
}
.containerTwo{
    float: right;
    margin-top: -380px;
}
.rightImg{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.containerThree{
    padding-top: 150px;
    height: 700px;
}
.leftImg{
    width: 500px;
    height: 300px;
    float: left;
}
.containerThreeContent{
  float: right;
    
}
.containerThreePara{
   color: black; 
}
.verticalLine{
   border-left:2px solid rgb(26, 67, 192) ; 
}