<div class=" bg-white m-3 p-3 shadow-sm">
    <h4>
        {{ sellerDetails.sellerDetails.company}}
    </h4>
</div>

<div class=" bg-white m-3 p-3 shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- 1 table -->
                <table>
                    <tr>
                        <td>
                            <b>
                                TAR
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                PAN
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                GST No.
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Import Export Code
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Year Of Establishment
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Main Category
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Main Product </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Company Address
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
                </div>
                <!-- 2 table -->
                <div class="col-md-6">
                    <table>

                    <tr>
                        <td>
                            <b>
                                Country
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                State
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                City </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Landline Number </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Mobile Number </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Email
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Division
                                </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Checked</b>
                        </td>
                        <td>
                            <input type="checkbox">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class=" bg-white m-3 p-3 shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- 1 table -->
                <table>
                    <tr>
                        <td>
                            <b>
                                First Name </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Last Name
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Designation
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Email
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Alternative Email </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Company Website </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Google Business </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Facebook Business
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Instagram Business
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Account Number
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Account Type </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Bank Name </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Bank Branch </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
                </div>
                <!-- 2 table -->
                <div class="col-md-6">
                    <table>

                    <tr>
                        <td>
                            <b>
                                IFSC Code
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                SWIFT Code </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td>
                            <b>
                                Language Spoken </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Company Mission and Vision </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Company Philosophy </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Company Detailed Introduction</b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Trade Name</b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Host </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Start Date </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                End Date </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Region </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                City </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                About The Trade show </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Checked</b>
                        </td>
                        <td>
                            <input type="checkbox">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class=" bg-white m-3 p-3 shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- 1 table -->
                <table>
                    <tr>
                        <td>
                            <b>
                                Export Contribution Percentage
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Nearest Port
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Exporting Science
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Export Contribution Percentage
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                North America
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Western Europe
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Eastern Asia
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                South America
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Northan Europe
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
                </div>
                <!-- 2 table -->
                <div class="col-md-6">
                    <table>

                    <tr>
                        <td>
                            <b>
                                Africa
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Central America</b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Southern Europe </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Middile East</b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Eastern Europe
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                South Asia</b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Gulf
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Local and Domestic Market

                            </b>
                            </td>
                            <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Checked
                                </b>
                        </td>
                        <td>
                            <input type="checkbox">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class=" bg-white m-3 p-3 shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- 1 table -->
                <h6>Certificate You Have</h6>

                <table>
                    <tr>
                        <td>
                            <b>
                                Date of Expiration
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Type of Certification
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                </table>
                </div>
                <!-- 2 table -->
                <div class="col-md-6">
                    <table>

                    <tr>
                        <td>
                            <b>
                                Certificate Number
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Certificate Issuer
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Checked </b>
                        </td>
                        <td>
                            <input type="checkbox">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class=" bg-white m-3 p-3 shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- 1 table -->
                <table>
                    <tr>
                        <td>
                            <b>
                                Whether to demostrate Quality Control Process
                            </b>
                        </td>
                        <td>
                            No
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Process Name
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                </table>
                </div>
                <!-- 2 table -->
                <div class="col-md-6">
                    <table>

                    <tr>
                        <td>
                            <b>
                                Description
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Cheked </b>
                        </td>
                        <td>
                            <input type="checkbox">

                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</div>

<div class=" bg-white m-3 p-3 shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- 1 table -->
                <table>
                    <tr>
                        <td>
                            <b>
                                Whether to demostrate Quality Control Process
                            </b>
                        </td>
                        <td>
                            Yes
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Certificate Name
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Certified By
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>


                </table>
            </div>
            <!-- 2 table -->
            <div class="col-md-6">
                <table>
                    <tr>
                        <td>
                            <b>
                                Business Scope
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Start Date
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                End Date
                            </b>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Checked
                            </b>
                        </td>
                        <td>
                            <input type="checkbox">
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div>
        <button class="btn btn-success m-3">Approve</button>
    </div>
    <div>
        <button class="btn btn-danger m-3">Review</button>
        </div>
        <div>
            <button class="btn btn-danger m-3">Deactivate</button>
    </div>
</div>