<div class="container">
    <div class="sectionOne">
        <div class="containerOne">
            <h1 class="heading">Request <br> for Quote (RFQ)
            </h1>
            <p class="paragraph">A request for quote (RFQ), also known as an invitation <br> for bid (IFB), is a process
                in
                which a company solicits <br> select suppliers and contractors to submit price <br> quotes and bids for
                the
                chance
                to
                fulfill certain tasks <br> or projects. The RFQ process is especially important <br>to businesses that
                need
                a
                consistent supply of a specific <br> number of standard products. Companies may send <br> RFQs alone or
                before a
                request for proposal (RFP).

            </p>
            <div class="buttonDiv">
                <button aria-label="" class="btn btn-complete mt-2">Request for quote</button>
                <button aria-label="" class="btn btn-complete mt-2 ms-2">Need Help</button>
            </div>

        </div>
        <div class="containerTwo">
            <img src="../../../../assets/assets/img/learn-business.jpg" class="rightImg">

        </div>


        <div class="sectionTwo">
            <h2 class="headingTwo">Ask to multiple Supplier to fulfill <br> your request
            </h2>
            <p class="sectionTwoPara">Suppliers will submit price quotes for the <br> chance to fulfil certain
                tasks <br> or
                delivery.
            </p>
        </div>
    </div>



</div>