<div class="row">
    <div class="col-2">

    </div>
    <div class="col-10">
        <div class="container">
            <div class="card">
                <div class="row justify-content-between">
                    <div>
                        <h5 class="m-4">Category List</h5>
                    </div>
                    <div>
                        <button class="btn btn-primary m-4" (click)="navigateToAdd()">Add</button>
                    </div>
                </div>
                <table class="table table-bordered">

                    <tr class="pl-0 pr-0">
                        <th> Category</th>
                        <th>Sub-categories</th>
                        <th>Tags</th>
                        <th>Description</th>
                        <th>Keywords</th>
                        <th col="2">Edit</th>
                    </tr>



                    <tbody>
                        <tr *ngFor="let item of categoryList">
                            <td>{{item.category}}</td>
                            <td>{{item.category}}</td>
                            <td>{{item.tags}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.keywords}}</td>
                            <td class="p-1">


                                <div class="flex p-0">

                                    <button class="btn btn-primary  m-1"> Edit</button>

                                    <button class="btn btn-danger m-1">Delete</button>
                                </div>

                            </td>
                        </tr>

                    </tbody>


                </table>
            </div>
        </div>
    </div>
</div>