<pgcard TimeOut="3000"
    AdditionalClasses="widget-2 card no-border bg-primary widget widget-loader-circle-lg no-margin full-height"
    MinimalHeader="true" RefreshColor="light">
    <div class="pull-bottom bottom-left bottom-right padding-25">
        <span class="label font-montserrat fs-11">NEW</span>
        <br>
        <h3 class="text-white">Fashion is part of the daily air and it changes all the time.</h3>
        <p class="text-white hint-text d-none d-lg-block d-xl-block d-none d-lg-block d-xl-block no-margin">Explore More
        </p>
    </div>
</pgcard>