<app-header1></app-header1>
<div class="container m-0 p-5">
    <!-- first section -->
    <div class="row">
        <div class="supportHeadingContainer">
            <h1 class="supportHeading">Contact us <br> to create your<br> business account</h1>
            <p class="supportParagraph">Our executives are available to <br>provide help with creating your new <br> business catalogue. Don’t hesitate <br> to connect with us.
            </p>
        </div>
        <div class="supportContactContainer">
            <img src="../../../../assets/assets/img/buyer-seller.jpg" class="avtar">
            <div class="mt-4">
                <span class="callIcon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <span class="callNumber"> +91-9999678103
                </span>
            </div>
            <p class="supportParagraphTwo">Get help setting up your account:</p>
            <p class="mt-2">Mon—Sat, 9:00am—6:00pm IST</p>
        </div>
    </div>
    <div class="">
        <div class="sectionTwoContainer">
            <h2 class="sectionTwoHeading">SET UP A NEW ACCOUNT</h2>
            <h3 class="sectionThreeHeading">“TO make the process easy you can go through our video.It will help you step by step.”
            </h3>
            <h4 class="sectionThreeHeading">Video to help you
            </h4>
            <div class="videoSection"></div>
        </div>


    </div>
</div>
<!-- section two -->

<app-footer1></app-footer1>
<!-- <div class="mt-5" style="height:100px; color: red; background-color: black;">
    Footer
</div> -->