<div class="container-fluid p-3 bg-white ">
    <h3>Product Information</h3>
    <form class="p-t-15" role="form" [formGroup]="productInformationForm">
        <div class="row">
            <div class="col-md-12">
                <div pgFormGroupDefault class="form-group form-group-default"
                    [class.has-error]="f.productName.invalid && (f.productName.dirty || f.productName.touched)">
                    <label for="product-name">Product Name</label>
                    <input type="text" formControlName="productName" placeholder="Enter Product Name"
                        class="form-control" id="product-name" />
                </div>
                <div *ngIf="f.productName.invalid && (f.productName.dirty || f.productName.touched)">
                    <label *ngIf="f.productName.errors.required" class="error">This field is required.</label>
                </div>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="col-md-3">
                <label for="product-type">Type of Product</label>
            </div>
            <div class="col-md-2">
                <div class="form-check ">
                    <input type="checkbox" id="regular-product">
                    <label for="regular-product">
                        Regular Product </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check ">
                    <input type="checkbox" id="overstock">
                    <label for="overstock">
                        Overstock </label>
                </div>
            </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <label for="product-brand">Is product is under any brand?</label>
                </div>
                <div class="col-md-2">
                    <div class="form-radio">
                        <input type="radio" name="product-brand" id="product-brand-yes">
                        <label class="ml-1" for="product-brand-yes">
                            Yes </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-radio">
                        <input type="radio" name="product-brand" id="product-brand-no">
                        <label class="ml-1" for="product-brand-no">
                            No </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                <div pgFormGroupDefault class="form-group form-group-default"
                    [class.has-error]="f.brandName.invalid && (f.brandName.dirty || f.brandName.touched)">
                    <label for="product-name">Brand Name</label>
                    <input type="text" formControlName="brandName" placeholder="Enter Brand Name" class="form-control"
                        id="brand-name" />
                </div>
                <div *ngIf="f.brandName.invalid && (f.brandName.dirty || f.brandName.touched)">
                    <label *ngIf="f.brandName.errors.required" class="error">This field is required.</label>
                </div>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary mt-2">Approval</button>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="form-group tag-group form-group-default required ">
                            <label>Product Keywords</label>
                            <pg-tag-control [(ngModel)]="tags"></pg-tag-control>
                        </div>
                    </div>
             </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-group-default form-group-default-select2">
                    <label for="seller-own-category">Seller Own Category</label>
                    <pg-select style="width: 100%;" id="product-category" [Mode]="'multiple'" [PlaceHolder]="'Select'"
                        formControlName="sellerOwnCategorySelect" [NotFoundContent]="'Not found'">
                        <pg-option *ngFor="let option of searchOptions" [Label]="option.label" [Value]="option.value"
                            [Disabled]="option.disabled">
                        </pg-option>
                    </pg-select>
                </div>
                <div *ngIf="f.sellerOwnCategorySelect.invalid && (f.sellerOwnCategorySelect.dirty ||
                    f.sellerOwnCategorySelect.touched)">
                    <label *ngIf="f.sellerOwnCategorySelect.errors.required" class="error">This field is
                        required.</label>
                </div>
                </div>
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="f.sellerOwnCategoryCreate.invalid && (f.sellerOwnCategoryCreate.dirty ||
                            f.sellerOwnCategoryCreate.touched)">
                        <label for="seller-own-category-create">Or Creates</label>
                        <input type="text" formControlName="sellerOwnCategoryCreate" placeholder="Enter Prduct keywords"
                            class="form-control" id="seller-own-category-create" />
                    </div>
                    <div *ngIf="f.sellerOwnCategoryCreate.invalid && (f.sellerOwnCategoryCreate.dirty ||
                    f.sellerOwnCategoryCreate.touched)">
                        <label *ngIf="f.sellerOwnCategoryCreate.errors.required" class="error">This field is
                            required.</label>
                    </div>
                </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="f.placeOfOrigin.invalid && (f.placeOfOrigin.dirty ||
                         f.placeOfOrigin.touched)">
                            <label for="place-of-origin">Place of Origin</label>
                            <input type="text" formControlName="placeOfOrigin" placeholder="Enter Place of origin"
                                class="form-control" id="place-of-origin" />
                        </div>
                        <div *ngIf="f.placeOfOrigin.invalid && (f.placeOfOrigin.dirty || f.placeOfOrigin.touched)">
                            <label *ngIf="f.placeOfOrigin.errors.required" class="error">This field is
                                required.</label>
                        </div>
                </div>
                    <div class="col-md-6">
                        <div pgFormGroupDefault class="form-group form-group-default"
                            [class.has-error]="f.modelNo.invalid && (f.modelNo.dirty || f.modelNo.touched)">
                            <label for="model-no">Model No.</label>
                            <input type="text" formControlName="modelNo" placeholder="Enter Model No."
                                class="form-control" id="model-no" />
                        </div>
                        <div *ngIf="f.modelNo.invalid && (f.modelNo.dirty || f.modelNo.touched)">
                            <label *ngIf="f.modelNo.errors.required" class="error">This field is required.</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div pgFormGroupDefault class="form-group form-group-default"
                    [class.has-error]="f.otherDetails.invalid && (f.otherDetails.dirty || f.otherDetails.touched)">
                    <label for="other-details">Other Details</label>
               <div class="row">
                   <div class="col-md-6">
                       <input type="text" formControlName="otherDetails" placeholder="Enter Details"
                           class="form-control" id="other-details" />
                   </div>
                   <div class="col-md-6">
                       <input type="text" formControlName="otherDetails" placeholder="" class="form-control"
                           id="other-details" />
                   </div>
                   </div>
                </div>
                <div *ngIf="f.otherDetails.invalid && (f.otherDetails.dirty || f.otherDetails.touched)">
                    <label *ngIf="f.otherDetails.errors.required" class="error">This field is required.</label>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary m-1 "> Add+</button>
                <button class="btn btn-danger  m-1">Remove</button>
            </div>
        </div>
    </form>
</div>