<div class="container d-flex flex-column align-items-center">
  <h4 class="mt-4 mb-4">Company Profile</h4>

  <div class="row">
    <div class="col-md-12 ">
      <form>
        <div class="border">
          <div class="row mb-4">

            <div class="col-md-4 ">
              <label for="">Company Name<span>*</span></label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-4 ">
              <label for="">PAN <span>*</span></label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-4 ">
              <label for="">TAN</label>
              <input type="text" class="form-control">
            </div>


          </div>
          <div class="row ms-4">
            <div class="col-md-4">
              <label for="">GST Number</label>
              <input type="number" class="form-control">
            </div>
            <div class="col-md-4">
              <label for="">Import Export Code(ICE)</label>
              <input type="text" class="form-control">

            </div>
            <div class="col-md-4">
              <label for="">Year Of Establishment<span>*</span></label>
              <input type="date" class="form-control">

            </div>
          </div>

          <div class="row ms-4 mt-2">
            <div class="col-md-4">
              <label for="">Main Category <span>*</span></label><br>
              <select class="form-select">
                <option selected class=""> select Category</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="">Main Products <span>*</span></label>
              <input type="text" class="form-control">

            </div><button type="" class="border-0 btn btn-primary addBtn px-3 ">Add</button>

          </div>

        </div>
        <div class="mt-4">
          <div class="row border">
            <div class="col-md-12">
              <div class="col-md-6">
                <h4>Registered Address</h4>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="">Business Registration Certificate <span>*</span></label>
                  <input type="file" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">Landline Number</label>
                  <input type="number" class="form-control">
                </div><button type="" class="border-0 btn btn-primary addBtn px-3 ">Add</button>
                <div class="col-md-4 mt-2">
                  <label for="">Mobile Number <span>*</span></label>
                  <input type="number" class="form-control">
                </div><button type="" class="border-0 btn btn-primary addBtnTwo px-3">Add</button>
              </div>
            </div>
          </div>
        </div>
        <!-- <button type="submit" class="border-0 btn btn-primary mt-2 mb-3">Add</button> -->

        <div class="mt-4">
          <div class="row border">
            <div class="col-md-12">
              <div class="col-md-6">
                <h4>Additional Contact Detail</h4>
              </div>

              <h6>Division<span>*</span></h6>
              <div class="row">

                <div class="col-md-4">
                  <label for="">Branch </label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">Network</label>
                  <input type="number" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">Factory</label>
                  <input type="number" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">International Office </label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">Manufacturing</label>
                  <input type="number" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">Showroom</label>
                  <input type="number" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">Sister Cocern </label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">Tranding Division</label>
                  <input type="number" class="form-control">
                </div>
                <div class="col-md-4 mt-2">
                  <label for="">Wharehouse</label>
                  <input type="number" class="form-control">
                </div>
              </div>


              <h6>Area/Size<span>*</span></h6>
              <div class="row">

                <div class="col-md-4">
                  <label for="">Square Meters </label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">Square feet</label>
                  <input type="number" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">Square yard</label>
                  <input type="number" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">Acre Office </label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="">Hectare</label>
                  <input type="number" class="form-control">
                </div><br>



                <div class="mt-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-6">
                        <h6>Factory Country/Region</h6>
                      </div>


                      <div class="row">

                        <div class="col-md-4">
                          <label for="">Country <span>*</span></label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4">
                          <label for="">State</label>
                          <input type="number" class="form-control">
                        </div>
                        <div class="col-md-4">
                          <label for="">Phone</label>
                          <input type="number" class="form-control">
                        </div>
                        <div class="col-md-4">
                          <label for="">Email </label>
                          <input type="text" class="form-control">
                        </div>

                        <div class="col-md-4">
                          <label for="">Contact Person </label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4">
                          <label for="">Annual Turnover </label>
                          <input type="text" class="form-control">
                        </div>






                      </div>




                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>



      </form>
    </div>
  </div>
</div>
