<div class="pl-3 pr-3">
    <div class="row bg-gray">
        <div class="col-md-3 p-2">
            <img src="https://rukminim1.flixcart.com/image/150/150/l2f20sw0/cookware-set/h/1/5/3-kan-8pcs-kreme-original-imagdrntmzjuvhpj.jpeg?q=70"
                alt="..." class="img-thumbnail">
        </div>
        <div class="col-md-6 p-2">
            <p class="border-left pl-1"> 2022-05-24 13:18ID:
                13018893469</p>
            <p class="pl-1"><span><b>Quantity Required</b></span>1Piece(s)</p>
        </div>
        <div class="col-md-3">
            <p class=""><b>Status</b></p>
            <p class="text-primary pt-2">Approved</p>
        </div>
    </div>
    <div class="row bg-light-gray">
        <div class="col-md-3 p-2">
            <img src="https://rukminim1.flixcart.com/image/150/150/l2f20sw0/cookware-set/h/1/5/3-kan-8pcs-kreme-original-imagdrntmzjuvhpj.jpeg?q=70"
                alt="..." class="img-thumbnail">
        </div>
        <div class="col-md-3 p-2">
            <p class="pl-1"><b>Replies</b></p>
            <p class="border-left pl-1">2022-05-24 13:18ID: 13018893469</p>
            <p class="pl-1">
                <span>1000 Piece(s)</span>
                <span class="pl-1">MOQ</span><span class="pl-1">100$</span>
            </p>
        </div>
        <div class="col-md-3">
            <h6>Allen Liang</h6>
            <p>Shenzhen Yijing Technology Co., Ltd.</p>
        </div>
        <div class="col-md-3 pt-1 pt-1">
            <button class="btn btn-primary">Chat Now</button>
            <p class="text-orange pt-2">View Message</p>
        </div>
    </div>
</div>