<div class="register-container h-auto py-5">
  <div class="d-flex justify-content-center flex-column">
    <img src="assets/img/logo.png" alt="logo" pgRetina src1x="assets/img/logo.png" src2x="assets/img/logo_2x.png"
      width="78" height="22" />
    <h3>Create Account On Bizzexpo</h3>
    <form class="p-t-15" role="form" [formGroup]="signUpForm">
      <div class="row">
        <div class="col-md-12">
          <div pgFormGroupDefault class="form-group form-group-default"
            [class.has-error]="f.company.invalid && (f.company.dirty || f.company.touched)">
            <label for="company">Company Name</label>
            <input type="text" formControlName="company" placeholder="Enter Company Name" class="form-control"
              id="company" />
          </div>
          <div *ngIf="f.company.invalid && (f.company.dirty || f.company.touched)">
            <label *ngIf="f.company.errors.required" class="error">This field is required.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="company">Company Name</label>
          <div class="d-flex align-items-center">
            <div class="form-radio mr-5">
              <input type="radio" formControlName="role" value="buyer" id="user-type-buyer-buyer">
              <label class="ml-2" for="user-type-buyer-buyer">Buyer</label>
            </div>
            <div class="form-radio mr-5">
              <input type="radio" formControlName="role" value="seller" id="user-type-buyer-buyer">
              <label class="ml-2" for="user-type-buyer-buyer">Seller</label>
            </div>
            <div class="form-radio mr-5">
              <input type="radio" formControlName="role" value="both" id="user-type-buyer-buyer">
              <label class="ml-2" for="user-type-buyer-buyer">Both</label>
            </div>
          </div>
          <div *ngIf="f.role.invalid && (f.role.dirty || f.role.touched)">
            <label *ngIf="f.role.errors.required" class="error">This field is required.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div pgFormGroupDefault class="form-group form-group-default"
            [class.has-error]="f.fName.invalid && (f.fName.dirty || f.fName.touched)">
            <label for="fName">First Name</label>
            <input type="text" formControlName="fName" placeholder="Enter First Name" class="form-control" id="fName" />
          </div>
          <div *ngIf="f.fName.invalid && (f.fName.dirty || f.fName.touched)">
            <label *ngIf="f.fName.errors.required" class="error">This field is required.</label>
          </div>
        </div>
        <div class="col-md-6">
          <div pgFormGroupDefault class="form-group form-group-default"
            [class.has-error]="f.lName.invalid && (f.lName.dirty || f.lName.touched)">
            <label for="lName">Last Name</label>
            <input type="text" formControlName="lName" placeholder="Enter Last Name" class="form-control" id="lName" />
          </div>
          <div *ngIf="f.lName.invalid && (f.lName.dirty || f.lName.touched)">
            <label *ngIf="f.lName.errors.required" class="error">This field is required.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div pgFormGroupDefault class="form-group form-group-default"
            [class.has-error]="f.email.invalid && (f.email.dirty || f.email.touched)">
            <label for="email">Email Address</label>
            <input type="email" formControlName="email" placeholder="Enter Email Address" class="form-control"
              id="email" />
          </div>
          <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
            <label *ngIf="f.email.errors.required" class="error">This field is required.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div pgFormGroupDefault class="form-group form-group-default"
            [class.has-error]="f.password.invalid && (f.password.dirty || f.password.touched)">
            <label for="password">Password</label>
            <input type="password" formControlName="password" placeholder="Enter Password" class="form-control"
              id="password" />
          </div>
          <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
            <label *ngIf="f.password.errors.required" class="error">This field is required.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div pgFormGroupDefault class="form-group form-group-default"
            [class.has-error]="f.cpassword.invalid && (f.cpassword.dirty || f.cpassword.touched)">
            <label for="cpassword">Confirm Password</label>
            <input type="password" formControlName="cpassword" placeholder="Retypr Password" class="form-control"
              id="cpassword" />
          </div>
          <div *ngIf="f.cpassword.invalid && (f.cpassword.dirty || f.cpassword.touched)">
            <label *ngIf="f.cpassword.errors.required" class="error">This field is required.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div pgFormGroupDefault class="form-group form-group-default"
            [class.has-error]="f.country.invalid && (f.country.dirty || f.country.touched)">
            <label for="country">Country</label>
            <input type="text" formControlName="country" placeholder="Enter Country Here" class="form-control"
              id="country" />
          </div>
          <div *ngIf="f.country.invalid && (f.country.dirty || f.country.touched)">
            <label *ngIf="f.country.errors.required" class="error">This field is required.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div pgFormGroupDefault class="form-group form-group-default"
            [class.has-error]="f.address1.invalid && (f.address1.dirty || f.address1.touched)">
            <label for="address1">Address 1</label>
            <input type="text" formControlName="address1" placeholder="Enter Address 1" class="form-control"
              id="address1" />
          </div>
          <div *ngIf="f.address1.invalid && (f.address1.dirty || f.address1.touched)">
            <label *ngIf="f.address1.errors.required" class="error">This field is required.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div pgFormGroupDefault class="form-group form-group-default"
            [class.has-error]="f.address2.invalid && (f.address2.dirty || f.address2.touched)">
            <label for="address2">Address 2</label>
            <input type="text" formControlName="address2" placeholder="Enter Address 2" class="form-control"
              id="address2" />
          </div>
          <div *ngIf="f.address2.invalid && (f.address2.dirty || f.address2.touched)">
            <label *ngIf="f.address2.errors.required" class="error">This field is required.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div pgFormGroupDefault class="form-group form-group-default"
            [class.has-error]="f.phone.invalid && (f.phone.dirty || f.phone.touched)">
            <label for="phone">Mobile Number</label>
            <input type="text" formControlName="phone" placeholder="Enter Address 2" class="form-control" id="phone" />
          </div>
          <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)">
            <label *ngIf="f.phone.errors.required" class="error">This field is required.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p>
            <small>I agree to abide by the
              <a href="javascript:void(0)" class="text-info">Bizzexpo.com Membership</a>
              &
              <a href="javascript:void(0)" class="text-info">Agreement</a>.</small>
          </p>
        </div>
        <div class="col-lg-6 text-right">
          <a href="javascript:void(0)" class="text-info small">Help? Contact Support</a>
        </div>
      </div>
      <button class="btn btn-primary btn-cons" type="submit" [class.disabled]="signUpForm.invalid"
        (click)="subSignUpForm()">
        Submit
      </button>
    </form>
  </div>
</div>