<div class="container-fluid p-3 bg-white">
    <h3></h3>
    <form class="p-t-15" role="form" [formGroup]="findYourProductForm">

        <h3>Find your products in catalog</h3>

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 ">
                <div class="form-group input-group ">
                    <input type="text" formControlName="search" placeholder="Search Your Product with the Product name"
                        class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text primary"><i class="pg-icon">search</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>

    </form>
</div>