<div class ="container">
    <div class="row align-items-center" style="height:400px">
      <div class="col-lg-12 col-md-8 col-12">
        <h1 style="font-size:60px">Elevate your business with expert portfolio management service. </h1>
      </div>
    </div>
    <div class="row">
        <div class=" col-md-12">
            <h2>
                Simplify the process of showcasing your products with BizzExpo's cataloguing service. No more time constraints or difficulties in listing. Request the service today and let us handle the rest. With the use of this service, you may present your business's offerings to potential clients in a professional manner.
            </h2>
        </div>
      </div>
   
    <p>
        Contact BizzExpo to request the cataloguing service right now.
    </p>
    <a class="link" (click)="request()">
        Request For your Cataloging Service 
    </a>

   <ul>

      <h6>To join the Bizzexpo marketplace and establish a successful online business, you will need the following four things:</h6>
      <ul>
        <li>Documents to start an online business, including your GST and PAN numbers.</li>
        <li>
            Contact details, such as your phone number and email address, which will be verified and used to connect with customers and receive order notifications.
        </li>
        <li>A GST number, which is required under India's indirect taxation system.</li>
        <li>Bank account details, including the IFSC code, to receive payments for sales made on Bizzexpo.</li>
        <li>If you're unsure of where to start, you can refer to Bizzexpo's 'Start Selling Guide' to register and begin selling on the platform.</li>
       
      </ul>
      <h6>
        When adding your products to our catalog, our Product Listing partner will request the following information:
      </h6>
      <ol>
        <li>1.	Brand Name (if have any): 
            <ul>
                <li>
                    You will need to provide brand specifications for selling under any brand, including a registered trademark (text-based or image-based mark with words, letters, or numbers) if the product is your own, 
                </li>
                <li>
                    Or brand authorization from the brand owner if you are selling other company's brand.
                </li>
            </ul>
        </li>
        <li>
            Product Term: A short and simple title that describes the product being offered, like "Caliber Men's Cotton Varsity Jacket (Pack of 2)".
        </li>
        <li>
            Product Images: A high-definition pictures of the item shot from different angles against a white background.
        </li>
        <li>
            Product Description:  A brief overview of the product that includes important details.
        </li>
        <li>
            Minimum Order Quantity for the Product (MOQ)
        </li>
        <li>
            Cost of the item
        </li>
        <li>Product Materials</li>
        <li>Product dimensions and weight</li>
        <li>Product Colors</li>
      </ol>
      <p>
        By creating an attractive product detail page with all of these details, customers will have a better experience when browsing on Bizzexpo.com, which will increase the likelihood of them making a purchase.
      </p>
   </ul>
</div>