<form [formGroup]="certificateCenterForm" (keydown.enter)="$event.preventDefault()">
    <ng-container formArrayName="certificates">
        <div class="row">
            <div class="col-md-4">
                <h6>Certificate You Have</h6>
            </div>
            <div class="col-md-4">
                <h6>Date of Expiration</h6>
            </div>
        </div>
        <ng-container *ngFor="let certificateForm of certificates.controls; let i = index;">
            <div class="row mb-2" [formGroup]="certificateForm">
                <div class="col-md-4">
                    <div class="form-check primary">
                        <input type="checkbox" [id]="'certificatesOpt-'+i" formControlName="checked">
                        <label [for]="'certificatesOpt-'+i">{{ certificateForm.get('name').value }}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                        <pg-datepicker ShowTime="true" formControlName="expirtData"></pg-datepicker>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="pg-icon">calendar</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <div class="row">
        <div class="col-12">
            <h6>Other Certifications</h6>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required">
                <label for="certificateType">Type of Certification</label>
                <input certificate="text" placeholder="Type of Certification" class="form-control" id="certificateType"
                    formControlName="certificateType" />
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required">
                <label for="certificateNumber">Certificate Number</label>
                <input certificate="text" placeholder="Certificate Number" class="form-control" id="certificateNumber"
                    formControlName="certificateNumber" />
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required">
                <label for="certificateIssuer">Certificate Issuer</label>
                <input certificate="text" placeholder="Certificate Issuer" class="form-control" id="certificateIssuer"
                    formControlName="certificateIssuer" />
            </div>
        </div>
    </div>
    <div class="mt-4">
        <button [disabled]="isLoading" certificate="submit" class="me-4 btn btn-primary show-notification"
            (click)="subCertificateCenterForm()">
            {{isDataExist? 'Update' : 'Save'}} Certificate Center
        </button>
    </div>
</form>