<h3>Certificate Center</h3>
<form class="p-t-15" role="form" [formGroup]="certificateForm">
    <div class="row">
        <div class="col-md-4">
            <h6>Certificate You Have</h6>
        </div>
        <div class="col-md-4">
            <h6>Date of Expiration</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    ISO
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    BSCI
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    Apple
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    WCA
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    WRAP
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    CE
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    GRS
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    ROHS
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    FCC
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    EMC
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    TUV MARK
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    UL
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    UKCA
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    GOTS
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-check primary">
                <input type="checkbox" id="checkColorOpt2">
                <label for="checkColorOpt2">
                    CPC
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                <pg-datepicker ShowTime="true"></pg-datepicker>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">calendar</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h6>Other Certifications</h6>


        </div>
        <div class="row">
            <div class="col-md-4">
                <div pgFormGroupDefault class="form-group form-group-default required">
                    <label for="person-name">Type of Certification</label>
                    <input type="text" placeholder="Type of Certification" class="form-control" id="person-name" />
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div pgFormGroupDefault class="form-group form-group-default required">
                    <label for="person-name">Certificate number</label>
                    <input type="text" placeholder="Type of Certification" class="form-control" id="person-name" />
                </div>

            </div>
            <div class="col-md-4">
                <div pgFormGroupDefault class="form-group form-group-default required">
                    <label for="person-name">Certificate Issuer</label>
                    <input type="text" placeholder="Type of Certification" class="form-control" id="person-name" />
                </div>

            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-2">
                <label style="margin-left:54px">Company Logo <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-10 mb-4">
                <pg-upload ListType="picture-card" [Preview]="handlePreview">
                    <div class="pic-placeholder">
                        <i class="pg-icon p-b-5">upload</i>
                        <div class="fs-12">Upload</div>
                    </div>
                </pg-upload>
            </div>


        </div>
    </div>
</form>