<div class="conatiner-fluid px-3">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title">ADD PRODUCT</h3>
            <div>
                <button class="btn btn-primary" routerLink="../product-list">Show Products</button>
            </div>
        </div>
        <div class="card-body">
            <app-form-begin-adding-products *ngIf="!isAddingProductWhichNotOnPortal" (handleNotOnPortal)="isAddingProductWhichNotOnPortal = true"></app-form-begin-adding-products>
            <div *ngIf="isAddingProductWhichNotOnPortal" class="card card-transparent ">
                <pg-tabset tabAnimation="slide-left" Type="fillup" extraTabContentClass="bg-white">
                    <pg-tab>
                        <ng-template #TabHeading>
                            <span>Product Information</span>
                        </ng-template>
                        <app-form-product-information></app-form-product-information>
                    </pg-tab>
                    <pg-tab>
                        <ng-template #TabHeading>
                            <span>Product Details</span>
                        </ng-template>
                        <app-form-product-details></app-form-product-details>
                    </pg-tab>
                    <pg-tab>
                        <ng-template #TabHeading>
                            <span>Trade Information</span>
                        </ng-template>
                        <app-form-trade-information></app-form-trade-information>
                    </pg-tab>
                    <pg-tab>
                        <ng-template #TabHeading>
                            <span>Shipping Details</span>
                        </ng-template>
                        <app-form-shipping-details></app-form-shipping-details>
                    </pg-tab>
                </pg-tabset>
            </div>
        </div>
    </div>
</div>