<div class="row p-0  m-0">
    <div class="col-md-4 mb-2">
        <div class="bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Unread Message</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.unReadConversation}}</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Replied</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.repliedMessage}}</h4>
        </div>
    </div>

    <!-- <div class="col-md-4 mb-2">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Buyers I Contacted</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">2</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Deal Closed</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">4</h4>
        </div>
    </div> -->

    <div class="col-md-4  mb-2">
        <div class=" bg-white p-3  shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Chat With Buyes</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.conversation}}</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Added today</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.todayConversation}}</h4>
        </div>

    </div>

    <div class="col-md-4  mb-2">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Listed Products</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.totalProduct}}</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Approved Products</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.verifiedProduct}}</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Unapproved Products</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.unVerifiedProduct}}</h4>
        </div>
    </div>
</div>

<div class="row p-0  m-0 pt-3">


    <!-- <div class="col-md-4 mb-2">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Supplier Profile Reviews</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">10</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Product Reviews</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">3</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Disputes</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">10</h4>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Listed Products</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">10</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Approved Products</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">3</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Unapproved Products</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">10</h4>
        </div>
    </div> -->
</div>