.bg-grey {
  background-color: #FAF9F7;
  color: black;
}

.bg-grey1 {
  background-color: #D7D9DD;
}

.bg-blue {
  background-color: #1A73E8;
  color: white;
}

.btn-outline-primary {
  color: #1A73E8;
  border-color: #1A73E8;
}

.btn-outline-primary:hover {
  color: #f3f3f3;
  border-color: #1A73E8;
  background-color: #2175e280;
}

li {
  text-decoration: none;
}

.mr-7 {
  margin-right: 50px;
}

.text-blue {
  color: #1A73E8;
}

.video {
  margin-bottom: 13px;
}

/* Base styling*/
body {
  background-color: lightgrey;
  max-width: 768px;
  margin: 0 auto;
  padding: 1em 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Popover styling */

a {
  text-decoration: none;
}

.popover__title {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.popover__wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}

.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 200px;
  top: -100px;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}

.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -208px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
  text-align: center;
}