<div class=" card  m-0 p-0">
  


  <div class="card-body m-0 p-0 ">
    <owl-carousel-o [options]="customOptions">
  
        <ng-container *ngFor="let slide of banners;let i = index" class="widget-1">
          <ng-template class="slide" carouselSlide [id]="i" >
            
          <div >
             <div  class="relative">
                <img [src]="imgBaseUrl+slide" style=" height: 360px; width: auto;" >
                <div class="absolute" >
                    <h2 class="">{{ label }}</h2>
                    <p class=" hint-text">{{ description }}</p>
                </div>
             </div>
              
          </div>
          
         
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>  
  </div>
  </div>



  