<div class=" card ">
  


  <div class="">
    <owl-carousel-o [options]="customOptions" class="">
  
        <ng-container *ngFor="let slide of banners;let i = index" class="">
          <ng-template class="slide" carouselSlide [id]="i" >
            
          <div >
             <div  class="relative">
                <img [src]="slide? imgBaseUrl+slide : ''" class="img-size"  >
                <div class="absolute" >
                    <h2 class="">{{ label }}</h2>
                    <p class=" hint-text">{{ description }}</p>
                </div>
             </div>
              
          </div>
          
         
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>  
  </div>
  </div>



  