.modal-body {
    ul {
        margin-left: 0;
        padding-left: 4px;
        padding-top: 4px;
        list-style: none;

        li {
            margin-bottom: 2px;

            >div {
                display: flex;

                div.hideToggleContainer {
                    opacity: 0;
                }
            }

            button {
                margin-right: 4px;
            }
        }

    }
}