<!-- START JUMBOTRON -->
<div data-pages="parallax">
    <div class="container-fluid p-l-25 p-r-25 sm-p-l-0 sm-p-r-0">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ol class="breadcrumb sm-p-b-5 pt-0">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Supplier</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->

<div class="container-fluid p-l-25 p-r-25 sm-p-l-0 sm-p-r-0">
    <div class="p-2 my-2 bg-white d-flex justify-content-start align-items-center">
        <label class="pr-3 mt-2 ms-4">Main Product</label>
        <!-- <p class="text-primary">{{ mainCategoryName }}</p> -->
        <button class="btn btn-warning">{{ mainCategoryName }}</button>
    </div>
    <div class="p-2 my-2 bg-primary d-flex justify-content-between align-items-center">
        <div>
            <span class="pr-2">Account Type</span>
            <!-- <span class="fw-bold text-danger" *ngIf="isVerifiedByAdmin != 'verified'">{{ isVerifiedByAdmin | titlecase }}</span>
            <span class="fw-bold" *ngIf="isVerifiedByAdmin == 'verified'">{{ isVerifiedByAdmin | titlecase }}</span> -->
            <button class="btn btn-warning" *ngIf="isVerifiedByAdmin == 'verified'">{{ isVerifiedByAdmin | titlecase }}</button>
            <button class="btn btn-danger" *ngIf="isVerifiedByAdmin != 'verified'">{{ isVerifiedByAdmin | titlecase }}</button>
        </div>
        <div *ngIf="isVerifiedByAdmin != 'verified'">
            <span class="pr-2">Ask for your Supplier acccount Verification</span>
            <button class="btn btn-warning">Contact Us</button>
        </div>
    </div>
    <app-dashboard-info></app-dashboard-info>
    <app-dashboard-recommended-quotations></app-dashboard-recommended-quotations>
    <app-dashboard-previous-inquiries></app-dashboard-previous-inquiries>
    <app-dashboard-table></app-dashboard-table>
</div>
<!-- END CONTAINER FLUID -->