<form [formGroup]="companyDetailForm" (keydown.enter)="$event.preventDefault()">
    <h4>Contact Person</h4>
    <div class="row">
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.contactPersonEmail.invalid && (f.contactPersonEmail.dirty || f.contactPersonEmail.touched)">
                <label for="contactPersonEmail">First Name</label>
                <input type="text" formControlName="contactPersonEmail" placeholder="Name" class="form-control"
                    id="contactPersonEmail" />
            </div>
            <div *ngIf="f.contactPersonEmail.invalid && (f.contactPersonEmail.dirty || f.contactPersonEmail.touched)">
                <label *ngIf="f.contactPersonEmail.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.contactPersonDesignation.invalid && (f.contactPersonDesignation.dirty || f.contactPersonDesignation.touched)">
                <label for="contactPersonDesignation">Last Name</label>
                <input type="text" formControlName="contactPersonDesignation" placeholder="Surname" class="form-control"
                    id="contactPersonDesignation" />
            </div>
            <div
                *ngIf="f.contactPersonDesignation.invalid && (f.contactPersonDesignation.dirty || f.contactPersonDesignation.touched)">
                <label *ngIf="f.contactPersonDesignation.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.contactPersonDesignation.invalid && (f.contactPersonDesignation.dirty || f.contactPersonDesignation.touched)">
                <label for="contactPersonDesignation">Designation</label>
                <input type="text" formControlName="contactPersonDesignation" placeholder="Surname" class="form-control"
                    id="contactPersonDesignation" />
            </div>
            <div
                *ngIf="f.contactPersonDesignation.invalid && (f.contactPersonDesignation.dirty || f.contactPersonDesignation.touched)">
                <label *ngIf="f.contactPersonDesignation.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.contactPersonEmail.invalid && (f.contactPersonEmail.dirty || f.contactPersonEmail.touched)">
                <label for="contactPersonEmail">Email</label>
                <input type="text" formControlName="contactPersonEmail" placeholder="Email" class="form-control"
                    id="contactPersonEmail" />
            </div>
            <div *ngIf="f.contactPersonEmail.invalid && (f.contactPersonEmail.dirty || f.contactPersonEmail.touched)">
                <label *ngIf="f.contactPersonEmail.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.contactPersonAlternateEmail.invalid && (f.contactPersonAlternateEmail.dirty || f.contactPersonAlternateEmail.touched)">
                <label for="contactPersonAlternateEmail">Alternative Email</label>
                <input type="text" formControlName="contactPersonAlternateEmail" placeholder="Email"
                    class="form-control" id="contactPersonAlternateEmail" />
            </div>
            <div
                *ngIf="f.contactPersonAlternateEmail.invalid && (f.contactPersonAlternateEmail.dirty || f.contactPersonAlternateEmail.touched)">
                <label *ngIf="f.contactPersonAlternateEmail.errors.required" class="error">This field is
                    required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.companyWebsite.invalid && (f.companyWebsite.dirty || f.companyWebsite.touched)">
                <label for="companyWebsite">Company Website</label>
                <input type="text" formControlName="companyWebsite" placeholder="Compny Website" class="form-control"
                    id="companyWebsite" />
            </div>
            <div *ngIf="f.companyWebsite.invalid && (f.companyWebsite.dirty || f.companyWebsite.touched)">
                <label *ngIf="f.companyWebsite.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.googleBusiness.invalid && (f.googleBusiness.dirty || f.facebookBusiness.touched)">
                <label for="googleBusiness">Google Business</label>
                <input type="text" formControlName="googleBusiness" placeholder="Compny Website" class="form-control"
                    id="googleBusiness" />
            </div>
            <div *ngIf="f.googleBusiness.invalid && (f.googleBusiness.dirty || f.googleBusiness.touched)">
                <label *ngIf="f.googleBusiness.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.facebookBusiness.invalid && (f.facebookBusiness.dirty || f.facebookBusiness.touched)">
                <label for="facebookBusiness">Facebook Business</label>
                <input type="text" formControlName="facebookBusiness" placeholder="Compny Website" class="form-control"
                    id="facebookBusiness" />
            </div>
            <div *ngIf="f.facebookBusiness.invalid && (f.facebookBusiness.dirty || f.facebookBusiness.touched)">
                <label *ngIf="f.facebookBusiness.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.instagramBusiness.invalid && (f.instagramBusiness.dirty || f.facebookBusiness.touched)">
                <label for="instagramBusiness">Instagram Business</label>
                <input type="text" formControlName="instagramBusiness" placeholder="Compny Website" class="form-control"
                    id="instagramBusiness" />
            </div>
            <div *ngIf="f.instagramBusiness.invalid && (f.instagramBusiness.dirty || f.instagramBusiness.touched)">
                <label *ngIf="f.instagramBusiness.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <hr>
    <h4>Bank Details</h4>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accIFSCCode.invalid && (f.accIFSCCode.dirty || f.accIFSCCode.touched)">
                <label for="accIFSCCode">Account Number</label>
                <input type="text" formControlName="accIFSCCode" placeholder="Account Number" class="form-control"
                    id="accIFSCCode" />
            </div>
            <div *ngIf="f.accIFSCCode.invalid && (f.accIFSCCode.dirty || f.accIFSCCode.touched)">
                <label *ngIf="f.accIFSCCode.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accType.invalid && (f.accType.dirty || f.accType.touched)">
                <label for="accType">Account Type</label>
                <input type="text" formControlName="accType" placeholder="Account Type" class="form-control"
                    id="accType" />
            </div>
            <div *ngIf="f.accType.invalid && (f.accType.dirty || f.accType.touched)">
                <label *ngIf="f.accType.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accBankName.invalid && (f.accBankName.dirty || f.accBankName.touched)">
                <label for="accBankName">Bank Name</label>
                <input type="text" formControlName="accBankName" placeholder="Bank Name" class="form-control"
                    id="accBankName" />
            </div>
            <div *ngIf="f.accBankName.invalid && (f.accBankName.dirty || f.accBankName.touched)">
                <label *ngIf="f.accBankName.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accBranch.invalid && (f.accBranch.dirty || f.accBranch.touched)">
                <label for="accBranch">Bank Branch</label>
                <input type="text" formControlName="accBranch" placeholder="accBranch" class="form-control"
                    id="accBranch" />
            </div>
            <div *ngIf="f.accBranch.invalid && (f.accBranch.dirty || f.accBranch.touched)">
                <label *ngIf="f.accBranch.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accIFSCCode.invalid && (f.accIFSCCode.dirty || f.accIFSCCode.touched)">
                <label for="accIFSCCode">IFSC Code</label>
                <input type="text" formControlName="accIFSCCode" placeholder="accIFSCCode" class="form-control"
                    id="accIFSCCode" />
            </div>
            <div *ngIf="f.accIFSCCode.invalid && (f.accIFSCCode.dirty || f.accIFSCCode.touched)">
                <label *ngIf="f.accIFSCCode.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accSwiftCode.invalid && (f.accSwiftCode.dirty || f.accSwiftCode.touched)">
                <label for="accSwiftCode">SWIFT Code</label>
                <input type="text" formControlName="accSwiftCode" placeholder="accSwiftCode" class="form-control"
                    id="accSwiftCode" />
            </div>
            <div *ngIf="f.accSwiftCode.invalid && (f.accSwiftCode.dirty || f.accSwiftCode.touched)">
                <label *ngIf="f.accSwiftCode.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.companyLanguageSpoken.invalid && (f.companyLanguageSpoken.dirty || f.companyLanguageSpoken.touched)">
                <label for="companyLanguageSpoken">Language Spoken</label>
                <input type="text" formControlName="companyLanguageSpoken" placeholder="companyLanguageSpoken"
                    class="form-control" id="companyLanguageSpoken" />
            </div>
            <div
                *ngIf="f.companyLanguageSpoken.invalid && (f.companyLanguageSpoken.dirty || f.companyLanguageSpoken.touched)">
                <label *ngIf="f.companyLanguageSpoken.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.companyVision.invalid && (f.companyVision.dirty || f.companyVision.touched)">
                <label for="companyVision">Company Mission and Vision</label>
                <textarea rows="20" type="text" formControlName="companyVision" placeholder="Company Mission and Vision"
                    class="form-control" id="companyVision"></textarea>
            </div>
            <div *ngIf="f.companyVision.invalid && (f.companyVision.dirty || f.companyVision.touched)">
                <label *ngIf="f.companyVision.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.companyPhilosophy.invalid && (f.companyPhilosophy.dirty || f.companyPhilosophy.touched)">
                <label for="companyPhilosophy">Company Philosophy</label>
                <textarea rows="20" type="text" formControlName="companyPhilosophy" placeholder="Company Philosophy"
                    class="form-control" id="companyPhilosophy"></textarea>
            </div>
            <div *ngIf="f.companyPhilosophy.invalid && (f.companyPhilosophy.dirty || f.companyPhilosophy.touched)">
                <label *ngIf="f.companyPhilosophy.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.companyDetail.invalid && (f.companyDetail.dirty || f.companyDetail.touched)">
                <label for="companyDetail">Company Detailed Introduction</label>
                <textarea rows="20" type="text" formControlName="companyDetail"
                    placeholder="Company Detailed Introduction" class="form-control" id="companyDetail"></textarea>
            </div>
            <div *ngIf="f.companyDetail.invalid && (f.companyDetail.dirty || f.companyDetail.touched)">
                <label *ngIf="f.companyDetail.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <hr>
    <!-- <h6>Have you attended or Planed to attand any trade expo?<span class="text-danger">*</span></h6>
    <div class="form-check form-check-inline complete">
        <input type="radio" name="state" id="radioInline" value="Default" checked>
        <label for="radioInline">
            Yes
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" name="state" id="radioDisabled" value="disabled">
        <label for="radioDisabled">
            No
        </label>
    </div> -->

    <div class="row">
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.tradeName.invalid && (f.tradeName.dirty || f.tradeName.touched)">
                <label for="tradeName">Trade Name</label>
                <input type="text" formControlName="tradeName" placeholder="Trade Name" class="form-control"
                    id="tradeName" />
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default"
                [class.has-error]="f.tradeHost.invalid && (f.tradeHost.dirty || f.tradeHost.touched)">
                <label for="tradeHost">Host</label>
                <input type="text" formControlName="tradeHost" placeholder="Host" class="form-control" id="tradeHost" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-default input-group col-md-12"
                [class.has-error]="f.tradeStartDate.invalid && (f.tradeStartDate.dirty || f.tradeStartDate.touched)">
                <div class="form-input-group">
                    <label>Start Date</label>
                    <pg-datepicker formControlName="tradeStartDate" placeholder="Enter date here" class="form-control" id="tradeStartDate">
                    </pg-datepicker>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">text_align_justify</i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default input-group col-md-12"
                [class.has-error]="f.tradeEndDate.invalid && (f.tradeEndDate.dirty || f.tradeEndDate.touched)">
                <div class="form-input-group">
                    <label>End Date</label>
                    <pg-datepicker formControlName="tradeEndDate" placeholder="Enter date here" class="form-control" id="tradeEndDate">
                    </pg-datepicker>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">text_align_justify</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default"
                [class.has-error]="f.tradeRegion.invalid && (f.tradeRegion.dirty || f.tradeRegion.touched)">
                <label for="tradeRegion">Region</label>
                <input type="text" formControlName="tradeRegion" placeholder="tradeRegion" class="form-control"
                    id="tradeRegion" />
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default"
                [class.has-error]="f.tradeCity.invalid && (f.tradeCity.dirty || f.tradeCity.touched)">
                <label for="tradeCity">City</label>
                <input type="text" formControlName="tradeCity" placeholder="City" class="form-control"
                    id="tradeCity" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div pgFormGroupDefault class="form-group form-group-default"
                [class.has-error]="f.tradeInfo.invalid && (f.tradeInfo.dirty || f.tradeInfo.touched)">
                <label for="tradeInfo">About The Trade show</label>
                <textarea type="text" formControlName="tradeInfo" placeholder="About The Trade show"
                    class="form-control" id="tradeInfo"></textarea>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <button [disabled]="isLoading" type="submit" class="me-4 btn btn-primary show-notification"
            (click)="subCompanyDetailForm()">
            {{isDataExist? 'Update' : 'Save'}} Company Detail
        </button>
    </div>
</form>