<div class="container d-flex flex-column align-items-center">
  <h4 class="mt-4 mb-4">Company Profile</h4>
  <form>
    <div class="row border">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <label>Company Name<span>*</span></label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-4">
            <label>PAN</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-4">
            <label>TAN</label>
            <input type="text" class="form-control">
          </div>
        </div>


        <div class="row mt-4">
          <div class="col-md-4">
            <label>GST No.</label>
            <input type="number" class="form-control">
          </div>
          <div class="col-md-4">
            <label>Import Export Code
              (IEC)</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-4">
            <label>Year Of Establishment<span>*</span></label>
            <input type="Date" class="form-control">
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-4">
            <label>Main Category<span>*</span></label>
            <select class="form-control" aria-label="multiple select example">
              <option selected> select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="col-md-4">
            <label>Main Product <span>*</span></label>
            <input type="text" class="form-control">
          </div>
        </div>

      </div>
    </div>


    <h6 class="mt-4">Registered Address <span>*</span></h6>
    <div class="row border">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <label>Country</label>
            <input type="number" class="form-control">
          </div>
          <div class="col-md-4">
            <label>State</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-4">
            <label>City</label>
            <input type="text" class="form-control">

          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-4">
            <label>Company Address</label>
            <input type="number" class="form-control">
          </div>
          <div class="col-md-4">
            <label>Mobile Number</label>
            <input type="text" class="form-control"><button>Add</button>
          </div>
          <div class="col-md-4">
            <label>Landline Number</label>
            <input type="number" class="form-control"><button>Add</button>
          </div>
        </div>

        <div class="row mt-4">

          <div class="col-md-4">
            <label>Business Registration Certificate<span>*</span></label>
            <input type="text" class="form-control"> <button>Add</button>
          </div>
        </div>
      </div>
    </div>
    <h6>Additional Contact Details</h6>
    <div class="border mt-4 px-2">
      <h6>Division<span>*</span></h6>
      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-md-4">
              <label>Branch</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
              <label>Network</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
              <label>Factory</label>
              <input type="text" class="form-control">
            </div>


          </div>
        </div>


      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label>International Office</label>
              <input class="form-control" type="text">
            </div>
            <div class="col-md-4">
              <label>Menufacturing </label>
              <input class="form-control" type="text">
            </div>
            <div class="col-md-4">
              <label>Showroom</label>
              <input class="form-control" type="text">
            </div>
          </div>
        </div>


      </div>
      <div class="row ">
        <div class="col-md-4">

          <label>Trading Division</label>
          <input type="text" class="form-control">

        </div>
        <div class="col-md-4">

          <label>Wharehouse</label>
          <input type="text" class="form-control">

        </div>
      </div>
    </div>


    <h6>Area/Size<span>*</span></h6>
    <div class="border mt-4 px-2">

      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-md-4">
              <label>Square Meter</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
              <label>Square Feet</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
              <label>Square Yard</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label>Acre</label>
              <input class="form-control" type="text">
            </div>
            <div class="col-md-4">
              <label>Hectare </label>
              <input class="form-control" type="text">
            </div>
            <div class="col-md-4">
              <label>Showroom</label>
              <input class="form-control" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>



    <h6>Factory Country/Region<span>*</span></h6>
    <div class="border mt-4 px-2">

      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-md-4">
              <label>Country<span>*</span></label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
              <label>State</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
              <label>Annual Turnover</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label>Contact Person</label>
              <input class="form-control" type="text">
            </div>
            <div class="col-md-4">
              <label>Phone </label>
              <input class="form-control" type="number">
            </div>
            <div class="col-md-4">
              <label>Mobile</label>
              <input class="form-control" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label>Email</label>
              <input class="form-control" type="email">
            </div>

          </div>
        </div>
      </div>
    </div>



  </form>


</div>
