<div class="container p-5 m-0">
    <div class="row">
        <div class="sectionOne">

            <h1 class="paraOne">FAQ
            </h1>
            <p class="paraTwo">Have a question ? We’ve got you <br> covered with FAQs.

            </p>
        </div>

        <div class="sm-m-l-5 sm-m-r-5 upperFaq">

            <div class="faqBorder">
                <pg-collapseset Accordion="true"  >
                   
                    <pg-collapse [Title]="'What is Google Ads?' ">
                       
                       <div class="faqBorder1 TextColor">
                        Click headers to expand/collapse content that is broken into logical sections, much like tabs.
                        Optionally, toggle sections open/closed on mouseover.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic necessitatibus dicta atque
                         accusantium reiciendis libero sunt sapiente praesentium! 
                        Labore numquam veniam molestiae iste quae.
                       </div>
                    </pg-collapse>
                    
                  
                </pg-collapseset>
              </div>
        </div>
        <div class="sm-m-l-5 sm-m-r-5  mt-3">
            <div class="faqBorder">
                <pg-collapseset Accordion="true"  >
                    <pg-collapse [Title]="'What are Google AdWords and Google AdWords Express?'">
                       <div class="faqBorder1 TextColor">
                        Click headers to expand/collapse content that is broken into logical sections, much like tabs.
                        Optionally, toggle sections open/closed on mouseover.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta soluta dolorum!
                       </div>
                    </pg-collapse>
                    
                  
                </pg-collapseset>
              </div>
        

        </div>
        <div class="sm-m-l-5 sm-m-r-5 mt-3">

            <div class="faqBorder">
                <pg-collapseset Accordion="true"  >
                    <pg-collapse [Title]="'What is CPC (Cost Per Click) or PPC (Pay Per Click) Advertising?'">
                       <div class="faqBorder1 TextColor ">
                        Click headers to expand/collapse content that is broken into logical sections, much like tabs.
                        Optionally, toggle sections open/closed on mouseover.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deserunt sequi quae voluptatem vero nesciunt aspernatur incidunt harum 
                        provident debitis.
                       </div>
                    </pg-collapse>
                    
                  
                </pg-collapseset>
              </div>
        </div>
        <div class="sm-m-l-5 sm-m-r-5 mt-3">

            <div class="faqBorder">
                <pg-collapseset Accordion="true"  >
                    <pg-collapse [Title]="'Collapsible Group Item'">
                       <div class="faqBorder1 TextColor">
                        Click headers to expand/collapse content that is broken into logical sections, much like tabs.
                        Optionally, toggle sections open/closed on mouseover.
                       </div>
                    </pg-collapse>
                    
                  
                </pg-collapseset>
              </div>
        </div>
        <div class="sm-m-l-5 sm-m-r-5 mt-3">

            <div class="faqBorder">
                <pg-collapseset Accordion="true"  >
                    <pg-collapse [Title]="'Collapsible Group Item'">
                       <div class="faqBorder1 TextColor">
                        Click headers to expand/collapse content that is broken into logical sections, much like tabs.
                        Optionally, toggle sections open/closed on mouseover.
                       </div>
                    </pg-collapse>
                    
                  
                </pg-collapseset>
              </div>
        </div>
        <div class="sm-m-l-5 sm-m-r-5 mt-3">
            <div class="faqBorder">
                <pg-collapseset Accordion="true"  >
                    <pg-collapse [Title]="'Collapsible Group Item'">
                       <div class="faqBorder1 TextColor">
                        Click headers to expand/collapse content that is broken into logical sections, much like tabs.
                        Optionally, toggle sections open/closed on mouseover.
                       </div>
                    </pg-collapse>
                    
                  
                </pg-collapseset>
              </div>
        </div>

    </div>
</div>