.sectionOne{
    margin-top: 100px;
    
}
.paraOne{
    // font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 50px;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 72px;
    margin: 0 0 36px;
}
.paraTwo{
    font-size: 15px;
}