.sectionOne{
    margin-top: 100px;
    
}
.paraOne{
    
    font-size: 50px;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 72px;
    margin: 0 0 36px;
}
.paraTwo{
    font-size: 15px;
}
.upperFaq{
    margin-top: 100px;
}
.faqBorder{
    border-top: 1px solid #a6a6a7;
     
    
}
.faqBorder1{
    border-top: 1px solid blue;
}
pg-collapse{
 color: rgb(4, 4, 181);
 
}
.TextColor{
    color: black;
}
.arro{
    color: black;
    font-size: 50px;
}