<!-- <app-comp-seller-catalogue-header></app-comp-seller-catalogue-header> -->

<!-- START CONTAINER FLUID -->
<!-- <app-header1></app-header1> -->
<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <!-- START ROW -->
    <div class="row">
        <div class="col-lg-6 col-xlg-5">
            <div class="row">
                <div class="col-md-12 m-b-10 ">
                    <div class="ar-2-2 ">
                        <!-- START WIDGET -->
                        <app-banner-img-widget [label]="catalogue.company" [description]="catalogue.businessType" [banners]="catalogue.banners">
                        </app-banner-img-widget>
                        <!-- END WIDGET -->
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-xlg-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ar-1-1">
                        <!-- START WIDGET -->
                        <!-- <app-button-tile-widget></app-button-tile-widget> -->
                        <app-button-four-widget [exportContribution]="catalogue.exportingPercent" [yearlyTurnover]="catalogue.yearlyTurnover">
                        </app-button-four-widget>
                        <!-- END WIDGET -->
                    </div>
                </div>
                <div class="col-sm-6 m-b-10">
                    <div class="ar-1-1">
                        <!-- START WIDGET -->
                        <!-- <plain-live-widget></plain-live-widget> -->
                        <app-button-two-widget [mainProducts]="catalogue.mainProducts">
                        </app-button-two-widget>
                        <!-- END WIDGET -->
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-4 m-b-10">
                    <div class="ar-1-1">
                        <app-button-three-widget></app-button-three-widget>
                    </div>
                </div>
                <div class="col-sm-4 m-b-10">
                    <div class="ar-1-1">
                        <app-button-tile-widget></app-button-tile-widget>
                    </div>
                </div>
                <div class="col-sm-4 m-b-10">
                    <div class="ar-1-1">
                        <app-button-five-widget></app-button-five-widget>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12">
                    <app-button-three-widget></app-button-three-widget>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer1></app-footer1> -->
<!--  -->

<!-- <app-catalogue-seller-company-details></app-catalogue-seller-company-details> -->