<div class="pl-3 pr-3">
    <div class="container">
        <div class="pl-3 pr-3 card mt-4 p-2" *ngFor="let request of requestForQutationList">
            <div class="row">
                <div  [ngClass]="i % 2 ? 'bg-gray' : 'row bg-light-gray' ">
                    <div class="col-md-3 p-2">
                        <img [src]="baseUrl+request?.image"
                            alt="..." class="img-thumbnail">
                    </div>
                    <div class="col-md-6 p-2">
                        <p class="border-left pl-1">
                           {{ request.productName }}</p>
                        <p class="pl-1"><span><b>Quantity Required</b></span>{{ request.quantity }} {{ request.unit[0] }}</p>
                        <p class="border-left pl-1">
                            Budget : {{ request.budget }}/-</p>
                    </div>
                    <div class="col-md-3">
                        <p class=""><b>Status</b></p>
                        <p class="text-primary pt-2">{{ request.status }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>