.color {
    background-color: crimson;
    height: 13px;
    width: 20px;
}

.text-orange {
    color: #FB3601;
}

.text-blue {
    color: #1374E8;
}

.btn-primary {
    background-color: #1374E8;
}

.btn-primary:hover {
    background-color: #2674d4;
    color: #ffffff;
}

.btn-orange {
    background-color: #FB3601;
    color: #ffffff;
}

.btn-orange:hover {
    background-color: #ec4719;
    color: #ffffff;
}