<div class="conatiner-fluid p-3 h-100">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title">SELLER PROFILE</h3>
            <!-- <div>
                <button class="btn btn-primary" routerLink="../type-list">Show Profile</button>
            </div> -->
        </div>
        <div class="card-body">
            <pg-tabset tabAnimation="slide-left" Type="simple" ShowPagination="true">
                <pg-tab>
                    <ng-template #TabHeading>
                        Seller Type
                    </ng-template>
                    <div>
                        <app-form-seller-type></app-form-seller-type>
                    </div>
                </pg-tab>
                <!-- <pg-tab>
                    <ng-template #TabHeading>
                        Company Profile
                    </ng-template>
                    <div>
                        <app-form-company-profile></app-form-company-profile>
                    </div>
                </pg-tab> -->
                <!-- <pg-tab>
                    <ng-template #TabHeading>
                        Company Details
                    </ng-template>
                    <div>
                        <app-form-company-detail></app-form-company-detail>
                    </div>
                </pg-tab> -->
                <!-- <pg-tab>
                    <ng-template #TabHeading>
                        Export Capability
                    </ng-template>
                    <div>
                        <app-form-export-capability></app-form-export-capability>
                    </div>
                </pg-tab> -->
                <!-- <pg-tab>
                    <ng-template #TabHeading>
                        Certificate Center
                    </ng-template>
                    <div>
                        <app-form-certificate-center></app-form-certificate-center>
                    </div>
                </pg-tab> -->
                <!-- <pg-tab>
                    <ng-template #TabHeading>
                        Quality Control
                    </ng-template>
                    <div>
                        <app-form-quality-control></app-form-quality-control>
                    </div>
                </pg-tab> -->
                <!-- <pg-tab>
                    <ng-template #TabHeading>
                        Research & Development
                    </ng-template>
                    <div>
                        <app-form-research-and-development></app-form-research-and-development>
                    </div>
                </pg-tab> -->
            </pg-tabset>
        </div>
    </div>
</div>