<form [formGroup]="sellerTypeForm" (keydown.enter)="$event.preventDefault()">
    <ng-container formArrayName="types">
        <ng-container *ngFor="let typeForm of types.controls; let i = index;">
            <div [formGroup]="typeForm">
                <div class="form-check">
                    <input type="checkbox" [id]="'typesOpt-'+i" formControlName="checked">
                    <label [for]="'typesOpt-'+i">{{ typeForm.get('name').value }}</label>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <div class="mt-4">
        <button [disabled]="isLoading" type="submit" class="me-4 btn btn-primary show-notification"
            (click)="subSellerTypeForm()">
            {{isDataExist? 'Update' : 'Save'}} Seller Type
        </button>
    </div>
</form>