<form [formGroup]="certificateCenterForm" (keydown.enter)="$event.preventDefault()">
    <ng-container formArrayName="certificates">
        <div class="row">
            <div class="col-md-4">
                <h6>Certificate You Have</h6>
            </div>
            <div class="col-md-4">
                <h6>Date of Expiration</h6>
            </div>
        </div>
        <ng-container *ngFor="let certificateForm of certificates.controls; let i = index;">
            <div class="row mb-2" [formGroup]="certificateForm">
                <div class="col-md-4">
                    <div class="form-check primary">
                        <input type="checkbox" [id]="'certificatesOpt-'+i" formControlName="checked">
                        <label [for]="'certificatesOpt-'+i">{{ certificateForm.get('name').value }}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="datepicker-component" class="input-group date col-md-8 p-l-0">
                        <pg-datepicker ShowTime="true" formControlName="expirtData"></pg-datepicker>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="pg-icon">calendar</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <div class="row border mb-4 p-4" *ngFor="let form of formArray.controls; let i=index" [formGroup]="form">
        <button *ngIf="formArray?.controls?.length > 1" type="button" (click)="removeCertificate(i)"
            class="btn btn-primary w-25">
            Remove
        </button>
        <div class="col-12">
            <h6>Other Certifications</h6>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required">
                <label for="fcc-certificateType">Type of Certification</label>
                <input certificate="text" placeholder="Enter Type of Certification" class="form-control"
                    id="fcc-certificateType" formControlName="certificateType" />
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required">
                <label for="fcc-certificateNumber">Certificate Number</label>
                <input certificate="text" placeholder="Enter Certificate Number" class="form-control"
                    id="fcc-certificateNumber" formControlName="certificateNumber" />
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required">
                <label for="fcc-certificateIssuer">Certificate Issuer</label>
                <input certificate="text" placeholder="Enter Certificate Issuer" class="form-control"
                    id="fcc-certificateIssuer" formControlName="certificateIssuer" />
            </div>
        </div>
        <div class="col-md-4">
            <h4>Upload Image</h4>
            <pg-upload ListType="picture-card" [(FileList)]="imageList[i]" [ShowButton]="!imageList[i]"
                Action="https://jsonplaceholder.typicode.com/posts/">
                <div class="pic-placeholder">
                    <i class="pg-icon p-b-5">upload</i>
                    <div class="fs-12">Upload</div>
                </div>
            </pg-upload>
            <div *ngIf="f.image?.invalid && (f.image.dirty || f.image.touched)">
                <label *ngIf="f.image.errors.required" class="error">image is required
                </label>
            </div>
        </div>
    </div>
    <button type="button" (click)="addNewCertificate()" class="btn btn-primary w-25 my-3">Add more other certificates
    </button>
    <div class="mt-4">
        <button certificate="submit" class="me-4 btn btn-primary show-notification"
            (click)="subCertificateCenterForm()">
            {{isDataExist? 'Update' : 'Save'}} Certificate Center
        </button>
    </div>
</form>