<div class="conatiner-fluid p-3 h-100">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="categoryForm">
                <div class="form-group">
                    <h6 class="control-label">Name</h6>
                    <p class="mb-0 para">(The name is how it appears on your site.)</p>
                    <div pgFormGroupDefault class="form-group"
                        [class.has-error]="f.name.invalid && (f.name.dirty || f.name.touched)">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                </div>
                <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
                    <label *ngIf="f.name.errors.required" class="error">Name field is required.</label>
                </div>

                <div class="form-group">
                    <h6 class="control-label">Map Under</h6>
                    <pg-select pgFormGroupDefault formControlName="option" class="w-100"
                        [class.has-error]="f.option.invalid && (f.option.dirty || f.option.touched)"
                        [PlaceHolder]="'Map Under'" AllowClear ShowSearch>
                        <pg-option *ngFor="let option of options" [Label]="option.label" [Value]="option"
                            [Disabled]="option.disabled">
                        </pg-option>
                    </pg-select>
                </div>
                <div *ngIf="f.option.invalid && (f.option.dirty || f.option.touched)">
                    <label *ngIf="f.option.errors.required" class="error">Map field is required.</label>
                </div>

                <div class="form-group">
                    <h6 class="control-label">Title</h6>
                    <div pgFormGroupDefault class="form-group"
                        [class.has-error]="f.title.invalid && (f.title.dirty || f.title.touched)">
                        <input type="text" class="form-control" formControlName="title">
                    </div>
                </div>
                <div *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)">
                    <label *ngIf="f.title.errors.required" class="error">Title is required.</label>
                </div>
                <div class="form-group">
                    <h6 class="control-label">Description</h6>
                    <div pgFormGroupDefault class="form-group"
                        [class.has-error]="f.description.invalid && (f.description.dirty || f.description.touched)">
                        <textarea type="text" class="form-control" rows="10" formControlName="description"></textarea>
                    </div>
                </div>
                <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)">
                    <label *ngIf="f.description.errors.required" class="error">Description is required.</label>
                </div>
                <div class="form-group  tag-group">
                    <h6 class="control-label">Keywords</h6>
                    <div pgFormGroupDefault class="form-group"
                        [class.has-error]="f.keywords.invalid && (f.keywords.dirty || f.keywords.touched)">

                        <pg-tag-control formControlName="keywords"></pg-tag-control>
                    </div>
                </div>
                <div *ngIf="f.keywords.invalid && (f.keywords.dirty || f.keywords.touched)">
                    <label *ngIf="f.keywords.errors.required" class="error">Keywords is required.</label>
                </div>
                <div>
                    <pg-upload ListType="picture-card" [(FileList)]="fileList" [ShowButton]="fileList.length < 3"
                        [Preview]="handlePreview">
                        <div class="pic-placeholder">
                            <i class="pg-icon p-b-5">upload</i>
                            <div class="fs-12">Upload</div>
                        </div>
                    </pg-upload>
                </div>

                <div class="form-check form-check-inline switch switch-lg complete">
                    <input type="checkbox" id="switch-lg">
                    <label for="switch-lg"></label>
                </div>

                <div class="mt-4">
                    <button type="submit" class="me-4 btn btn-primary" (click)="subCategoryForm()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- <div class="form-group tag-group form-group-default required ">
            <label>Tags</label>
            <pg-tag-control [(ngModel)]="tags"></pg-tag-control>
        </div> -->