<div class="container-fluid  pt-4  footer1-back-color">
    <div class="row pb-3">
        <div class="col-12">
            <div class="container-xxl">
                <div class="row mt-2 ">
                    <div class="col-sm-2 ">
                    </div>
                    <div class="col-sm-2 mt-2 ">
                        <p class="ml-2">Subscribe for newsletter</p>
                    </div>
                    <div class="col-sm-4 pl-0   ">
                        <input class="input-width " type="text">
                    </div>
                    <div class="col-sm-2 p-0">
                        <button aria-label type="button" class="btn btn-block  btn-complete btn-lg  btn-icon-right">
                            <span>Subscribe</span>
                            <i class="pg-icon md-18 ">arrow_right </i>
                        </button>
                    </div>
                    <div class="col-sm-2 ">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-3">
                                <dl>
                                    <dd>Follow Us :</dd>

                                </dl>
                            </div>
                            <div class="col-sm-9">
                                <div class="icons">
                                    <div><a href="#"><i class="pg-icon bg-white">facebook</i></a></div>
                                    <div><a href="#"><i class="pg-icon bg-white ms-4">facebook</i></a></div>
                                    <div><a href="#"><i class="pg-icon bg-white ms-4">facebook</i></a></div>
                                    <div><a href="#"><i class="pg-icon bg-white ms-4">facebook</i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- <dl>
                                    <dd>Download App :</dd>
                                </dl> -->
                            </div>
                            <div class="col-sm-4">
                                <!-- <dl>
                                    <dd>Ios</dd>
                                </dl> -->
                            </div>
                            <div class="col-sm-4">
                                <!-- <dl>
                                    <dd>google</dd>
                                </dl> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3  footer1-2-back-color">
        <div class="col-12">
            <div class="container-xxl">
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-7">
                                <dl>
                                    <h5> Information</h5>
                                    <p><a href="#" routerLink="/b2b/about-us" class="dd-black text">About</a></p>
                                    <p><a href="#" routerLink="/b2b/trade-fair" class="dd-black text">Trade Fair</a></p>
                                    <p><a href="#" routerLink="/b2b/blog" class="dd-black text">Blog</a></p>
                                    <p><a href="#" routerLink="/b2b/contact-us" class="dd-black text">Contact Us</a></p>
                                    <p><a href="#" routerLink="/b2b/trade-show" class="dd-black text">Trade shows and
                                            exhibition</a> </p>
                                    <p><a href="#" routerLink="/b2b/news-and-update" class="dd-black text">News and
                                            Update</a></p>
                                </dl>
                            </div>
                            <div class="col-sm-5">
                                <dl>
                                    <h5>Support</h5>
                                    <p><a class="dd-black text" href="#" routerLink="/b2b/support">Help Centre</a></p>
                                    <p><a href="#" class="dd-black text">Contact Sales </a></p>
                                    <p><a href="#" class="dd-black text"
                                            routerLink="/seller/help/complain-add">Complaints </a></p>
                                    <p><a href="#" class="dd-black text" routerLink="/seller/help/dispute-add">Disputes
                                        </a></p>
                                    <p><a href="#" class="dd-black text"
                                            routerLink="/seller/help/suggestion-add">Suggestions </a> </p>
                                    <p><a href="#" class="dd-black text"
                                            routerLink="/b2b/seller-catalogue-manage-guide">Manage Catalogue</a></p>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-4 p-0">
                                <dl>
                                    <h5>Buyers </h5>
                                    <p><a href="#" class="dd-black text" routerLink="/b2b/buy">Buy</a></p>
                                    <p><a href="#" routerLink="/b2b/request-quotation" class="dd-black text">Multiple
                                            Quotes
                                            Request</a> </p>
                                    <p><a href="#" class="dd-black text">Buying Help </a></p>
                                </dl>
                            </div>
                            <div class="col-sm-4">
                                <dl>
                                    <h5>Supplier</h5>
                                    <p><a href="#" routerLink="/b2b/sell" class="dd-black text">Sell</a></p>
                                    <p><a href="#" class="dd-black text">Overstock</a> </p>
                                </dl>
                            </div>
                            <div class="col-sm-4">
                                <dl>
                                    <h5>Other</h5>
                                    <p><a href="#" class="dd-black text">Be a Partners</a></p>
                                    <p><a href="#" class="dd-black text ">Sitemap</a> </p>
                                    <p><a href="#" class="dd-black text" routerLink="/b2b/terms-and-condition">Policies
                                            & Rules</a>
                                    </p>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 seprator footer1-2-back-color">
                    <div class="col-sm-6 ">
                        <div class="row ">
                            <div class="col-sm-7 mt-3">
                                <a href="#" class="text dt-color">
                                    <p class="p-color">Community Standards</p>
                                </a>
                            </div>
                            <div class="col-sm-5 mt-3">
                                <a href="#" class="text dt-color" routerLink="/b2b/terms-and-condition">
                                    <p class="p-color">Data Policy</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row ">
                            <div class="col-sm-4 mt-3">
                                <a href="#" routerLink="/b2b/terms-and-condition" class="text dt-color">
                                    <p class="p-color">Terms</p>
                                </a>
                            </div>
                            <div class="col-sm-4 mt-3">
                                <a href="#" class="text dt-color" routerLink="/b2b/terms-and-condition">
                                    <p class="p-color">Cookie Policy</p>
                                </a>
                            </div>
                            <div class="col-sm-4 p-0">
                                <button aria-label type="button"
                                    class="btn btn-block  btn-complete btn-lg  btn-icon-right generator-button">
                                    <!-- <i class="pg-icon md-18">arrow_right </i>  -->
                                    <span>Language Converter</span>
                                    <i class="pg-icon md-18 ">arrow_right </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>