.input-width {
    width: 97%;
    height: 40px;

}

.footer1-back-color {
    background-color: #f5f5f5; //f5f5f5
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
}



.icons {
    display: flex;

}

.btn-block {
    height: 41px;
    width: 90%;
}

.footer1-2-back-color {
    background-color: #e0e0e0; //eeeeee
}

p {

    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

.text:hover {
    text-decoration: underline;
}

.dd-black {
    color: rgb(90, 85, 85);
}

.seprator {
    border-top: 1px solid #9e9e9e;
}



.p-color {
    color: black;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.generator-button {

    height: 55px;
    width: 100%;
    border-radius: 3px;
}

.generator-button:hover {
    background-color: #257ad5 !important;
}