<!-- <div class="conatiner-fluid p-3 h-100">

    <div class="card">
      <div class="card-body">
        <div class="card card-default">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title">ALL Brand Approval</h3>
            <div>
            
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Image</th>
                <th scope="col">Brand Type</th>
                <th scope="col">Brand Name</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Products Link</th>
                <th scope="col">Added On</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of brandApprovalList; let i = index">
                <th>{{i+1}}</th>
                <td><img [src]="item.image" width="100"/></td>
                <td>{{item.brandType}}</td>
                <td>{{item.brandName}}</td>
                <td>{{item.serialNumber}}</td>
                <td>
                  <a *ngFor="let product of item.products" [href]="product">{{product}}</a>
                </td>
                <td>{{item.timestamp | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->


  <div class="p-2">
    <div class="container">
        <div class="row  p-10 activeBox">
            <div class="col-md-2 bg-white border p-3 p-10 mr-2">
                <p>All Products</p>
                <span>6</span>
            </div>
            <div class="col-md-2 bg-white border p-3 p-10 mr-2">
              <p>Active Listings</p>
              <span>10</span>
            </div>
            <div class="col-md-2 bg-white border  p-3 p-10 mr-2">
                <p>InActive Listings</p>
                <span>8</span>
            </div>
            <div class="col-md-2 bg-white border p-3 p-10 mr-2">
                <p>Products Rejection</p>
                <span>12</span>
            </div>

          
            <div class="col-md-2 bg-white">
                <p>Products Rejection</p>
                <span>12</span>
            </div>
        </div>
    </div>
    <pg-container extraHorizontalClass="bg-white" extraClass="bg-white">
        <!-- START card -->
        <div class="card card-transparent">
            <div class="card-header  d-flex justify-content-between">
                <!-- <div class="card-title">Admin Product Verification
                </div> -->
                <div class="export-options-container"></div>
                <!-- <div class="clearfix"></div> -->
            </div>
            <div class="card-body">
                <div class="table-responsive" style="height:600px;overflow-y: hidden">

                    <!-- <ngx-datatable #tableAdvance class='table table-hover table-stripped' [columns]="advanceColumns"
                        [columnMode]="columnModeSetting" [scrollbarH]="scrollBarHorizontal" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="60" [limit]="5" [scrollbarV]="true" [rows]='advanceRows'>
                    </ngx-datatable> -->
                    <ngx-datatable #tableAdvance class="table table-hover table-stripped" [rows]="advanceRows" [columns]="advanceColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [columnMode]="columnModeSetting" [limit]="5" [scrollbarH]="scrollBarHorizontal"
                        [scrollbarV]="true" (page)="onPage($event)">
                        >
                        <ngx-datatable-column name="">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <input type="checkbox" (click)="handler(row)" />
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Img">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <img src="{{row.image}}" alt="">
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column *ngFor="let col of advanceColumns" [name]="col.name" [hidden]="col.image">
                        </ngx-datatable-column>
                        <!-- <ngx-datatable-column name="Actions" sortable="false" prop="name">
                            <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
                                <button class="me-4 btn btn-primary show-notification" md-icon-button (click)="delete(value)">
                                  Update
                                </button>
                            </ng-template>
                        </ngx-datatable-column> -->
                    </ngx-datatable>
                </div>
            </div>
        </div>
        <!-- END card -->
    </pg-container>
</div>