$assets-url :"/assets";
@import 'core.scss';
$assets-url :"/assets";
.widget-6 {
    // background-image: url("#{$assets-url}/assets/img/button4.webp");
    background-size: cover !important;
    height: 175px;
    margin: 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .card-body {
        height: auto !important;
    }
    .label {
        background: rgba(0, 0, 0, .3);
        color: #fff;
    }
}

.inner-card {
    background-size: cover !important;
    height: 100% !important;
    background: url('../../../../../assets/assets/img/button4.webp');
}