    <div class="row">
        <div class="col-md-4">
            <div class="bg-white">
                <img src="https://sc04.alicdn.com/kf/Ha22b95fd82b54d4f9a7ec9ab321b93e9Z.jpg" alt="" class="img-fluid">
            </div>
            <div class="">
                <div class="d-flex flex-row">
                    <div *ngFor="let i of [1,2,3,4,5]">
                        <img src="https://sc04.alicdn.com/kf/H16e3a7fba4614a10ae56f32124545ef4e.jpg" alt=""
                            class="img-thumbnail p-2 rounded  border-0">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="bg-white p-3">
                <h5>Salwar kameez women Indian Pakistani ethnic ladies party Punjabi stitching </h5>
                <div class="d-flex flex-row justify-content-between">
                    <div class="p-1">
                        <span>
                            2 - 499 Pieces
                        </span>
                        <h6 class="text-blue text-center">
                            ₹301.05
                        </h6>
                    </div>
                    <div class="p-1">
                        <span>
                            500 - 999 Pieces </span>
                        <h6 class="text-blue text-center">
                            ₹281.05 </h6>
                    </div>
                    <div class="p-1">
                        <span>
                            500 - 999 Pieces </span>
                        <h6 class="text-blue text-center">
                            ₹301.05
                        </h6>
                    </div>
                    <div class="p-1">
                        <span>
                            2 - 499 Pieces
                        </span>
                        <h6 class="text-blue text-center">
                            ₹301.05
                        </h6>
                    </div>
                </div>
                <div class="d-flex justify-content-between p-2">
                    <h6 class="text-orange">Contact Supplier</h6>
                    <h6>View details</h6>
                    <h6 class="text-blue">Chat Supplier</h6>
                </div>
            </div>
            <div class="bg-white p-3 mt-4">
                <div>
                    <h6>Variants</h6>
                    <div>
                        <div class="d-flex flex-row">
                            <p>Color :</p>
                            <div class="color m-2" *ngFor="let i of [1,2,3,4,5,6]"></div>
                            <br><br>
                            <div class="color m-2" *ngFor="let i of [1,2,3,4,5,6]"></div>
                        </div>
                    </div>
                    <p>Size : S M L Xl 2XL</p>
                </div>
            </div>
            <div class="bg-white p-3 mt-4">
                <h6>Lead Time</h6>
                <div class="d-flex flex-row justify-content-center p-2 mb-2">
                    <div class="border-top border-left border-bottom p-2">
                        <p>Quantity(Unit)</p>
                        <ul class="list-unstyled p-4">
                            <li *ngFor="let i of [1,2,3,4,5]">2 - 499 Pieces</li>
                        </ul>
                    </div>
                    <div class="border  p-2">
                        <p>Est. Time(days)</p>
                        <ul class="list-unstyled p-4">
                            <li *ngFor="let i of [1,2,3,4,5]">{{i}}5</li>
                        </ul>
                    </div>
                </div>
                <p><b class="mr-3">Shipping :</b> Support Express · Sea freight · Land freight · Air freight</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 mb-4">
                <h5 class="text-orange float-right">2 Yrs.</h5> <br>
                <h5 class="text-blue">
                    Vandana Exports Pvt.Ltd
                </h5>
                <p>India, Delhi</p>
                <p>Manufacturer,Trading Company</p>
            </div>
            <div class="bg-white p-3 mt-2">
                <p>For product pricing, customization, or other inquiries :</p>
                <button class="btn btn-orange mb-2">Contact Supplier</button> <br>
                <button class="btn btn-secondary mb-2">Get His Number</button><br>
                <button class="btn btn-primary mb-2">Chat Supplier</button>
            </div>
        </div>
    </div>

    <div class="bg-white p-3 mt-4">
        <h5>Specification</h5>
        <div class="p-4">
            <table class="table-borderless">
                <tr>
                    <td>Place of Origin</td>
                    <td class="pl-5">Greater Noida, India</td>
                </tr>
                <tr>
                    <td>Model No </td>
                    <td class="pl-5">12ww324</td>
                </tr>
                <tr>
                    <td>Model No </td>
                    <td class="pl-5">12ww324</td>
                </tr>
                <tr>
                    <td>Brand Name </td>
                    <td class="text-blue pl-5">Caliber Apparels</td>
                </tr>
                <tr>
                    <td>Shipping Mode </td>
                    <td class="pl-5">Air,Ship,road</td>
                </tr>
                <tr>
                    <td>Packaging Description</td>
                    <td class="pl-5">To better ensure the safety of your goods, professional, environmentally friendly,
                        convenient
                        and efficient packaging services will be provided.</td>
                </tr>
                <tr>
                    <td>Customization avaliable </td>
                    <td class="pl-5">Yes</td>
                </tr>
                <tr>
                    <td>Product Private labeling Available </td>
                    <td class="pl-5">Yes</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bg-white p-3 mt-4">
        <h5>Product Description</h5>
        <p class="p-4">Province adjacent to Canton and Zhejiang, which is one of the three biggest shoes
            production
            bases in China.
            Besides, Quanzhou is a seaport city, with its sea route to most ports all over the world. We make
            full
            use
            of the location advantage to cooperate with our suppliers and provide qualitative products and
            services
            to
            our customers.Quality Control systemWe are renowned for our distinguished QC team who are highly
            experienced
            with the shoes making and quality control required by the standard ISO quality system. Asides from
            attaching
            great importance to the test of raw materials resulting demanded by our clients, we strictly control
            and
            supervise every aspect of the shoes making, from the samples making to mass production in a whole
            process to
            guarantee the quality and delivery.Rapid responeOur people will reply your requirement within 24
            hours
            to
            make sure you can have an Efficient researching. Quanzhou MuShu Sports Goods Co. LTD., is complex of
            shoes
            designing, developing, producing and exporting.We have over 10 years of footwear exporting
            experience
            with a
            wide selection to offer you to build your footwear line. We have over 1000 different items under
            more
            than
            10 catalogues for you to choose from. And each month, we can develop 100 new designs and more. We
            have
            our
            strong R&D team to meet your custom designs. We have a monthly capacity of 500,000 pairs of canvas
            sneakers,
            casual shoes, eva garden shoes, flip flop, slippers etc. We also welcome distributors fo our ready
            stock
            items which can help you to catch the selling season. We exercise a refined quality control system
            to
            assess
            and supervise production, procurement, logistics and administration. This ensures the supply of high
            quality
            products and service to our clients all over the world.Followings are our advantage when doing
            business
            with
            the clients from all over the world:LocationWe, Jerryfootprint, is located in the Quanzhou City,
            Fujian
            Province adjacent to Canton and Zhejiang, which is one of the three biggest shoes production bases
            in
            China.
            Besides, Quanzhou is a seaport city, with its sea route to most ports all over the world. We make
            full
            use
            of the location advantage to cooperate with our suppliers and provide qualitative products and
            services
            to
            our customers.Quality Control systemWe are renowned for our distinguished QC team who are highly
            experienced
            with the shoes making and quality control required by the standard ISO quality system. Asides from
            attaching
            great importance to the test of raw materials resulting demanded by our clients, we strictly control
            and
            supervise every aspect of the shoes making, from the samples making to mass production in a whole
            process to
            guarantee the quality and delivery.Rapid responeOur people will reply your requirement within 24
            hours
            to
            make sure you can have an Efficient researching.Quanzhou MuShu Sports Goods Co. LTD., is complex of
            shoes
            designing, developing, producing and exporting.We have over 10 years of footwear exporting
            experience
            with a
            wide selection to offer you to build your footwear line. We have over 1000 different items under
            more
            than
            10 catalogues for you to choose from. And each month, we can develop 100 new designs and more. We
            have
            our
            strong R&D team to meet your custom designs. We have a monthly capacity of 500,000 pairs of canvas
            sneakers,
            casual shoes, eva garden shoes, flip flop, slippers etc. We also welcome distributors fo our ready
            stock
            items which can help you to catch the selling season. We exercise a refined quality control system
            to
            assess
            and supervise production, procurement, logistics and administration. This ensures the supply of high
            quality
            products and service to our clients all over the world.Followings are our advantage when doing
            business
            with
            the clients from all over the world:LocationWe, Jerryfootprint, is located in the Quanzhou City,
            Fujian
            Province adjacent to Canton and Zhejiang, which is one of the three biggest shoes production bases
            in
            China.
            Besides, Quanzhou is a seaport city, with its sea route to most ports all over the world. We make
            full
            use
            of the location advantage to cooperate with our suppliers and provide qualitative products and
            services
            to
            our customers.Quality Control systemWe are renowned for our distinguished QC team who are highly
            experienced
            with the shoes making and quality control required by the standard ISO quality system. Asides from
            attaching
            great importance to the test of raw materials resulting demanded by our clients, we strictly control
            and
            supervise every aspect of the shoes making, from the samples making to mass production in a whole
            process to
            guarantee the quality and delivery.Rapid responeOur people will reply your requirement within 24
            hours
            to
            make sure you can have an Efficient researching.</p>
    </div>