<div class="col-lg-6 ">
    <div class="card card-default">
        <div class="card-header ">
            <div class="card-title">ADD FOR BRAND APPROVAL
            </div>
        </div>
        <div class="card-body">
            <p class="mw-80">The following information will help us identify your brand and get you started in Brand
                Registry.
            </p>
            <br>
            <form [formGroup]="brandForm" class="form-horizontal" role="form" autocomplete="off">
                <div class="form-group row"
                    [class.has-error]="f.brandType?.invalid && (f.brandType.dirty || f.brandType.touched)">
                    <label for="fname" class="col-md-3 control-label">Brand Type</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="brandType" placeholder="Enter the brand type"
                            name="brandType" formControlName="brandType" required>
                        <div *ngIf="f.brandType?.invalid && (f.brandType.dirty || f.brandType.touched)">
                            <label *ngIf="f.brandType.errors.required" class="error">Brand Type is
                                required.</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row"
                    [class.has-error]="f.brandName?.invalid && (f.brandName.dirty || f.brandName.touched)">
                    <label for="brandName" class="col-md-3 control-label">Brand Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="fname2" placeholder=" Enter brand name"
                            name="brandName" formControlName="brandName" required>
                        <div *ngIf="f.brandName?.invalid && (f.brandName.dirty || f.brandName.touched)">
                            <label *ngIf="f.brandName.errors.required" class="error">Brand
                                Name is
                                required.</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 control-label">Select a trademark office</label>
                    <div class="col-md-9">
                        <select id="trademarkOffice" formControlName="trademarkOffice" class="form-select">
                            <option selected>Select Brand Name</option>
                            <option value="1">Australia - Intellectual Property Australia - IPA</option>
                            <option value="2">Brazil - Instituto Nacional da Propriedade Industrial -
                                INPIBR
                            </option>
                            <option value="3">Canada - Canadian Intellectual Property Office - CIPO
                            </option>
                            <option value="4">Egypt - Egyptian Patent Office - EGYPO</option>
                            <option value="5">Europe - European Union Intellectual Property Office -
                                EUIPO
                            </option>
                            <option value="6">France - Institut national de la propriété industrielle -
                                NPI
                            </option>
                            <option value="7">Germany - Deutsches Patent- und Markenamt - DPMA</option>
                            <option value="8">India - Trademark Registry - TMR</option>
                            <option value="9">Italy - Ufficio Italiano Brevetti e Marchi - UIBM</option>
                            <option value="10">Japan - Japanese Patent/Trademark Office - JPO</option>
                            <option value="11">Mexico - Marcas IMPI - IMPI</option>
                            <option value="12">Netherlands - Benelux Office for Intellectual Property -
                                BOIP
                            </option>
                            <option value="13">Poland - Patent Office of the Republic of Poland - PPO
                            </option>
                            <option value="14">Saudi Arabia - Saudi Authority for Intellectual Property
                                -
                                KSA</option>
                            <option value="15">Singapore - Intellectual Property Office of Singapore -
                                IPOS
                            </option>
                            <option value="16">Spain - Oficina Española de Patentes y Marcas - OEPM
                            </option>
                            <option value="17">Sweden - Swedish Patent and Registration Office - PRV
                            </option>
                            <option value="18">Turkey - Turkish Patent and Trademark Office - TPTO
                            </option>
                            <option value="19">United Arab Emirates - Ministry of Economy - UAEME
                            </option>
                            <option value="20">United Kingdom - Intellectual Property Office UK - IPOUK
                            </option>
                            <option value="21">United States - United States Patent and Trademark Office
                                -
                                USPTO</option>
                        </select>
                        <p class="hint-text small py-3">Please enter your trademark name. This includes the preferred
                            form of
                            capitalization for your brand name
                        </p>

                        <div
                            *ngIf="f.trademarkOffice?.invalid && (f.trademarkOffice.dirty || f.trademarkOffice.touched)">
                            <label *ngIf="f.trademarkOffice.errors.required" class="error">Trademark Office is

                                required.</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row"
                    [class.has-error]="f.serialNumber?.invalid && (f.serialNumber.dirty || f.serialNumber.touched)">
                    <label for="serialNumber" class="col-md-3 control-label">Registration or serial number</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control" id="serialNumber" name="serialNumber"
                            placeholder="Examples: 9876543 and 12345678" formControlName="serialNumber" required>
                        <div *ngIf="f.serialNumber?.invalid && (f.serialNumber.dirty || f.serialNumber.touched)">
                            <label *ngIf="f.serialNumber.errors.required" class="error">Serial Number is
                                required.</label>
                            <span *ngIf="f['serialNumber']?.invalid.minlength">
                                please enter minimum 9876543
                            </span>
                            <span *ngIf="f['serialNumber']?.invalid.maxlength">
                                please enter maximum characters 12345678
                            </span>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-md-4 control-label">If you sell your products on other websites,
                        provide the URL to your storefront on those sites (optional)</label>
                    <div class="col-md-6">
                        <ng-container formArrayName="products">
                            <ng-container
                                *ngFor="let productForm of products.controls; let i = index; let last = last; let first = first;">
                                <div [formGroup]="productForm">
                                    <div class="form-group" style="display: flex;">
                                        <input type="text" class="form-control" formControlName="product"
                                            [placeholder]="'Product Link '+(i+1)+' Name Here...'">
                                        <button class="btn btn-danger" (click)="deleteProduct(i)"
                                            *ngIf="!(last && first)"><i class="fa fa-trash"
                                                aria-hidden="true"></i></button>
                                    </div>

                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="col-md-2 d-flex align-items-end" style="padding-bottom: 10px;">
                        <button _ngcontent-kwx-c27 aria-label (click)="addProduct()" class="btn btn-success">
                            +Add
                        </button>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="fname" class="col-md-3 control-label">Product Images</label>
                    <div class="col-md-9">
                        <span>
                            Provide at least one image of your product or packaging that clearly shows
                            your
                            brand's name,
                            logo or other distinguishing mark permanently affixed to the product.
                            The images should show the product you sell or intend to sell on Amazon and
                            shouldn't be computer generated.
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div pgFormGroupDefault class="form-group">
                                <pg-upload ListType="picture-card" [(FileList)]="imageList"
                                    [ShowButton]="imageList.length===0"
                                    Action="https://jsonplaceholder.typicode.com/posts/">
                                    <div class="pic-placeholder">
                                        <i class="pg-icon p-b-5">upload</i>
                                        <div class="fs-12">Upload</div>
                                    </div>
                                </pg-upload>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <p class="hint-text small py-3">File types accepted are .jpg, .png and .gif.
                                File size should not exceed 3MB
                            </p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <button _ngcontent-jns-c10 arial-label (click)="subBrandForm()"
                            class="btn btn-primary btn-icon-left m-b-10 m-r-5" type="button">
                            <i _ngcontent-jns-c10 class="pg-icon">tick</i>
                            <span _ngcontent-jns-c10 class>Submit</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>