<div class="row p-3">
    <div class="col-md-6 p-0 pl-3">
        <table class="table table-condensed table-hover">
            <tbody>
                <tr>
                    <td class=" fs-12">
                        <b>
                            Seller Reviews
                        </b>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Reviews
                            </b>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <td class=" fs-12">Purchase CODE #2345</td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                </tr>
                <tr>
                    <td class=" fs-12"></td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <a href="#" class="btn-circle-arrow b-grey"><i class="pg-icon">chevron_right</i></a>
                            <span class="hint-text "><a href="#"> More </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class=" table table-condensed table-hover">
            <tbody>
                <tr>
                    <td class=" fs-12">
                        <b>
                            Best Seller
                        </b>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Quries
                            </b>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <td class=" fs-12">Purchase CODE #2345</td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                </tr>
                <tr>
                    <td class=" fs-12"></td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <a href="#" class="btn-circle-arrow b-grey"><i class="pg-icon">chevron_right</i></a>
                            <span class="hint-text "><a href="#"> More </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row p-3">
    <div class="col-md-3 p-0 pl-3">
        <table class="table table-condensed table-hover">
            <tbody>
                <tr>
                    <td class=" fs-12">
                        <b>
                            Sellers form Countries
                        </b>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Sellers
                            </b>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <td class=" fs-12">Purchase CODE #2345</td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                </tr>
                <tr>
                    <td class=" fs-12"></td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <a href="#" class="btn-circle-arrow b-grey"><i class="pg-icon">chevron_right</i></a>
                            <span class="hint-text "><a href="#"> More </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 p-0 pl-3">
        <table class=" table table-condensed table-hover">
            <tbody>
                <tr>
                    <td class=" fs-12">
                        <b>
                            Buyers from Countries
                        </b>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Buyers
                            </b>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <td class=" fs-12">Purchase CODE #2345</td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                </tr>
                <tr>
                    <td class=" fs-12"></td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <a href="#" class="btn-circle-arrow b-grey"><i class="pg-icon">chevron_right</i></a>
                            <span class="hint-text "><a href="#"> More </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 p-0 pl-3">
        <table class=" table table-condensed table-hover">
            <tbody>
                <tr>
                    <td class=" fs-12">
                        <b>
                            Associate
                        </b>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Sellers/Seller Vrifications
                            </b></span>
                    </td>
                </tr>
                <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <td class=" fs-12">Purchase CODE #2345</td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                </tr>
                <tr>
                    <td class=" fs-12"></td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <a href="#" class="btn-circle-arrow b-grey"><i class="pg-icon">chevron_right</i></a>
                            <span class="hint-text "><a href="#"> More </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <table class=" table table-condensed table-hover">
            <tbody>
                <tr>
                    <td class=" fs-12">
                        <b>
                            TP Agents
                        </b>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Verified
                            </b>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <td class=" fs-12">Purchase CODE #2345</td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                </tr>
                <tr>
                    <td class=" fs-12"></td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <a href="#" class="btn-circle-arrow b-grey"><i class="pg-icon">chevron_right</i></a>
                            <span class="hint-text "><a href="#"> More </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row p-3">
    <div class="col-md-6 p-0 pl-3">
        <table class=" table table-condensed table-hover">
            <tbody>
                <tr>
                    <td class=" fs-12">
                        <b>
                            Product Categories
                        </b>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Sellers
                            </b>
                        </span>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Products
                            </b>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <td class=" fs-12">Purchase CODE #2345</td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                </tr>
                <tr>
                    <td class=" fs-12"></td>
                    <td class=" fs-12"></td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <a href="#" class="btn-circle-arrow b-grey"><i class="pg-icon">chevron_right</i></a>
                            <span class="hint-text "><a href="#"> More </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class=" table table-condensed table-hover">
            <tbody>
                <tr>
                    <td class=" fs-12">
                        <b>
                            Countries
                        </b>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                categories
                            </b>
                        </span>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Buying leads
                            </b>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <td class=" fs-12">Purchase CODE #2345</td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                </tr>
                <tr>
                    <td class=" fs-12"></td>
                    <td class=" fs-12"></td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <a href="#" class="btn-circle-arrow b-grey"><i class="pg-icon">chevron_right</i></a>
                            <span class="hint-text "><a href="#"> More </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row p-3">
    <div class="col-md-4 p-0 pl-3">
        <table class=" table table-condensed table-hover">
            <tbody>
                <tr>
                    <td class=" fs-12">
                        <b>
                            Complaints From Category
                        </b>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Resolved
                            </b>
                        </span>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Pending
                            </b>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <td class=" fs-12">Purchase CODE #2345</td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                </tr>
                <tr>
                    <td class=" fs-12"></td>
                    <td class=" fs-12"></td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <a href="#" class="btn-circle-arrow b-grey"><i class="pg-icon">chevron_right</i></a>
                            <span class="hint-text "><a href="#"> More </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 p-0 pl-3">
        <table class=" table table-condensed table-hover">
            <tbody>
                <tr>
                    <td class=" fs-12">
                        <b>
                            Disputes With Seller
                        </b>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Pending
                            </b>
                        </span>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                No of cycles
                            </b>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <td class=" fs-12">Purchase CODE #2345</td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                </tr>
                <tr>
                    <td class=" fs-12"></td>
                    <td class=" fs-12"></td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <a href="#" class="btn-circle-arrow b-grey"><i class="pg-icon">chevron_right</i></a>
                            <span class="hint-text "><a href="#"> More </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class=" table table-condensed table-hover">
            <tbody>
                <tr>
                    <td class=" fs-12">
                        <b>
                            Suggestions
                        </b>
                    </td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <b>
                                Remark
                            </b>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <td class=" fs-12">Purchase CODE #2345</td>
                    <td class="text-right">
                        <span class="hint-text small"> dewdrops</span>
                    </td>
                </tr>
                <tr>
                    <td class=" fs-12"></td>
                    <td class="text-right">
                        <span class="hint-text small">
                            <a href="#" class="btn-circle-arrow b-grey"><i class="pg-icon">chevron_right</i></a>
                            <span class="hint-text "><a href="#"> More </a>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>