.card-body{
    margin-left:50px;
    margin-right:200px;
}
sup{
    color:red;
}
p.paratxt{
    margin:20px 0px;
    font-weight:500;
    font-size:15px;
}
textarea.form-control{
    
    height:120px;
}
div.container-box{
    display:flex;
}
div.col-box1{
    margin-left:217px;
}
div.col-box2{
    margin-left:100px;
}
div.flx-box{
    display:flex;
}
.flx-box .form-control{
    margin-left:93px;
}
.form-group .help{
    margin-left:214px;
}
.form-group{
    margin-bottom:25px;
}