<div class="d-flex row-reverse">
    <div class="col-md-6 saerch input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">Go</button>
    </div>
</div>
<div class="p-2 mt-4">
    <div class="card card-transparent">
        <pg-tabset tabAnimation="slide-left" Type="fillup">
            <pg-tab>
                <ng-template #TabHeading>
                    <span>All Products</span>
                </ng-template>
                <!-- <app-dashboard-last-conversation></app-dashboard-last-conversation> -->
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    <span>Active Listings</span>
                </ng-template>
                <!-- <app-dashboard-last-mqrs></app-dashboard-last-mqrs> -->
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    <span>InActive Listings</span>
                </ng-template>
                <!-- <app-dashboard-last-mqrs></app-dashboard-last-mqrs> -->
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    <span>Products Rejection</span>
                </ng-template>
                <!-- <app-dashboard-last-mqrs></app-dashboard-last-mqrs> -->
            </pg-tab>
        </pg-tabset>
    </div>
    <pg-container extraHorizontalClass="bg-white" extraClass="bg-white">
        <!-- START card -->
        <div class="card card-transparent">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title">Supplier My Listing</div>
                <div class="export-options-container"></div>
                <!-- <div class="clearfix"></div> -->
            </div>
            <div class="card-body">
                <div class="table-responsive" style="height: 600px; overflow-y: hidden">
                    <!-- <ngx-datatable #tableAdvance class='table table-hover table-stripped' [columns]="advanceColumns" [columnMode]="columnModeSetting" [scrollbarH]="scrollBarHorizontal" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [limit]="5" [scrollbarV]="true"
                        [rows]='advanceRows' [selectionType]="type" (select)="select($event)">



                    </ngx-datatable> -->

                    <ngx-datatable #tableAdvance class="table table-hover table-stripped" [rows]="advanceRows" [loadingIndicator]="loadingIndicator" [columns]="advanceColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [columnMode]="columnModeSetting"
                        [limit]="5" [scrollbarH]="scrollBarHorizontal" [scrollbarV]="true" (page)="onPage($event)">
                        >
                        <ngx-datatable-column name="">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <input type="checkbox" (click)="handler(row)" />
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Img">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <img src="{{row.image}}" alt="">
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column *ngFor="let col of advanceColumns" [name]="col.name" [hidden]="col.image">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Actions" sortable="false" prop="name">
                            <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
                                <button class="me-4 btn btn-primary show-notification" md-icon-button (click)="delete(value)">
                  Update
                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
        <!-- END card -->
    </pg-container>
</div>
<!-- END CONTAINER FLUID -->