
<div class="container mt-4">
    <div class="bg-white m-3 p-3 shadow-sm mt-4 p-4">
        <div class="row  ">
            <div class="col-md-3  p-3 ">
                <input  type="text" class="form-control" aria-label="Default select example" placeholder="Company Name">
                 
            </div>
            <div class="col-md-3  p-3 ">
                <input  type="text" class="form-control" aria-label="Default select example" placeholder="E-mail">
            </div>
            <div class="col-md-2  p-3 ">
                <input  type="text" class="form-control" aria-label="Default select example" placeholder="Number">
            </div>
            <div class="col-md-2  p-3 ">
                <input  type="text" class="form-control" aria-label="Default select example" placeholder="GST No">
            </div>
            <div class="col-md-2  p-3 mt-1">
                <button class="btn btn-primary">Search</button>
            </div>
            
        </div>
    </div>
</div>

<div class="container">
    <div class="">
        <div class="bg-white m-3 p-3 shadow-sm">
            <div class="container">
               
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">SR.No</th>
                            <th scope="col">Company name</th>
                            <th scope="col">Name</th>
                            <!-- <th scope="col">E-mail</th> -->
                            <th scope="col">Registered Date</th>
                             <th scope="col">Agent Name</th>
                              <th scope="col">Phone </th> 
                            <th scope="col">Country</th>
                            <th scope="col">State</th>
                            <th scope="col">City</th>
                            <!-- <th scope="col">Status</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Scorpius</td>
                            <td>Riti</td>
                            <!-- <td>Otto@yopmail.com</td> -->
                            <td>19009</td>
                            <td>Riti</td>
                            <td>India</td>
                            <td>up</td>
                            <td>xyz</td>
                            <td>xyz</td>
                            <td>Confirm Check</td>
                           
                          </tr>
                       
                        </tbody>
                      </table>
        
        
                </div>
            </div>
        </div>
         
    </div>
</div>
