<app-header1></app-header1>
<app-catalogue-seller-company-details></app-catalogue-seller-company-details>
<app-catalogue-menubar></app-catalogue-menubar>
<!-- <app-catalogue-menubar></app-catalogue-menubar> -->
<!-- <div class="ml-4">
    <div class="">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 text-center shadow">
                    <h6 class="txt-sty">About Company</h6>
                    <hr>
                    <p class="txt-sty-two">Company Introduction</p>
                    <p class="txt-sty-two">Export Capability</p>
                    <p class="txt-sty-two">Manufacturing Capacity</p>
                    <p class="txt-sty-two">Quality Control</p>
                    <p class="txt-sty-two">R&D Capacity</p>
                    <p class="txt-sty-two">Certificate Center</p>
                </div>
                <div class="col-md-8 shadow">
                    <h6 class="mt-4 txt-sty">About</h6>
                    <p class="txt-sty-two">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                    <div class="row">
                        <h6 class="col-md-4 mt-4 txt-sty">Company Mission and Vision:</h6>
                        <p class="col-md-4 mt-4 txt-sty-two "> Mission Vision Here</p>
                    </div>
                    <div class="row">
                        <h6 class="col-md-4 mt-4 txt-sty">Company Philosophy:</h6>
                        <p class="col-md-4 mt-4 txt-sty-two"> Company Philosophy</p>
                    </div>


                </div>
            </div>

            <div class="row mt-4 mr-bottom">
                <div class="col-md-3"></div>
                <div class="col-md-8 shadow">
                    <h6 class="mt-2 txt-sty">Factory Region</h6>
                    <table class="table">
                        <thead>
                            <tr class="thead-light">
                                <th scope="col" class="thead-light">Factory Size</th>
                                <th scope="col">Factory Region</th>
                                <th scope="col">No of product line</th>
                                <th scope="col">Contract Manufacturing</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>

                   
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-3"></div>
                <div class="col-md-8 shadow">
                    <h6 class="mt-2 txt-sty">Quality Control</h6>
                    <table class="table">
                        <thead>
                            <tr class="thead-light">
                                <th scope="col" class="thead-light">Factory Size</th>
                                <th scope="col">Factory Region</th>
                                <th scope="col">No of product line</th>
                                <th scope="col">Contract Manufacturing</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-md-3 p-3">
            <div class="p-3 bg-white">
                <h4 class="ml-3">About Company
                </h4>
                <ul *ngFor="let tab of tabs" class="list-unstyled ml-3">
                    <li>
                        <a class="text-muted" href="">{{tab.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="p-3 bg-white">

                <h4>Company Mission and Vision</h4>
                <br>
                <p>{{ sellerDetails.companyDetail.companyVision }}

                <h4>Company Philosophy</h4>
                <br>
                <p>{{sellerDetails.companyDetail.companyPhilosophy }}
                </p>
            </div>
        </div>
        <div class="col-md-6 p-3 ">
            <div class="p-3 bg-white">

                <h3>
                    <span class="semi-bold ">About</span>
                </h3>
                <p>{{ sellerDetails.companyDetail.companyDetail }}
                </p>
 <div class="container">
     <div class="row">
         <div class="col-md-6">
             <a href="{{ sellerDetails.companyDetail.companyWebsite }}">
                 <div class="d-flex flex-row">
                     <div> <i class="pg-icon">globe</i></div>
                     <p>Website</p>
                 </div>

             </a>
         </div>
         <div class="col-md-6">
             <a href="{{ sellerDetails.companyDetail.googleBusiness }}">
                 <div class="d-flex flex-row">
                     <div> <i class="pg-icon">globe</i></div>
                     <p>Google Business</p>
                 </div>

             </a>
         </div>
         <div class="col-md-6">
             <a href="{{ sellerDetails.companyDetail.facebookBusiness }}">
                 <div class="d-flex flex-row">
                     <div> <i class="pg-icon">facebook</i></div>
                     <p>Facebook</p>
                 </div>

             </a>
         </div>
         <div class="col-md-6">
             <a href="{{ sellerDetails.companyDetail.instagramBusiness }}">
                 <div class="d-flex flex-row">
                     <div> <i class="pg-icon">heart</i></div>
                     <p>Instagam</p>
                 </div>

             </a>
         </div>
     </div>
 </div>

            </div>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-9 ">
            <h4 class="mr-r">Company Introduction</h4>
            <div class="shadow">
                <table class="table table-borderless">
                    <tr>
                        <td class="bg"><b>Business Type</b></td>
                        <td>
                            <span *ngFor="let name of sellerDetails.businessType.types"><span *ngIf="name.checked"></span>{{name.value}},</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg"><b>Main Product</b></td>
                        <td>
                            <span *ngFor="let product of sellerDetails.companyProfile.mainProduct">{{product}},</span>
                        </td>
                        </tr>
                    <tr>
                        <td class="bg"><b>Total Anual Revenue</b></td>
                        <td>Below 100$</td>
                    </tr>
                    <tr>
                        <td class="bg"><b>Main Markets</b></td>
                        <td>Hand bag, clothes, pants, shirts</td>
                    </tr>
                    <tr>
                        <td class="bg"><b>Partner</b></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-3">
        </div>
        <div class="col-md-9 ">
            <h4 class="mr-r">Company Details</h4>
            <div class="shadow">
                <table class="table table-borderless">
                    <tr>
                        <td class="bg"><b>Company</b></td>
                        <td>{{sellerDetails.sellerDetails.Company}}</td>
                    </tr>
                    <tr>
                        <td class="bg"><b>Name</b></td>
                        <td>{{sellerDetails.sellerDetails.fName}} {{sellerDetails.sellerDetails.lName}}</td>
                    </tr>
                    <tr>
                        <td class="bg"><b>Contact No.</b></td>
                        <td>{{sellerDetails.sellerDetails.phone}}</td>
                    </tr>
                    <tr>
                        <td class="bg"><b>Email Id</b></td>
                        <td>{{sellerDetails.sellerDetails.email}}</td>
                    </tr>
                    <tr>
                        <td class="bg"><b>Address</b></td>
                        <td>{{sellerDetails.sellerDetails.address1}},{{sellerDetails.sellerDetails.city}},{{sellerDetails.sellerDetails.country}}
                        </td>
                    </tr>
                </table>
            </div>
            </div>

            <div class="col-md-3">
            </div>
            <div class="col-md-9 ">
                <h4 class="mr-r">Certification</h4>
                <div class="shadow">
                    <table class="table table-borderless">
                        <tr *ngFor="let certificate of sellerDetails.certification.certificates">
                            <!-- <td class="bg"><b>Business Type</b></td> -->
                            <td>
                                <span *ngIf="certificate.checked == true">{{certificate.name}}/</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="col-md-3">
            </div>
            <div class="col-md-9 ">
                <h4 class="mr-r">Export Capabilities</h4>
                <div class="shadow">
                    <table class="table table-borderless">
                        <tr>
                        <td>Yearly Turnover</td>
                        <td>{{sellerDetails.exportCapabilities.yearlyTurnover}}</td>
                        </tr>
                        <tr>
                            <td>Nearest Port</td>
                            <td>{{sellerDetails.exportCapabilities.nearestPort}}</td>
                        </tr>
                        <tr>
                            <td>Exporting Science</td>
                            <td>{{sellerDetails.exportCapabilities.exportingScience}}</td>
                        </tr>
                        <tr>
                            <td>Exporting Percent</td>
                            <td>{{sellerDetails.exportCapabilities.exportingPercent}}</td>
                        </tr>
                        <tr>
                            <td>North America</td>
                            <td>{{sellerDetails.exportCapabilities.northAmerica}}</td>
                        </tr>
                        <tr>
                            <td>Western Europe</td>
                            <td>{{sellerDetails.exportCapabilities.westernEurope}}</td>
                        </tr>
                        <tr>
                            <td>Eastern Asia</td>
                            <td>{{sellerDetails.exportCapabilities.easternAsia}}</td>
                        </tr>
                        <tr>
                            <td>South America</td>
                            <td>{{sellerDetails.exportCapabilities.southAmerica}}</td>
                        </tr>
                        <tr>
                            <td>Northan Europe</td>
                            <td>{{sellerDetails.exportCapabilities.northanEurope}}</td>
                        </tr>
                        <tr>
                            <td>Africa</td>
                            <td>{{sellerDetails.exportCapabilities.africa}}</td>
                        </tr>
                        <tr>
                            <td>Central America</td>
                            <td>{{sellerDetails.exportCapabilities.centralAmerica}}</td>
                        </tr>
                        <tr>
                            <td>Southern Europe</td>
                            <td>{{sellerDetails.exportCapabilities.southernEurope}}</td>
                        </tr>
                        <tr>
                            <td>Middile East</td>
                            <td>{{sellerDetails.exportCapabilities.middileEast}}</td>
                        </tr>
                        <tr>
                        <td>Eastern Europe</td>
                        <td>{{sellerDetails.exportCapabilities.easternEurope}}</td>
                        </tr>
                        <tr>
                            <td>South Asia</td>
                            <td>{{sellerDetails.exportCapabilities.southAsia}}</td>
                            </tr>
                            <tr>
                            <td>Gulf</td>
                            <td>{{sellerDetails.exportCapabilities.gulf}}</td>
                            </tr>
                            <tr>
                            <td>Domastic Market</td>
                            <td>{{sellerDetails.exportCapabilities.domasticMarket}}</td>
                            </tr>
                            </table>
                            </div>
                            </div>
    </div>
</div>

<app-footer1></app-footer1>