<app-catalogue-menubar></app-catalogue-menubar>
<app-catalogue-seller-company-details></app-catalogue-seller-company-details>
<div class="ml-4">
    <div class="">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 text-center shadow">
                    <h6 class="txt-sty">About Company</h6>
                    <hr>
                    <p class="txt-sty-two">Company Introduction</p>
                    <p class="txt-sty-two">Export Capability</p>
                    <p class="txt-sty-two">Manufacturing Capacity</p>
                    <p class="txt-sty-two">Quality Control</p>
                    <p class="txt-sty-two">R&D Capacity</p>
                    <p class="txt-sty-two">Certificate Center</p>
                </div>
                <div class="col-md-8 shadow">
                    <h6 class="mt-4 txt-sty">About</h6>
                    <p class="txt-sty-two">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                    <div class="row">
                        <h6 class="col-md-4 mt-4 txt-sty">Company Mission and Vision:</h6>
                        <p class="col-md-4 mt-4 txt-sty-two "> Mission Vision Here</p>
                    </div>
                    <div class="row">
                        <h6 class="col-md-4 mt-4 txt-sty">Company Mission and Vision:</h6>
                        <p class="col-md-4 mt-4 txt-sty-two"> Mission Vision Here</p>
                    </div>


                </div>
            </div>

            <div class="row mt-4 mr-bottom">
                <div class="col-md-3"></div>
                <div class="col-md-8 shadow">
                    <h6 class="mt-2 txt-sty">Factory Region</h6>
                    <table class="table">
                        <thead>
                            <tr class="thead-light">
                                <th scope="col" class="thead-light">Factory Size</th>
                                <th scope="col">Factory Region</th>
                                <th scope="col">No of product line</th>
                                <th scope="col">Contract Manufacturing</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- <div class="text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="bg-list">
                                    <p class="">Factory Size</p>
                                    <p class="">Factory Region</p>
                                    <p class="">No of product line</p>
                                    <p class="">Contract Manufacturing</p>
                                  
                                </div>
                            </div>
                            <div class="col-md-4 border">

                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-3"></div>
                <div class="col-md-8 shadow">
                    <h6 class="mt-2 txt-sty">Quality Control</h6>
                    <table class="table">
                        <thead>
                            <tr class="thead-light">
                                <th scope="col" class="thead-light">Factory Size</th>
                                <th scope="col">Factory Region</th>
                                <th scope="col">No of product line</th>
                                <th scope="col">Contract Manufacturing</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>