<div class="container">

    <div class="row">
        <div class="col-md-12 pl-0 pr-0">
            <h1 class="mb-4 text-center">Export Capabilities</h1>
            <form class="border mb-4">
                <h6 class="mb-4 text-center">Yearly TurnOver</h6>
                <h6 class="mb-4 text-center"> Exports Market And Distribution</h6>
                <div class="row mr-0 ml-0">

                    <div class="col-md-4">
                        <label for="">North America</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">Western Europe</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">Eastern Asia</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">South America</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">Northern Europe</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">Africa</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">Central America</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">Southern Europe</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">Middle East</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">Eastern Europe</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">Gulf</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">Southern Europe</label>
                        <input type="number" placeholder="%">
                    </div>
                    <div class="col-md-4">
                        <label for="">Local And Domestic Market</label>
                        <input type="number" placeholder="%">
                    </div>


                </div>

            </form>

        </div>

    </div>
</div>