      <label for="top-3-markets">
          <h5>
              Top 3 Markets
          </h5>
          <ul class="list-unstyled">
              <li *ngFor="let i of [0,1,2,3]">
                  <input type="checkbox">
                  <span>
                      Supplier
                  </span>
              </li>
          </ul>
      </label>
      <label for="total-revenue">
          <h5>
              Total Revenue
          </h5>
          <ul class="list-unstyled">
              <li *ngFor="let i of [0,1,2,3]">
                  <a href="">US$ 1 M to US$ 2.5 </a>
              </li>
          </ul>
      </label>
      <label for="mgnt-certification">
          <h5>
              Mgnt Certification
          </h5>
          <ul class="list-unstyled">
              <li *ngFor="let i of [0,1,2,3]">
                  <input type="checkbox">
                  <span>
                      ISO9001
                  </span>
              </li>
          </ul>
      </label>
      <label for="employees">
          <h5>
              No. of Employees
          </h5>
          <ul class="list-unstyled">
              <li>
                  <a href="">11 - 50 People</a>
              </li>
              <li>
                  <a href="">51 - 100 People</a>
              </li>
              <li>
                  <a href="">150 - 200 People</a>
              </li>
              <li>
                  <a href="">250 - 300 People</a>
              </li>
          </ul>
      </label>
