<div class="register-container full-height sm-p-t-30">
  <div class="d-flex justify-content-center flex-column full-height">
    <img src="assets/img/logo.png" alt="logo" pgRetina src1x="assets/img/logo.png" src2x="assets/img/logo_2x.png"
      width="78" height="22" />
    <h3>Reset Your Password </h3>
    <p>Enter your new Password Below</p>
    <form class="p-t-15" role="form" [formGroup]="resetPasswordForm">
      <div class="row">
        <div class="col-md-12">
          <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="
              f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched)
            ">
            <label for="page-reset-password-mobile">New Password</label>
            <input type="password" formControlName="newPassword" placeholder="Enter your new password here"
              class="form-control" id="page-reset-password-mobile" />
          </div>
          <div *ngIf="f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched)">
            <label *ngIf="f.newPassword.errors.required" class="error">This field is required.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="
              f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)
            ">
            <label for="page-reset-password-email">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" placeholder="Confirm your new password here"
              class="form-control" id="page-reset-password-email" />
          </div>
          <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)">
            <label *ngIf="f.confirmPassword.errors.required" class="error">This field is required.</label>
            <label *ngIf="f.confirmPassword.errors.confirmPassword" class="error">Password is not valid.</label>
          </div>
        </div>
      </div>
      <div class="text-right">
        <a href="javascript:void(0)" class="text-info small">Help? Contact Support</a>
      </div>
      <button class="btn btn-primary btn-cons m-t-10" type="submit">
        Reset Password
      </button>
    </form>
  </div>
</div>
<div class="full-width">
  <div class="register-container m-b-10 clearfix">
    <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix d-flex-md-up">
      <div class="col-md-2 no-padding d-flex align-items-center">
        <img src="assets/img/demo/pages_icon.png" alt="" class="" pgRetina src1x="assets/img/demo/pages_icon.png"
          src2x="assets/img/demo/pages_icon_2x.png" width="60" height="60" />
      </div>
      <div class="col-md-9 no-padding d-flex align-items-center">
        <p class="hinted-text small inline sm-p-t-10">
          No part of this website or any of its contents may be reproduced,
          copied, modified or adapted, without the prior written consent of the
          author, unless otherwise indicated for stand-alone materials.
        </p>
      </div>
    </div>
  </div>
</div>