<div class="row">
    <div class="col-3"></div>
    <div class="col-9">
        <div class="card-header bg-white border-0 ">



            <div class="row table-sort ">
                <div class="col-5">
                    <h5 class=" m-0">Location List</h5>
                </div>
                <div class="col-5 p-0 mb-0 d-flex justify-content-end mr-3">

                    <button class="btn btn-primary  text-white inter f-12" data-toggle="modal" type="button"
                        (click)="navigateToEdit()">Edit</button>
                    <button class="btn btn-primary  text-white inter f-12 ml-3" data-toggle="modal" type="button"
                        (click)="navigateToAdd()">Add</button>


                </div>
            </div>






        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="table-heading">
                    <tr>
                        <th>Name</th>
                        <th>Currency</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mumbai</td>
                        <td>Ruppee</td>
                        <td>251201</td>
                    </tr>
                    <tr>
                        <td>Mumbai</td>
                        <td>Ruppee</td>
                        <td>251201</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>