.main-container {
    height: 100%;
    text-align: center;
    margin-top: 245px;
    h1 {
        color: #202124;
        font-size: 50px;
        line-height: 80px;
        font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
        @media(max-width: 992px) {
            font-size: 40px;
        }
        @media(max-width:768px) {
            font-size: 35px;
            line-height: 60px;
        }
        @media(max-width:576px) {
            font-size: 30px;
            text-align: center;
        }
    }
}

.banner-container {
    h2 {
        text-align: center;
        padding-top: 27rem;
        color: #202124;
        font-size: 50px;
        line-height: 80px;
        font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
    }
    ul {
        list-style-type: none;
    }
    li p {
        font-size: 20px;
    }
    .blue-disc {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: blue;
    }
    // div {
    //     left: 34px;
    // }
}