<app-header1></app-header1>
<div class="container-fluid">
    <div class="main-container">
        <h1>To start with Bizzexpo you should know the process of managing the catalogue . The below suggestions can help you keep a clean product catalog database:
        </h1>
    </div>
    <div class="banner-container">
        <h2>To register an account on Bizzexpo please follow the steps below:
        </h2>
        <div>
            <ul class="fw-bold ">
                <li>
                    <div class="d-flex align-items-center mt-3">
                        <div class="blue-disc mr-4">

                        </div>
                        <p class="my-4  fw-bold">Go to Login page, click Join Free to register an account.</p>
                    </div>

                </li>
                <li>
                    <div class="d-flex align-items-center mt-3">
                        <div class="  blue-disc mr-4">

                        </div>
                        <p class="my-4  fw-bold">Enter your email address, tick the Agreement and Next.</p>
                    </div>

                </li>

                <li>
                    <div class="d-flex align-items-center mt-3">
                        <div class="  blue-disc mr-4">

                        </div>
                        <p class=" my-4  fw-bold">A confirmation email will be sent to your mail. Please click the link in the email and fill in all the required information.</p>
                    </div>

                </li>
                <li>
                    <div class="d-flex align-items-center mt-3">
                        <div class="  blue-disc mr-4">

                        </div>
                        <p class="my-4 fw-bold">If you do not have a business, you can fill the “Company name” field with your name.
                        </p>
                    </div>

                </li>
                <li>
                    <div class="d-flex align-items-center mt-3">
                        <div class="  blue-disc mr-4">

                        </div>
                        <p class="my-4  fw-bold">At your dashboard you will Supplier section to fill your all your company related details. Please fill all details carefully.
                        </p>
                    </div>

                </li>
                <li>
                    <div class="d-flex align-items-center mt-3">
                        <div class="blue-disc mr-4">

                        </div>
                        <p class="my-4 fw-bold">After filling all the information you can start posting your products into a bizzexpo category. You also have the option to create your own categories and product variants for your catalogue.
                        </p>
                    </div>

                </li>
                <li>
                    <div class="d-flex align-items-center mt-3">
                        <div class="  blue-disc mr-4">

                        </div>
                        <p class=" my-4  fw-bold">You should have good resolution pictures with the product description to place product with the product variants.
                        </p>
                    </div>

                </li>
                <li>
                    <div class="d-flex align-items-center mt-3">
                        <div class="blue-disc mr-4">
                        </div>
                        <p class=" my-4  fw-bold">After the product posting you can wait for the product approval.
                        </p>
                    </div>
                </li>
                <li>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-footer1></app-footer1>