<div class="container-fluid p">
    <div class="row">
        <div class="col-12">
            <div class="container-xxl">

                <div class="row box1 bg-white rounded   mt-3 ">
                    <div class="col-10 p-0 m-3">
                        <span><b>Welcome to Bizzoxpo</b></span><br>
                        <p>Find quality Manufacturing & Processing Machinery Suppliers, Manufacturers, Exporters,
                            Importers, Buyers, Wholesalers, Products from our trade site for importing and exporting.
                        </p>
                    </div>
                    <div class="col-2">

                    </div>
                </div>


                <div class="row box2  bg-white  rounded  mt-3 p-0">
                    <div class="col-9 p-0 mt-3 ">
                        <p class="ml-3">Haven't found the right supplier yet ? Let matching verified suppliers find you.
                        </p>
                    </div>
                    <div class="col-3 p-0">
                        <button aria-label type="button" class="btn btn-block buttontop  btn-lg  btn-icon-right">

                            <span>Get Quotation Now (FREE)</span>
                            <i class="pg-icon md-18 ">arrow_right </i>
                        </button>
                    </div>
                </div>


                <div class="row box3  bg-white rounded  mt-3 mb-3 p-0">
                    <div class="col-8 p-0 mt-3 ml-3">
                        <p>View related <b>Manufacturing & Processing Machinery suppliers</b> </p>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row footer2-back-color pt-5">
        <div class="col-12">
            <div class="container-xxl">
                <div class="row pb-5">


                    <div class="col-sm-4  p-0">

                        <h4>Subscribe for newsletter</h4>
                    </div>



                    <div class="col-sm-4  p-0   ">

                        <input class="input-width " type="text">


                    </div>
                    <div class="col-sm-2 p-0">

                        <button aria-label type="button"
                            class="btn btn-block buttondown btn-complete btn-lg  btn-icon-right">
                            <!-- <i class="pg-icon md-18">arrow_right </i>   -->
                            <span>Submit</span>
                            <i class="pg-icon md-18 ">arrow_right </i>
                        </button>


                    </div>
                    <div class="col-sm-2 ">

                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-3 p-0">
                                <dl>
                                    <dd>Follow Us :</dd>

                                </dl>
                            </div>
                            <div class="col-sm-9 p-0">
                                <div class="icons">
                                    <div><a href="#"><i class="pg-icon bg-white">facebook</i></a></div>
                                    <div><a href="#"><i class="pg-icon bg-white ms-4">facebook</i></a></div>
                                    <div><a href="#"><i class="pg-icon bg-white ms-4">facebook</i></a></div>
                                    <div><a href="#"><i class="pg-icon bg-white ms-4">facebook</i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row pb-1">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-2">
                                <a href="#" class="text ">
                                    <p class="p-color">About</p>
                                </a>

                            </div>
                            <div class="col-2">
                                <a href="#" class="text ">
                                    <p class="p-color">Buy</p>
                                </a>

                            </div>
                            <div class="col-2">
                                <a href="#" class="text">
                                    <p class="p-color">Sell</p>
                                </a>

                            </div>
                            <div class="col-2 p-0">
                                <a href="#" class="text ">
                                    <p class="p-color">FAQ</p>
                                </a>

                            </div>
                            <div class="col-2">
                                <a href="#" class="text ">
                                    <p class="p-color">Support</p>
                                </a>

                            </div>
                            <div class="col-2">
                                <a href="#" class="text">
                                    <p class="p-color">Contact Us</p>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row pb-5">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-2">


                            </div>
                            <div class="col-2">
                                <a href="#" class="text ">
                                    <p class="p-color">Showroom</p>
                                </a>

                            </div>
                            <div class="col-2">
                                <a href="#" class="text ">
                                    <p class="p-color">Suppliers</p>
                                </a>

                            </div>
                            <div class="col-2 p-0">
                                <a href="#" class="text ">
                                    <p class="p-color">Country Search</p>
                                </a>

                            </div>
                            <div class="col-2">
                                <a href="#" class="text ">
                                    <p class="p-color">Site Map</p>
                                </a>

                            </div>
                            <div class="col-2">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row footer2-3-back-color ">
        <div class="col-md-6 mt-3 ">
            <p class="ml-3">Copyright &copy; 2009-2022 Bizzexpo.com - All right reserved.</p>
        </div>
        <div class="col-md-6 mt-3 ">
            <div class="d-flex flex-row-reverse mr-5">
                <div><a href="#" class="text ">
                        <p class="p-color  ms-4">Privacy Policy</p>
                    </a></div>
                <div><a href="#" class="text ">
                        <p class="p-color">Terms and Conditions</p>
                    </a></div>

            </div>
        </div>
    </div>

</div>