<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <nav class="page-sidebar" style="left: 0px !important" data-pages="sidebar">
                <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
                <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
                <!-- BEGIN SIDEBAR MENU HEADER-->
                <div class="sidebar-header">
                    <img src="assets/img/logo.png" alt="logo" class="brand" data-src="assets/img/logo.png"
                        data-src-retina="assets/img/logo_2x.png" width="78" height="22" />
                </div>
                <!-- END SIDEBAR MENU HEADER-->
                <!-- START SIDEBAR MENU -->
                <div class="sidebar-menu">
                    <!-- BEGIN SIDEBAR MENU ITEMS-->
                    <strong class="pl-2">Seller</strong>
                    <ul class="menu-items">
                        <li>
                            <a href="javascript:void(0);" routerLink="dashboard-v2/">
                                <span class="title">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" routerLink="company/">
                                <span class="title">Company</span>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- END SIDEBAR MENU -->
            </nav>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>