<div class="container">
  
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-7">
                <h2>Select a product type</h2>
                <p>Choosing the best product type ensures that you see the most appropriate data fields for your
                  product.
                  Browse
                  the product types directly or use search.
                  <a href="#"> See if your product already exists on Bizzexpo.</a>
                </p>
                <h3 class="pt-2">Favourite</h3>
                <input type="text" class="form-control" aria-describedby="emailHelp"
                  placeholder="You haven't added any favorite categories yet.">

                <div class="d-flex justify-content-start">
                  <div class="mr-auto ">
                    <h3 class="pt-2">Search</h3>
                  </div>
                  <div class="pt-4">
                    <a href="" class="float-right">What is a Product Type?</a>
                  </div>
                </div>

                <div class="form-group input-group ">
                  <input type="text" placeholder="Search for a category" class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text primary"><i class="pg-icon">search</i>
                    </span>
                  </div>
                </div>

      <div class="d-flex justify-content-start">
        <div class="mr-auto ">
          <h3 class="pt-2">Browse</h3>
        </div>
        <div class="pt-4">
          <a href="" class="float-right">What is a Product Type?</a>
        </div>
        </div>
      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Select a category.">
      <div class="bg-white shadow p-3">
        <div class="d-flex justify-content-between">
          <div class="align-items-center">
            <i _ngcontent-iba-c11="" style="font-size: 25px;" class="pg-icon  align-items-center text-muted">star</i>
            <span style="font-size: 18px;" class="pl-3">Automotive</span>

          </div>
          <div>
            <i _ngcontent-iba-c11="" class="pg-icon  align-items-center text-muted">chevron_right</i>
          </div>
          </div>

      </div>
      </div>
      <div class="col-md-3"></div>
  </div>
</div>
