<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <h4>Select a product type</h4>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8">
        <p>Choosing the best product type ensures that you see the most appropriate data fields for your product. Browse
          the product types directly or use search.
          See if your product already exists on Bizzexpo.</p>
      </div>
    </div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="exampleInputEmail1" class="text-bold">Favourite</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="You haven't added any favorite categories yet.">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
  </div>

</div>
<!--  -->
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="exampleInputEmail1" class="text-bold">Search</label>
      <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search for category.">
    
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      <!-- <span style="margin-left: 328px;
      margin-top: -53px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg></span> -->
      
    </div>
  </div>
  <div class="col-md-2">
    <button class="button search-btn">Search</button>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="exampleInputEmail1" class="text-bold">Browse</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select a category.">
      
    </div>
  </div>

</div>

  </div>
</div>