<div class="container">

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      <h2>Select a product type</h2>
      <p>Choosing the best product type ensures that you see the most appropriate data fields for your
        product.
        Browse
        the product types directly or use search.
        <a href="#"> See if your product already exists on Bizzexpo.</a>
      </p>
      <h3 class="pt-2">Favourite</h3>
      <div>
        <div *ngFor="let category of recentCategory">
          <p>{{ category.name }}</p>
        </div>
      </div>

      <div class="d-flex justify-content-start">
        <div class="mr-auto ">
          <h3 class="pt-2">Search</h3>
        </div>
        <div class="pt-4">
          <a href="" class="float-right">What is a Product Type?</a>
        </div>
      </div>

      <div class="form-group input-group ">
        <input type="text" [(ngModel)]="keyword" (keyup)="filterCategory()" placeholder="Search for a category"
          class="form-control">
        <div class="input-group-append">
          <span class="input-group-text primary"><i class="pg-icon">search</i>
          </span>
        </div>
      </div>
      <div class="">
        <div class="" *ngFor="let category of searchedCategories">
          <p>{{ category.mainCategoryName }}</p>
          <p>{{ category.label }}</p>
        </div>
      </div>

      <div class="d-flex justify-content-start">
        <div class="mr-auto ">
          <h3 class="pt-2">Browse</h3>
        </div>
        <div class="pt-4">
          <a href="" class="float-right">What is a Product Type?</a>
        </div>
      </div>
      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Select a category.">
      <div class="bg-white shadow p-3">
        <ng-template [ngTemplateOutlet]="treeUlContainer"
          [ngTemplateOutletContext]="{list:categoryListType3}"></ng-template>
        <ng-template #treeUlContainer let-list='list'>
          <ul>
            <li *ngFor="let item of list" #nodeEl>
              <div class="d-flex align-items-center">
                <div [class.hideToggleContainer]="!item._hasChildren">
                  <button class="btn btn-primary" *ngIf="!item._toggle" [disabled]="!item._hasChildren"
                    (click)="getChildren(item)">
                    Open<i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
                  </button>

                  <button class="btn btn-primary" *ngIf="item._toggle" [disabled]="!item._hasChildren"
                    (click)="remChildren(item)">
                    Close<i class="fa fa-caret-down ml-2" aria-hidden="true"></i>
                  </button>
                </div>
                <button data-dismiss="modal" class="ml-3 btn btn-secondary" (click)="selectExtraCategory(item)">
                  Select
                </button>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span *ngIf="!item._hasChildren">&nbsp;{{item._name}}&nbsp;&nbsp;&nbsp;</span>
                <span *ngIf="item._hasChildren">
                  <b>&nbsp;{{item._name |
                    uppercase}}&nbsp;&nbsp;&nbsp;</b>
                </span>
              </div>
              <ng-container *ngIf="item?.children && item.children.length>0">
                <ng-template [ngTemplateOutlet]="treeUlContainer"
                  [ngTemplateOutletContext]="{list:item.children}"></ng-template>
              </ng-container>
            </li>
          </ul>
        </ng-template>

      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>