<div class="container">
    <div class="row">
        <p class="heading">Connecting businesses with the <br> accessible information to bring <br> them closer and
            together.
        </p>
    </div>
    <div class="mainContainerTwo">
        <div>
            <h1 class="headingTwo">Our Culture</h1>
            <div>
                <div class="containerOne">
                    <h6 class="para">At Bizzexpo, we are constantly
                        iterating,
                        solving problems and working together
                        to
                        connect Businesses all
                        over the world. That’s why it’s important that we provide the best trade information to all. We
                        are
                        trying to help with a platform which helps to make better trade environment, find better
                        products
                        and
                        create better experiences for everyone.
                    </h6>
                </div>
                <div class="containerTwo">
                    <div class="imgDiv">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <h2 class="headingTwo">Our Culture
</h2>
<div>
    <div class="imgDiv">

    </div>
    <div class="contentDiv">
        <h6 class="contentPara">At Bizzexpo, we are constantly iterating, solving problems and working together to
            connect Businesses all
            over the world. That’s why it’s important that we provide the best trade information to all. We are
            trying to help with a platform which helps to make better trade environment, find better products and
            create better experiences for everyone.
        </h6>
    </div>
</div> -->

<br>
<div class="mt-4" style="width:20px">Footer</div>