.heading{
    color: #202124;
    font-size: calc(40px + 20 * (100vw - 1024px) / 416);
    line-height: 1.2;
    // font-family: "Google Sans Display","Google Sans","Google Sans Text",Arial,sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 250px;
}
.headingTwo{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
    font-weight: bold;
   
}
.imgDiv{
    float: left;
    background-image: url("../../../../assets/assets/img/deal.jpg");
    width: 50%;
    height: 500px;
    background-size: cover;
  
   
}
.contentDiv{
    float: right;
    width: 50%;
    height: 500px;
    background-color:rgb(206, 199, 199);
   
}
.contentPara{
    text-align: center;
    margin-top: 25px;
    width: 100%;
    // font-family: "Google Sans Display","Google Sans","Google Sans Text",Arial,sans-serif;
    line-height: 38px;
    font-size: 20px;
    font-weight: bold;
    color: #202124;
    
   
}
.contentPara{
    padding: 70px;
    color: black;
}