<div class="main-container m-2">
    <div class="d-flex justify-content-center">


        <div class="text-center">
            <h2>Our Blogs</h2>
            <h4 class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, magnam?</h4>
        </div>


    </div>
    <!--First slide-->
    <div class="row active">

        <div class="col-md-4 col-sm-12 p-4" style="float:left">
            <div class="card mb-2  bg-none  ">
                <div class="card-header mb-0 pb-0 pt-1">
                    <div class="border-bottom ">
                        <h5 class="text-dark mb-0 "> Helping fashion brands making more sustainable decisions</h5>
                        <p class="text-end mb-0 mt-0"> March 22</p>
                    </div>
                    <div class=" clearfix d-flex align-items-center justify-content-between m-0 p-0">
                        <h6 class=" text-complete-light mt-0 mb-0 ">Apparels</h6>
                        <ul class="reactions card-icon-list d-flex mb-0 mr-0 pr-0 justify-content-end ">
                            <li>
                                <a class="d-flex align-items-center text-muted ml-2" href="javascript:void(0)">5,345 <i class="pg-icon">comment</i></a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center text-muted" href="javascript:void(0)">23K <i class="pg-icon">heart</i></a>
                            </li>
                        </ul>
                    </div>

                </div>


                <div class="card-body m-0 p-0">

                    <div class="m-0 p-0">
                        <img class="img-fluid m-0 p-0 card-img-size " src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                    </div>


                    <div class="card-footer   p-2">
                        <input type="checkbox" id="1" class="d-none">
                        <p class="text-muted mb-0 mt-0  char-show ">This addition add two additional years of imaginary this addition add two additional years of imaginary This addition add two additional years of imaginary This addition add two additional years of imaginary...</p>
                        <label for="1" role="button">read more</label>





                    </div>




                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 p-4" style="float:left">
            <div class="card mb-2  bg-none  ">
                <div class="card-header mb-0 pb-0 pt-1">
                    <div class="border-bottom ">
                        <h5 class="text-dark mb-0 "> Helping fashion brands making more sustainable decisions</h5>
                        <p class="text-end mb-0 mt-0"> March 22</p>
                    </div>
                    <div class=" clearfix d-flex align-items-center justify-content-between m-0 p-0">
                        <h6 class=" text-complete-light mt-0 mb-0 ">Apparels</h6>
                        <ul class="reactions card-icon-list d-flex mb-0 mr-0 pr-0 justify-content-end ">
                            <li>
                                <a class="d-flex align-items-center text-muted ml-2" href="javascript:void(0)">5,345 <i class="pg-icon">comment</i></a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center text-muted" href="javascript:void(0)">23K <i class="pg-icon">heart</i></a>
                            </li>
                        </ul>
                    </div>

                </div>


                <div class="card-body m-0 p-0">

                    <div class="m-0 p-0">
                        <img class="img-fluid m-0 p-0 card-img-size " src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                    </div>


                    <div class="card-footer   p-2">
                        <input type="checkbox" id="2" class="d-none">
                        <p class="text-muted mb-0 mt-0  char-show ">This addition add two additional years of imaginary this addition add two additional years of imaginary This addition add two additional years of imaginary This addition add two additional years of imaginary...</p>
                        <label for="2" role="button">read more</label>





                    </div>




                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 p-4" style="float:left">
            <div class="card mb-2  bg-none  ">
                <div class="card-header mb-0 pb-0 pt-1">
                    <div class="border-bottom ">
                        <h5 class="text-dark mb-0 "> Helping fashion brands making more sustainable decisions</h5>
                        <p class="text-end mb-0 mt-0"> March 22</p>
                    </div>
                    <div class=" clearfix d-flex align-items-center justify-content-between m-0 p-0">
                        <h6 class=" text-complete-light mt-0 mb-0 ">Apparels</h6>
                        <ul class="reactions card-icon-list d-flex mb-0 mr-0 pr-0 justify-content-end ">
                            <li>
                                <a class="d-flex align-items-center text-muted ml-2" href="javascript:void(0)">5,345 <i class="pg-icon">comment</i></a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center text-muted" href="javascript:void(0)">23K <i class="pg-icon">heart</i></a>
                            </li>
                        </ul>
                    </div>

                </div>


                <div class="card-body m-0 p-0">

                    <div class="m-0 p-0">
                        <img class="img-fluid m-0 p-0 card-img-size " src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                    </div>


                    <div class="card-footer   p-2">
                        <input type="checkbox" id="3" class="d-none">
                        <p class="text-muted mb-0 mt-0  char-show ">This addition add two additional years of imaginary this addition add two additional years of imaginary This addition add two additional years of imaginary This addition add two additional years of imaginary...</p>
                        <label for="3" role="button">read more</label>





                    </div>




                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 p-4" style="float:left">
            <div class="card mb-2  bg-none  ">
                <div class="card-header mb-0 pb-0 pt-1">
                    <div class="border-bottom ">
                        <h5 class="text-dark mb-0 "> Helping fashion brands making more sustainable decisions</h5>
                        <p class="text-end mb-0 mt-0"> March 22</p>
                    </div>
                    <div class=" clearfix d-flex align-items-center justify-content-between m-0 p-0">
                        <h6 class=" text-complete-light mt-0 mb-0 ">Apparels</h6>
                        <ul class="reactions card-icon-list d-flex mb-0 mr-0 pr-0 justify-content-end ">
                            <li>
                                <a class="d-flex align-items-center text-muted ml-2" href="javascript:void(0)">5,345 <i class="pg-icon">comment</i></a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center text-muted" href="javascript:void(0)">23K <i class="pg-icon">heart</i></a>
                            </li>
                        </ul>
                    </div>

                </div>


                <div class="card-body m-0 p-0">

                    <div class="m-0 p-0">
                        <img class="img-fluid m-0 p-0 card-img-size " src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                    </div>


                    <div class="card-footer   p-2">
                        <input type="checkbox" id="4" class="d-none">
                        <p class="text-muted mb-0 mt-0  char-show ">This addition add two additional years of imaginary this addition add two additional years of imaginary This addition add two additional years of imaginary This addition add two additional years of imaginary...</p>
                        <label for="4" role="button">read more</label>





                    </div>




                </div>
            </div>
        </div>








    </div>

</div>