<div class="main-container">
    <section class="card  p-5 pb-0 ">


        <div class="    recent-card  mt-5 ">

            <div class="row m-0 ">

                <div class="col-lg-8 col-sm-12 px-0">


                    <img src="../assets/img/blog/office.jpg" alt=" " class="img-fluid card-img card-img-size1 rounded-0 ml-0 ">

                </div>
                <div class="col-lg-4 col-sm-12  border-0 card-img-size1">
                    <div class="  card-body  border-0 ">

                        <div class="d-flex justify-content-between">
                            <h6 class="card-title text-complete mt-0 mb-0 ">
                                <b> Responsiblity</b>
                            </h6>
                            <div class="d-flex align-items-center  ">
                                <a class="d-flex align-items-center text-muted mr-2 " href="javascript:void(0) ">5,345 <i class="pg-icon ">comment</i></a>
                                <a class="d-flex align-items-center text-muted " href="javascript:void(0) ">23K <i class="pg-icon ">heart</i></a>
                            </div>
                        </div>
                        <h2 class="title">
                            National Awareness Womens day
                        </h2>
                        <div class="d-flex justify-content-end mt-0 ">
                            <span class="text-muted"> <b> 10 Mar 2022</b></span>
                        </div>

                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam
                            voluptatum, repudiandae nesciunt molestias architecto atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Lorem
                            ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis
                            cum omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam voluptatum, repudiandae nesciunt molestias
                            architecto atque. voluptatum, repudiandae nesciunt molestias architecto atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto
                            atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                            veritatis cum omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam voluptatum, repudiandae nesciunt
                            molestias architecto atque.
                        </p>


                    </div>
                    <div class=" card-footer   d-flex justify-content-end border-0 mt-1">
                        <i class="pg-icon md-18 text-complete">arrow_right</i>
                    </div>



                </div>

            </div>
        </div>


    </section>

    <section class="blogCards m-60 pb-80">

        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-6">
                <div class="card blog-card">
                    <div class="  card-body  border-0 ">

                        <div class="d-flex justify-content-between">
                            <h6 class="card-title text-complete mt-0 mb-0 ">
                                <b> Responsiblity</b>
                            </h6>
                            <div class="d-flex align-items-center  ">
                                <a class="d-flex align-items-center text-muted mr-2 " href="javascript:void(0) ">5,345 <i class="pg-icon ">comment</i></a>
                                <a class="d-flex align-items-center text-muted " href="javascript:void(0) ">23K <i class="pg-icon ">heart</i></a>
                            </div>
                        </div>
                        <h2 class="title">
                            National Awareness Womens day
                        </h2>
                        <div class="d-flex justify-content-end mt-0 ">
                            <span class="text-muted"> <b> 10 Mar 2022</b></span>
                        </div>

                        <img id="currentPhoto" src="SomeImage.jpg" class="blog-size-img mx-0" alt="   Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam
                        voluptatum, repudiandae nesciunt m omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Tushar " width="100" height="120">

                    </div>
                    <div class=" card-footer   d-flex justify-content-end border-0">

                        <i class="pg-icon md-18 text-complete">arrow_right</i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-6">
                <div class="card blog-card">
                    <div class="  card-body  border-0 ">

                        <div class="d-flex justify-content-between">
                            <h6 class="card-title text-complete mt-0 mb-0 ">
                                <b> Responsiblity</b>
                            </h6>
                            <div class="d-flex align-items-center  ">
                                <a class="d-flex align-items-center text-muted mr-2 " href="javascript:void(0) ">5,345 <i class="pg-icon ">comment</i></a>
                                <a class="d-flex align-items-center text-muted " href="javascript:void(0) ">23K <i class="pg-icon ">heart</i></a>
                            </div>
                        </div>
                        <h2 class="title">
                            National Awareness Womens day
                        </h2>
                        <div class="d-flex justify-content-end mt-0 ">
                            <span class="text-muted"> <b> 10 Mar 2022</b></span>
                        </div>
                    </div>
                    <div class="card-body p-0 m-0 ">
                        <img id="currentPhoto" src="../assets/assets/img/fashion.jpg" class="blog-size-img mx-0" alt="   Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam
                            voluptatum, repudiandae nesciunt m omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Tushar ">

                    </div>



                    <!-- <div class=" card-footer   d-flex justify-content-end border-0">
                        <i class="pg-icon md-18 text-complete">arrow_right</i>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-6">
                <div class="card blog-card">
                    <div class="  card-body  border-0 ">

                        <div class="d-flex justify-content-between">
                            <h6 class="card-title text-complete mt-0 mb-0 ">
                                <b> Responsiblity</b>
                            </h6>
                            <div class="d-flex align-items-center  ">
                                <a class="d-flex align-items-center text-muted mr-2 " href="javascript:void(0) ">5,345 <i class="pg-icon ">comment</i></a>
                                <a class="d-flex align-items-center text-muted " href="javascript:void(0) ">23K <i class="pg-icon ">heart</i></a>
                            </div>
                        </div>
                        <h2 class="title">
                            National Awareness Womens day
                        </h2>
                        <div class="d-flex justify-content-end mt-0 ">
                            <span class="text-muted"> <b> 10 Mar 2022</b></span>
                        </div>

                        <img id="currentPhoto" src="SomeImage.jpg" class="blog-size-img mx-0" alt="   Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis cum omnis modi aperiam
                        voluptatum, repudiandae nesciunt m omnis modi aperiam voluptatum, repudiandae nesciunt molestias architecto atque. Tushar " width="100" height="120">

                    </div>
                    <div class=" card-footer   d-flex justify-content-end border-0">

                        <i class="pg-icon md-18 text-complete">arrow_right</i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>

    </section>
</div>