<div class="p-2">
    <div class="container">
        <div class="row  p-10 activeBox">
            <div class="col-md-2  pt-3 pl-0 ">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Country</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-3  p-3 p-10 ">
                <select class="form-select" aria-label="Default select example">
                    <option selected>State</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-2  p-3 p-10 ">
                <select class="form-select" aria-label="Default select example">
                    <option selected>City</option>
                    <option value="1">Approved</option>
                    <option value="2">Reject</option>
                   
                </select>
            </div>

            <div class="col-md-2  p-3 p-10 ">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Category</option>
                    <option value="1">Approved</option>
                    <option value="2">Reject</option>
                   
                </select>
            </div>

<div class="col-md-2  p-3 p-10">
    <button type="button" class="btn btn-primary">Go</button>
</div>
        </div>
    </div>
  
  
    <pg-container extraHorizontalClass="bg-white" extraClass="bg-white">
        <!-- START card -->
        <div class="card card-transparent">
            <div class="card-header  d-flex justify-content-between">
                <div class="card-title">Supplier Buyer Verification
                </div>
                <div class="export-options-container"></div>
                <!-- <div class="clearfix"></div> -->
            </div>
            <div class="card-body">
                <div class="table-responsive" style="height:600px;overflow-y: hidden">

                   
                    <ngx-datatable #tableAdvance class="table table-hover table-stripped" [rows]="advanceRows" [columns]="advanceColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [columnMode]="columnModeSetting" [limit]="5" [scrollbarH]="scrollBarHorizontal"
                        [scrollbarV]="true" (page)="onPage($event)">
                        >
                        <ngx-datatable-column name="Select">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <input type="checkbox" (click)="handler(row)" />
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Company Logo">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <img *ngIf="row.logo && row.logo.length" [src]="imageUrl + row.logo" alt="" style="width: 50px; height: 50px;">
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column *ngFor="let col of advanceColumns" [name]="col.name" [prop]="col.prop" [hidden]="col.image">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Company Logo">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <button class="me-4 btn btn-primary show-notification" md-icon-button (click)="view(row._id)">
                                    View
                                  </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
        <!-- END card -->
    </pg-container>
</div>