<div class="container">
    <div class="col-md-12 align-content">
        <div class="row">
            <div class="col-md-12 mt-4 text-center">
                <h1>Thank you for reaching out to us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Our team is committed to assisting you and we will be connecting with <br>you shortly to provide the support you need</h4>
            </div>
            
        </div>
        
    </div>
</div>