<div class="row ">
    <div class="col-2"></div>
    <div class="col-9">
        <div class="card p-4">
            <div class="row justify-content-center">
                <div action="" class="w-75">

                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <label for="">Parent Category</label>
                            </div>
                            <div class="col-lg-10">
                                <select name="category" id="" #parentCat (change)="handleCategoryChange(parentCat.value)" class="form-control" [(ngModel)]="category.parentCategory">
                                    <option selected value="None">None</option>
                                    <option *ngFor="let option of categoryList" [value]="option.category">{{
                                        option.category }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <label for=""> Category Level</label>
                            </div>
                            <div class="col-lg-10">
                                <input type="number" class="form-control" (change)="handleLevelChange($event)"
                                    [(ngModel)]="category.level">
                            </div>

                        </div>
                    </div> -->

                 

                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <label for=""> Category Name</label>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" [(ngModel)]="category.category">
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <label for=""> Tags</label>
                            </div>


                            <div class="col-lg-10">
                                <input type="text" class="form-control" [(ngModel)]="category.tags">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <label for=""> Description</label>
                            </div>
                            <div class="col-lg-10">
                                <textarea id="" cols="73" rows="8" (change)="handleDescriptionChange($event)"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <label for=""> Keywords</label>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" [(ngModel)]="category.keywords">
                            </div>

                        </div>
                    </div>
                    <div class="form-group row justify-content-center ">
                        <button class="btn btn-primary mt-4 " (click)="submit()">Add Category</button>
                    </div>
                </div>
            </div>
        </div>