a {
    color: #1A73E8;
}

.bg-grey {
    background-color: #FAF9F7;
}

.bg-grey1 {
    background-color: #D7D9DD;
}

.btn-orange {
    background-color: #FF6336;
    color: white;
}

.row {
    margin: 1.5px;
}