<div class="container">
    <h1 class="headingOne">How to respond to buyer inquiries </h1>
    <h6 class="paraOne">Although most buyers purchase on a smaller scale
        under the modern day B2B e-commerce climate,<br>
        responding to
        inquiries is still a crucial step in establishing meaningful
        communication with a buyer.<br> Answering questions in
        detail and in a timely manner is a must for converting <br> inquiries
        into orders, and making more sales .</h6>

    <div class="sectionTwo">
        <h2 class="headingTwo">Share with you several tips for responding to inquiries:</h2>
        <div class="contentOne px-2">
            <h6>Respond to all inquiries within 24 hours in order to maintain a good response <br> rate and maximize
                your
                chances of winning new orders.</h6>
            <h6>Double-check your grammar and spelling before sending your response to <br> make sure you look
                professional.
            </h6>
            <h6>If possible, respond to the buyer during their working hours</h6>
            <h6>Stay in touch by notifying them of promotions, new products or exhibitions <br> you will take part in
                and
                more.</h6>
            <h6>Make sure you have high quality product pictures and videos as well as certificates <br> that you can
                share
                with interested buyers to show off your products <br> and professionalism.</h6>
        </div>
        <div class="contenttwo">
            <p class="contenttwoPara">Remember that inquiries don’t turn <br> into orders with only
                one reply,<br> follow up communication is very
                important.</p>
        </div>
    </div>

</div>