.headingOne{
    color: black;
    text-align: center;
    padding-top: 200px;
}
.paraOne{
    text-align: center;
    padding-top: 20px;
    line-height: 30px;
}
.sectionTwo{
    padding-top: 200px;
    height: 700px;
}
.headingTwo{
text-align: center;
color: black;
padding-bottom: 20px;
}
.contentOne{
    float: left;
    border-left: 2px solid cornflowerblue;

}
.contenttwo{
float: right;
margin-top: 100px;
}
.contenttwoPara{
    color: black;
     font-size: 15px;
}