<app-header1></app-header1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="headingOne">How to <br> respond to <br> buyer inquiries </h1>
            <p class="paraOne">Although most buyers purchase on a smaller scale <br> under the modern day B2B e-commerce climate,<br> responding to inquiries is still a crucial step in establishing <br> meaningful communication with a buyer.<br> Answering questions in detail
                and in a timely manner <br> is a must for converting inquiries into orders, <br> and making more sales .</p>
        </div>
        <div class="col-md-6">
            <div class="img1P">
                <img class="img1" src="../../../../assets/assets/img/list.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sectionTwo">
            <h2 class="headingTwo">Share with you several tips for <br> responding to inquiries</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="contentOne px-2">
                <p class="paraContent pt-2">Respond to all inquiries within 24 hours in order to maintain a good response
                    <br> rate and maximize your chances of winning new orders.
                </p>
                <p class="paraContent">Double-check your grammar and spelling before sending your response to <br> make sure you look professional.
                </p>
                <p class="paraContent">If possible, respond to the buyer during their working hours</p>
                <p class="paraContent">Stay in touch by notifying them of promotions, new products or exhibitions <br> you will take part in and more.
                </p>
                <p class="paraContent pb-2">Make sure you have high quality product pictures and videos as well as certificates
                    <br> that you can share with interested buyers to show off your products <br> and professionalism.
                </p>
            </div>



        </div>
        <div class="col-md-5">
            <div class="img2Margin">
                <img class="img2" src="../../../../assets/assets/img/office.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="contenttwo">
            <p class="contenttwoPara">Remember that inquiries <br> don’t turn into orders with only <br> one reply, follow up , communication <br> is very important.
            </p>
        </div>
    </div>


</div>
<app-footer1></app-footer1>