.headingOne{
    color: black;
   padding-top: 300px;
    font-size: 56px;
    line-height: 70px;
}


.paraOne{
  
    padding-top: 20px;
    line-height: 30px;
    font-size: 16px;
}
.sectionTwo{
    
    padding-top: 200px;
    height: 900px;
}
.headingTwo{
text-align: center;
color: black;
padding-bottom: 20px;
font-size: 40px;
    line-height: 60px;
}
.contentOne{
    // float: left;
    border-left: 2px solid cornflowerblue;
    margin-top: 50px;
    

}
.paraContent{
    font-size: 16px;
    line-height: 15px;
    margin-top: 30px;
}
.contenttwo{
// float: right;
// margin-top: 250px;
text-align: center;
margin-top: 200px;
height: 500px;
}
.contenttwoPara{
    color: black;
     font-size: 50px;
     line-height: 50px;
}