<div class="container">

    <div class="row">
        <div class="col-md-12 pl-0 pr-0">
            <h1 class="mb-4 text-center">Certification Center</h1>
            <form class="border mb-4">
                <h6 class="mb-4 text-center">Certifications You Must Have</h6>
                <div class="row mr-0 ml-0">
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option2">
                        <label class="form-check-label" for="inlineCheckbox1">ISO</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">BSCI</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">SA8000</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">IATF16949</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">WCA</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">WRAP</label>
                    </div>


                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">CE</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">GRS</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">ROHS</label>
                    </div>

                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">FCC</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">EMC</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">TUV MARK</label>
                    </div>


                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">UL</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">UKCA</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">GOTS</label>
                    </div>

                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">CPC</label>
                    </div>
                    <div class="col-md-12">

                        <label class="pr-4">Other Certifications:</label>
                        <input type="file" placeholder="upload">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="border-0 btn btn-primary button ">Add</button>
                </div>
            </form>

        </div>

    </div>
</div>