.card-title {
    font-size: 24px !important;
    font-weight: bold !important;
}

.preview-el {
    width: 320px;
    border: 1px solid black;
    box-shadow: 0 0 8px #ccc;
    padding: 10px;
    padding-top: 4px;
    transition: 1s;
}

.tree-container {
    ul {
        margin-left: 0;
        padding-left: 4px;
        padding-top: 4px;
        list-style: none;

        li {
            margin-bottom: 2px;

            >div {
                display: flex;

                div.hideToggleContainer {
                    opacity: 0;
                }
            }

            button {
                margin-right: 4px;
            }
        }

    }
}