<div class="conatiner-fluid p-3 h-100">
    <div class="card">
        <div class="card-body">
            <h2>Add Country</h2>
            <form [formGroup]="countryForm" (keydown.enter)="$event.preventDefault()">
                <div class="form-group">
                    <h6 class="control-label">Country</h6>
                    <div pgFormGroupDefault class="form-group"
                        [class.has-error]="cf.country.invalid && (cf.country.dirty || cf.country.touched)">
                        <input type="text" class="form-control" formControlName="country">
                    </div>
                </div>
                <div *ngIf="cf.country.invalid && (cf.country.dirty || cf.country.touched)">
                    <label *ngIf="cf.country.errors.required" class="error">Country is required.</label>
                </div>

                <div class="mt-4">
                    <button type="submit" class="me-4 btn btn-primary" (click)="subCountryForm()">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2>Add State</h2>
            <form [formGroup]="stateForm" (keydown.enter)="$event.preventDefault()">
                <div class="form-group">
                    <h6 class="control-label">Country</h6>
                    <div pgFormGroupDefault class="form-group"
                        [class.has-error]="sf.countryId.invalid && (sf.countryId.dirty ||sf.countryId.touched)">
                        <pg-select formControlName="countryId" class="w-100" [PlaceHolder]="'Country'" AllowClear
                            ShowSearch>
                            <pg-option *ngFor="let masterCountry of masterCountryList" [Label]="masterCountry.country"
                                [Value]="masterCountry">
                            </pg-option>
                        </pg-select>
                    </div>
                </div>

                <div class="form-group">
                    <h6 class="control-label">State</h6>
                    <div pgFormGroupDefault class="form-group"
                        [class.has-error]="sf.state.invalid && (sf.state.dirty || sf.state.touched)">
                        <input type="text" class="form-control" formControlName="state">
                    </div>
                </div>
                <div *ngIf="sf.state.invalid && (sf.state.dirty || sf.state.touched)">
                    <label *ngIf="sf.state.errors.required" class="error">State is required.</label>
                </div>

                <div class="mt-4">
                    <button type="submit" class="me-4 btn btn-primary" (click)="subStateForm()">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2>Add Location</h2>
            <form [formGroup]="locationForm" (keydown.enter)="$event.preventDefault()">
                <div class="form-group">
                    <h6 class="control-label">Country</h6>
                    <div pgFormGroupDefault class="form-group"
                        [class.has-error]="lf.countryId.invalid && (lf.countryId.dirty || lf.countryId.touched)">
                        <pg-select formControlName="countryId" class="w-100" [PlaceHolder]="'Country'" AllowClear
                            ShowSearch>
                            <pg-option *ngFor="let masterCountry of masterCountryList" [Label]="masterCountry.country"
                                [Value]="masterCountry">
                            </pg-option>
                        </pg-select>
                    </div>
                </div>

                <div class="form-group">
                    <h6 class="control-label">State</h6>
                    <div pgFormGroupDefault class="form-group"
                        [class.has-error]="lf.stateId.invalid && (lf.stateId.dirty || lf.stateId.touched)">
                        <pg-select formControlName="stateId" class="w-100" [PlaceHolder]="'State'" AllowClear
                            ShowSearch>
                            <pg-option *ngFor="let masterState of masterStateList" [Label]="masterState.state"
                                [Value]="masterState">
                            </pg-option>
                        </pg-select>
                    </div>
                </div>

                <div class="form-group">
                    <h6 class="control-label">City</h6>
                    <div pgFormGroupDefault class="form-group"
                        [class.has-error]="lf.city.invalid && (lf.city.dirty || lf.city.touched)">
                        <input type="text" class="form-control" formControlName="city">
                    </div>
                </div>
                <div *ngIf="lf.city.invalid && (lf.city.dirty || lf.city.touched)">
                    <label *ngIf="lf.city.errors.required" class="error">City is required.</label>
                </div>

                <div class="form-group">
                    <h6 class="control-label">Pincode</h6>
                    <div pgFormGroupDefault class="form-group"
                        [class.has-error]="lf.pincode.invalid && (lf.pincode.dirty || lf.pincode.touched)">
                        <input type="text" class="form-control" formControlName="pincode">
                    </div>
                </div>
                <div *ngIf="lf.pincode.invalid && (lf.pincode.dirty || lf.pincode.touched)">
                    <label *ngIf="lf.pincode.errors.required" class="error">Pincode is required.</label>
                </div>

                <div class="mt-4">
                    <button type="submit" class="me-4 btn btn-primary" (click)="subLocationForm()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>