<div class="container p-3  bg-white ">
    <h3>To begin adding products</h3>
    <form class="p-t-15" role="form">
        <div class="row justify-content-center align-self-center t-p">
            <div class="col-md-8 ">
                <div class="form-group input-group ">
                    <input type="text" placeholder="Search Your Product with the Product name" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text primary"><i class="pg-icon">search</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class=" col-md-8 justify-content-between row">
                <div class=" col-md-6 col-8  ">
                    <a (click)="this.handleEventNotOnPortal()" class="text-primary">I’m adding a product not sold on Bizzexpo</a>
                </div>
                <div class="  col-md-6 col-4 ">
                    <a class="" href="">Need Help</a>
                </div>
            </div>
        </div>



    </form>
</div>