<div class="container">
  <div class="">
    <div class="bg-white m-3 p-3 shadow-sm">
      <div class="container">
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">SR.No</th>
                <th scope="col">Company name</th>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Registered Date</th>
                <th scope="col">Country</th>
                <th scope="col">State</th>
                <th scope="col">City</th>
                <th scope="col">Verified by Associate</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let associate of associateList; let i = index;">
                <th scope="row">{{i+1}}</th>
                <td>{{associate?.companyName}}</td>
                <td></td>
                <td>{{associate?.email}}</td>
                <td></td>
                <td>{{associate?.country}}</td>
                <td>{{associate?.state}}</td>
                <td>{{associate?.city}}</td>
                <td>{{associate?.isVerified===false ? 'Pending' : 'Approved'}}</td>
                <td><button class="btn btn-warning" (click)="navigate(associate?._id)">View</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>