<div class="container-fluid p-3 bg-white">
    <h3>Trade Information</h3>
    <form class="p-t-15" role="form" [formGroup]="tradeInformationForm">
        <div class="row">
            <div class="col-md-6">
                <label for="selling-price">Selling Price</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-radio">
                            <input type="radio" id="set-uniform-price-of-fob" (change)="resetFormValues()" formControlName="sellingPriceType"
                                value="Set Uniform Price of FOB" name="sellingPriceType">
                            <label class="ml-2" for="set-uniform-price-of-fob">
                                Set Uniform Price of FOB </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-radio">
                            <input type="radio" id="set-one-fob-price" (change)="resetFormValues()" name="sellingPriceType" formControlName="sellingPriceType"
                                value="Set One FOB Price">
                            <label class="ml-2" for="set-one-fob-price">
                                Set One FOB Price</label>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- Set Uniform Price of FOB start -->
        <div class="row" *ngIf="sellingPriceType === 'Set One FOB Price'">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-group-default form-group-default-select2 required">
                            <label class="">Unit</label>
                            <pg-select style="width: 100%;" [PlaceHolder]="'Select Option'" formControlName="fobUnit"
                                AllowClear ShowSearch>
                                <pg-option *ngFor="let option of tradeUnitList" [Label]="option.unit"
                                    [Value]="option.unit" [Disabled]="false">
                                </pg-option>
                            </pg-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- <div class="form-group form-group-default form-group-default-select2 required">
                            <label class="">FOB Price</label>
                            <pg-select style="width: 100%;" [PlaceHolder]="'Select Option'" formControlName="fobPrice"
                                AllowClear ShowSearch>
                                <pg-option *ngFor="let option of tradeUnitList" [Label]="option.unit"
                                    [Value]="option.unit" [Disabled]="false">
                                </pg-option>
                            </pg-select>
                        </div> -->
                        <div pgFormGroupDefault class="form-group form-group-default"
                    [class.has-error]="f.fobPrice?.invalid && (f.fobPrice.dirty || f.fobPrice.touched)">
                    <label for="Other">FOB Price</label>
                    <input type="text" formControlName="fobPrice" placeholder="Per Unit" class="form-control" id="moq" />
                </div>
                <div *ngIf="f.fobPrice?.invalid && (f.fobPrice.dirty || f.fobPrice.touched)">
                    <label *ngIf="f.fobPrice.errors.required" class="error">This field is required.</label>
                </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div pgFormGroupDefault class="form-group form-group-default">
                            <label for="model-no">MOQ</label>
                            <input type="text" formControlName="moq" placeholder="Moq" class="form-control" id="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Set Uniform Price of FOB End -->

        <!-- Set Uniform Price of FOB start -->

        <div class="row" *ngIf="sellingPriceType === 'Set Uniform Price of FOB'">
            <div class="col-md-6">
                <div class="form-group form-group-default form-group-default-select2 required">
                    <label class="">Unit</label>
                    <pg-select style="width: 100%;" [PlaceHolder]="'Select Option'" formControlName="fobUnit" AllowClear
                        ShowSearch>
                        <pg-option *ngFor="let option of tradeUnitList" [Label]="option.unit" [Value]="option.unit"
                            [Disabled]="false">
                        </pg-option>
                    </pg-select>
                </div>
            </div>
        </div>

        <div class="form-group form-group-default" *ngIf="sellingPriceType === 'Set Uniform Price of FOB'" formArrayName="bulkPrice">
            <label class="mb-2" for="bulk-price">Bulk Price</label>
            <div class="row align-items-end" *ngFor="let item of tradeInformationForm.get('bulkPrice').controls; let i = index;">
                <div class="row" [formGroupName]="i" >
                    <div class="col-md-6" >

                        <label class="mb-2" for="bulk-moq">MOQ (Unit)</label>
                        <div pgFormGroupDefault class="form-group form-group-default">

                            <input type="text" formControlName="moqUnit" placeholder="" class="form-control"
                                id="bulk-moq" />
                        </div>

                    </div>
                    <div class="col-md-5">

                        <label class="mb-2" for="bulk-price">FOB Price (Unit)</label>
                        <div pgFormGroupDefault class="form-group form-group-default">

                            <input type="text" formControlName="fobUnitPrice" id="fob-unit-price" placeholder="$ UDS"
                                class="form-control" />
                        </div>

                    </div>
                    <div class="col-1" *ngIf="bulkPriceArr.value.length > 1">
                        <button class="btn btn-danger"  (click)="removeBulkPriceItem(i)" >Delete</button>
                    </div>
                </div>
            </div>
            <button _ngcontent-kwx-c27 aria-label *ngIf="bulkPriceArr.value.length < 8" (click)="addBulkPriceItem()" class="btn btn-primary">Add</button>
        </div>

        <div class="row mt-3" *ngIf="sellingPriceType === 'Set Uniform Price of FOB'">
            <!-- <div class="col-md-6">
                <div class="form-group form-group-default form-group-default-select2">
                    <label>FOB Price</label>
                    <pg-select style="width: 100%;" [Mode]="'single'" [PlaceHolder]="'Select'" formControlName="fobPrice"
                        [NotFoundContent]="'Not found'">
                        <pg-option *ngFor="let option of fobPriceUnitList" [Label]="option.unit" [Value]="option.unit">
                        </pg-option>
                    </pg-select>
                </div>
            </div> -->
            <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default"
                    [class.has-error]="f.fobPrice?.invalid && (f.fobPrice.dirty || f.fobPrice.touched)">
                    <label for="Other">FOB Price</label>
                    <input type="text" formControlName="fobPrice" placeholder="Per Unit" class="form-control" id="moq" />
                </div>
                <div *ngIf="f.fobPrice?.invalid && (f.fobPrice.dirty || f.fobPrice.touched)">
                    <label *ngIf="f.fobPrice.errors.required" class="error">This field is required.</label>
                </div>
            </div>
            <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default"
                    [class.has-error]="f.moq?.invalid && (f.moq.dirty || f.moq.touched)">
                    <label for="Other">MOQ</label>
                    <input type="text" formControlName="moq" placeholder="Per Unit" class="form-control" id="moq" />
                </div>
                <div *ngIf="f.moq?.invalid && (f.moq.dirty || f.moq.touched)">
                    <label *ngIf="f.moq.errors.required" class="error">This field is required.</label>
                </div>
            </div>
        </div>

        <label class="mb-2" for="payment-type">Payment Type</label>
        <div>
            <div class="row">
                <div class="col-md-4" *ngFor="let paymentType of paymentTypeList; let i = index;">
                    <div>
                        <div class="form-check">
                            <input type="checkbox" [id]="'typesOpt-'+i" [checked]="paymentType.paymentType"
                                (change)="addPaymentType(i)">
                            <label [for]="'typesOpt-'+i">{{ paymentType.value }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="f.paymentType?.invalid && (f.paymentType.dirty || f.paymentType.touched)">
            <label *ngIf="f.paymentType.errors.required" class="error">This field is required.</label>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div formArrayName="otherDetailTradeInfo">
                    <div class="col-md-6"
                        *ngFor="let detailForm of otherDetailTradeInfo.controls; let i = index; let last = last; let first = first;">
                        <div [formGroup]="detailForm">
                            <div pgFormGroupDefault class="form-group form-group-default"
                                [class.has-error]="f.other?.invalid && (f.other?.dirty || f.other?.touched)">
                                <label for="other-details">Other </label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" formControlName="other" placeholder="Enter Details"
                                            class="form-control" id="other-details">
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <button class="btn btn-danger" (click)="deleteOtherDetails(i)"
                                            *ngIf="!(last && first)"><i class="fa fa-trash"
                                                aria-hidden="true"></i></button>
                        </div>
                        <div *ngIf="f.other?.invalid && (f.other?.dirty || f.other?.touched)">
                            <label *ngIf="f.other.errors.required" class="error">This field is required.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1  d-flex align-items-end" style="padding-bottom: 10px;">
                <button _ngcontent-kwx-c27 aria-label (click)="addNewOtherDetails()" class="btn btn-success">
                    +Add
                </button>
            </div>
        </div>
        <!-- Set Uniform Price of FOB End -->
        <div class="col-md-1">
            <button class="btn btn-primary m-2" (click)="subTradeInformationForm()">Save and Next</button>
        </div>
    </form>
</div>