<div class="container-fluid p-3 bg-white">
    <h3>Trade Information</h3>
    <form class="p-t-15" role="form" [formGroup]="tradeInformationForm">
        <div class="row">
            <div class="col-md-6">
                <label for="selling-price">Selling Price</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-radio">
                            <input type="radio" id="set-uniform-price-of-fob" name="selling-price">
                            <label class="ml-2" for="set-uniform-price-of-fob">
                                Set Uniform Price of FOB </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-radio">
                            <input type="radio" id="set-one-fob-price" name="selling-price">
                            <label class="ml-2" for="set-one-fob-price">
                                Set One FOB Price</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-group-default form-group-default-select2 required">
                    <label class="">Unit</label>
                    <pg-select style="width: 100%;" [PlaceHolder]="'Select Option'" formControlName="unit" AllowClear
                        ShowSearch>
                        <pg-option *ngFor="let option of tradeUnitList" [Label]="option.unit" [Value]="option.unit"
                            [Disabled]="false">
                        </pg-option>
                    </pg-select>
                </div>
            </div>
        </div>
        <div class="form-group form-group-default">
            <label class="mb-2" for="bulk-price">Bulk Price</label>
            <div class="row">
                <div class="col-md-6">

                    <label class="mb-2" for="bulk-moq">MOQ (Unit)</label>
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="moqPerUnit1" placeholder="" class="form-control"
                            id="bulk-moq" />
                    </div>

                </div>
                <div class="col-md-6">

                    <label class="mb-2" for="bulk-price">FOB Price (Unit)</label>
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="fobPriceUnit1" placeholder="$ UDS" class="form-control" />
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="moqPerUnit2" placeholder="" class="form-control" />

                    </div>
                </div>
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="fobPriceUnit2" placeholder="$ UDS" class="form-control" />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">
                        <input type="text" formControlName="moqPerUnit3" placeholder="" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="fobPriceUnit3" placeholder="$ UDS" class="form-control" />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="moqPerUnit4" placeholder="" class="form-control" />

                    </div>
                </div>
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="fobPriceUnit4" placeholder="$ UDS" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="moqPerUnit5" placeholder="" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="fobPriceUnit5" placeholder="$ UDS" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="moqPerUnit6" placeholder="" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="fobPriceUnit6" placeholder="$ UDS" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="moqPerUnit7" placeholder="" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="fobPriceUnit7" placeholder="$ UDS" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="moqPerUnit8" placeholder="" class="form-control" />
                    </div>

                </div>
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default">

                        <input type="text" formControlName="fobPriceUnit8" placeholder="$ UDS" class="form-control" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-group-default form-group-default-select2">
                    <label>FOB Price </label>
                    <pg-select style="width: 100%;" [Mode]="'single'" [PlaceHolder]="'Select'" formControlName="fobUnit"
                        [NotFoundContent]="'Not found'">
                        <pg-option *ngFor="let option of fobPriceUnitList" [Label]="option.unit" [Value]="option.unit">
                        </pg-option>
                    </pg-select>
                </div>
            </div>
            <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default"
                    [class.has-error]="f.moq?.invalid && (f.moq.dirty || f.moq.touched)">
                    <label for="Other">MOQ</label>
                    <input type="text" formControlName="moq" placeholder="Per Unit" class="form-control" id="moq" />
                </div>
                <div *ngIf="f.moq?.invalid && (f.moq.dirty || f.moq.touched)">
                    <label *ngIf="f.moq.errors.required" class="error">This field is required.</label>
                </div>
            </div>
        </div>
        <label class="mb-2" for="payment-type">Payment Type</label>
        <div formArrayName="types">
            <div class="row">
                <div *ngFor="let typeForm of types.controls; let i = index;">
                    <div class="col-md-4" [formGroup]="typeForm">
                        <div class="form-check">
                            <input type="checkbox" [id]="'typesOpt-'+i" formControlName="paymentType">
                            <label [for]="'typesOpt-'+i">{{ typeForm.get('name').value }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="f.paymentType?.invalid && (f.paymentType.dirty || f.paymentType.touched)">
            <label *ngIf="f.paymentType.errors.required" class="error">This field is required.</label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div formArrayName="otherDetail">
                    <div class="col-md-6"
                        *ngFor="let detailForm of otherDetail.controls; let i = index; let last = last; let first = first;">
                        <div [formGroup]="detailForm">
                            <div pgFormGroupDefault class="form-group form-group-default"
                                [class.has-error]="f.other?.invalid && (f.other?.dirty || f.other?.touched)">
                                <label for="other-details">Other </label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" formControlName="other" placeholder="Enter Details"
                                            class="form-control" id="other-details">
                                        <button class="btn btn-danger" (click)="deleteOtherDetails(i)"
                                            *ngIf="!(last && first)"><i class="fa fa-trash"
                                                aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="f.other?.invalid && (f.other?.dirty || f.other?.touched)">
                            <label *ngIf="f.other.errors.required" class="error">This field is required.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1  d-flex align-items-end" style="padding-bottom: 10px;">
                <button _ngcontent-kwx-c27 aria-label (click)="addNewOtherDetails()" class="btn btn-success">
                    +Add
                </button>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary m-2" (click)="subTradeInformationForm()">Save and Next</button>
        </div>
    </form>
</div>