<div class="container">
    <h1 class="mb-4">Quality Control</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <h6>Whether to demostrate Quality Control Process</h6>
        </div>
        <div class="form-check form-check-block col-md-3">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">yes</label>
        </div>
        <div class="form-check form-check-block col-md-3">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">NO</label>
        </div>
    </div>
    <div class="row">

    </div>
</div>