<div class="container">
    <h1 class="mt-4 mb-4 text-center">Quality Control</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <h6 class="mb-4">Whether to demonstrate Quality Control Process</h6>
        </div>
        <div class="col-md-3 d-flex inline-block col-12">
            <label class="form-check-label ml-4">Yes</label>
            <input class="form-check-input ml-0" type="checkbox">
        </div>
        <div class="col-md-3 d-flex inline-block col-12">
            <label class="form-check-label ml-4">NO</label>
            <input class="form-check-input ml-0" type="checkbox">
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 border">
            <form>
                <div class="row mb-3">

                    <div class="col-md-5 ">
                        <label for="">Process Name</label>
                        <input type="text" class="form-control" placeholder="Process Name">
                    </div>

                    <div class="col-md-5">
                        <label for="">Process Picture</label>

                        <input type="file" class="form-control" placeholder="Last name">
                    </div>
                    <div class="col-md-8 mt-2">
                        <label for="" class="me-4">
                            Description
                        </label>
                        <textarea name="" id="" cols="5" rows="4" style="width: 100%;"></textarea>
                    </div>
                </div>

                <button type="submit" class="border-0 btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>