.blue{
    color:#4285f4;
}
.red{
    color:#ea4335;;
}
.green{
    color:#34a853;;
}
.yellow{
    color: #f9ab00;
}
.margin{
    margin-top: 142px;
    margin-bottom: 167px;
}
.image{
    height: 450px;
    width: 700px;
}
.headline{
    font-size: 110px;
    line-height: 110px;
    font-family: "Google Sans Display",Arial,Helvetica,sans-serif;
    color: #202124;
}
.headline1{
    margin-top: 60px;
font-size: 110px;
line-height: 110px;
font-family: "Google Sans Display",Arial,Helvetica,sans-serif;
color: #202124;
}
.side-image{
    margin-top: 134px;
    position: relative;
    margin-left: 253px;
    height: 175px;
}
.sub-text{
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 72px;
    margin-top: 73px;
    color: #202124;

}
.sub-image{
    margin-top: 89px;
    width: 60px;
}
.sub-div{
    margin-top: 22px;
}
.sub-text1{
    color:#5f6368;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: -.25px;
    // line-height: 44px;
}