<form [formGroup]="exportCapabilityForm" (keydown.enter)="$event.preventDefault()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-group-default input-group required" pgFormGroupDefault
                [class.has-error]="f.yearlyTurnover.invalid && (f.yearlyTurnover.dirty || f.yearlyTurnover.touched)">
                <div class="form-input-group">
                    <label for="fec-yearlyTurnover">Export Contribution Percentage</label>
                    <input type="text" formControlName="yearlyTurnover"
                        placeholder="Enter Export Contribution Percentage" class="form-control" id="fec-yearlyTurnover">
                </div>
            </div>
            <div *ngIf="f.yearlyTurnover.invalid && (f.yearlyTurnover.dirty || f.yearlyTurnover.touched)">
                <label *ngIf="f.yearlyTurnover.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-default input-group required" pgFormGroupDefault
                [class.has-error]="f.nearestPort.invalid && (f.nearestPort.dirty || f.nearestPort.touched)">
                <div class="form-input-group">
                    <label for="fec-nearestPort">Nearest Port</label>
                    <input type="text" formControlName="nearestPort" placeholder="Enter Nearest Port"
                        class="form-control" id="fec-nearestPort">
                </div>
            </div>
            <div *ngIf="f.nearestPort.invalid && (f.nearestPort.dirty || f.nearestPort.touched)">
                <label *ngIf="f.nearestPort.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-group-default input-group" pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-exporting-science">Exporting Science</label>
                    <input type="text" formControlName="exportingScience" placeholder="Enter Exporting Science here"
                        class="form-control" id="fec-exporting-science">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-exportingPercent">Export Contribution Percentage</label>
                    <input type="text" formControlName="exportingPercent"
                        placeholder="Enter Export Contribution Percentage" class="form-control default-input"
                        id="fec-exportingPercent">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <h4>Export domasticMarkets and Distibution</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-north-america">North America </label>
                    <input type="text" formControlName="northAmerica" placeholder="Enter North America percentage"
                        class="form-control" id="fec-north-america">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-west-america">Western Europe</label>
                    <input type="text" formControlName="westernEurope" placeholder="Enter Western Europe percentage"
                        class="form-control" id="fec-west-america">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-eastern-asia">Eastern Asia </label>
                    <input type="text" formControlName="easternAsia" placeholder="Enter Eastern Asia percentage"
                        class="form-control" id="fec-eastern-asia">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-south-america">South America</label>
                    <input type="text" formControlName="southAmerica" placeholder="Enter South America percentage"
                        class="form-control" id="fec-south-america">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-northan-europe">Northan Europe </label>
                    <input type="text" formControlName="northanEurope" placeholder="Enter Northern Europe percentage"
                        class="form-control" id="fec-northan-europe ">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-south-africa ">Africa </label>
                    <input type="text" formControlName="africa" placeholder="Enter Africa  percentage"
                        class="form-control" id="fec-south-africa">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-central-america">Central America </label>
                    <input type="text" formControlName="centralAmerica" placeholder="Enter Central America  percentage"
                        class="form-control" id="fec-central-america">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-south-europe">Southern Europe </label>
                    <input type="text" formControlName="southernEurope" placeholder="Enter Southern Europe percentage"
                        class="form-control" id="fec-south-europe">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-middile-east">Middile East</label>
                    <input type="text" formControlName="middileEast" placeholder="Enter Middle East percentage"
                        class="form-control" id="fec-middile-east">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-default input-group req " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-eastern-europe">Eastern Europe</label>
                    <input type="text" formControlName="easternEurope" placeholder="Enter Eastern Europe percentage"
                        class="form-control" id="fec-eastern-europe">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-south-asia">South Asia </label>
                    <input type="text" formControlName="southAsia" placeholder="Enter South Asia percentage"
                        class="form-control" id="fec-south-asia">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-eastern-gulf">Gulf</label>
                    <input type="text" formControlName="gulf" placeholder="Enter Gulf percentage" class="form-control"
                        id="fec-eastern-gulf">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-default input-group " pgFormGroupDefault>
                <div class="form-input-group">
                    <label for="fec-domasticMarket">Local and Domestic Market</label>
                    <input type="text" formControlName="domasticMarket" placeholder="Enter Domestic Market percentage"
                        class="form-control" id="fec-domasticMarket">
                </div>
                <div class="input-group-append ">
                    <span class="input-group-text">%
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <button [disabled]="isLoading" type="submit" class="me-4 btn btn-primary show-notification"
            (click)="subExportCapabilityForm()">
            {{isDataExist? 'Update' : 'Save'}} Export Capability </button>
    </div>
</form>