<div class="bg-grey1 p-2 mt-5">
    <h2>REQUEST FOR QUOTATION <span class="text-muted" style="font-size: 20px;">Customization Service</span>
    </h2>
    <div class="row p-4 ">
        <div class="col-md-5 backgroundImage ">
        </div>
        <div class="col-md-7 p-3 bg-grey pmt-2 shadow">
            <h2>One Request, Multiple Quotes</h2>
            <p>Helping fashion brands make more sustainable decisionHelping fashion brands make more sustainable
                decision</p>
            <div class="row p-5 ">
                <div class="col-md-12 p-3">
                    <input class="form-control" type="text" placeholder="What are you lookin FOR..." name="" id="">
                </div>
                <div class="col-md-6 p-3">
                    <input class="form-control" type="text" placeholder="Quantity" name="" id="">
                </div>
                <div class="col-md-6 p-3">
                    <input class="form-control" type="text" placeholder="Piece/Pieces" name="" id="">
                </div>
                <div>
                    <button class="rounded-pill btn btn-orange" (click)="showDetailsForm()">Request For Quotation</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-4 d-flex justify-content-center sub-div"  *ngIf="ShowSecondSection">
    <div class="col-md-7  p-3 bg-grey pmt-2 shadow">
        <h2>Please provide a detailed requirment so that we can assist your specific needs</h2>
        <p>Get quotes for all your enquiries hassle free and without any cost</p>
        <div class="row p-4 ">
            <div class="col-md-3 p-3">
                <h6 class="star">Product Name</h6>
            </div>
            <div class="col-md-8 p-3">
                <input class="form-control" type="text" placeholder="Enter the product name" name="" id="">
            </div>
            <div class="col-md-3 p-3">
                <h6 class="star">Product Category</h6>
            </div>
            <div class="col-md-8 p-3">
                <select class="form-select form-select-sm" aria-label="danger select example">
                    <option selected>Select Category</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-3 p-3">
                <h6 class="star">Quantity</h6>
            </div>
            <div class="col-md-3 p-3">
                <input class="form-control" type="number" placeholder="8 number" name="Quantity" id="">
            </div>
            <div class="col-md-5 p-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Unit</option>
                    <option value="1">Acres</option>
                    <option value="2">Amperes</option>
                    <option value="3">Bags</option>
                    <option value="3">Barrels</option>
                    <option value="3">Blades</option>
                    <option value="3">Boxes</option>
                    <option value="3">Bushes</option>
                    <option value="3">Carats</option>
                    <option value="3">Cartons</option>
                    <option value="3">Cases</option>
                    <option value="3">Centimeters</option>
                    <option value="3">Chains</option>
                    <option value="3">Combos</option>
                    <option value="3">Cubic Centimeters</option>
                    <option value="3">Cubic Feet</option>
                    <option value="3">Cubic Inches</option>
                    <option value="3">Cubic Meters</option>
                    <option value="3">Cubic Yards</option>
                    <option value="3">Degree Celsius</option>
                    <option value="3">Degree Fahrenheit</option>
                    <option value="3">Dozens</option>
                    <option value="3">Drums</option>
                    <option value="3">Fluid Ounces</option>
                    <option value="3">Feet</option>
                    <option value="3">Forty Foot Container</option>
                    <option value="3">Furlongs</option>
                    <option value="3">Gallons</option>
                    <option value="3">Gills</option>
                    <option value="3">Grains</option>
                    <option value="3">Gross</option>
                    <option value="3">Hectares</option>
                    <option value="3">Hertz</option>
                    <option value="3">Inches</option>
                    <option value="3">Kilo Amperes</option>
                    <option value="3">Kilo grams</option>
                    <option value="3">Kilo Ohms</option>
                    <option value="3">KiloVolts</option>
                    <option value="3">KiloWatts</option>
                    <option value="3">Litters</option>
                    <option value="3">Long Tons</option>
                    <option value="3">Megahertz</option>
                    <option value="3">Meters</option>
                    <option value="3">Miles</option>
                    <option value="3">Milligrams</option>
                    <option value="3">Mill Hertz</option>
                    <option value="3">Milliliters</option>
                    <option value="3">Milliohms</option>
                    <option value="3">Millivolts</option>
                    <option value="3">MilliWatts</option>
                    <option value="3">Nautical Miles</option>
                    <option value="3">Ohms</option>
                    <option value="3">Ounce</option>
                    <option value="3">Packs</option>
                    <option value="3">Pairs</option>
                    <option value="3">Pallets</option>
                    <option value="3">Parcels</option>
                    <option value="3">Perches</option>
                    <option value="3">Pieces</option>
                    <option value="3">Prints</option>
                    <option value="3">Plants</option>
                    <option value="3">Poles</option>
                    <option value="3">Pounds</option>
                    <option value="3">Quarts</option>
                    <option value="3">Quarters</option>
                    <option value="3">Rods</option>
                    <option value="3">Rolls</option>
                    <option value="3">Sets</option>
                    <option value="3">Sheets</option>
                    <option value="3">Short Tons</option>
                    <option value="3">Square Centimeters</option>
                    <option value="3">Square Feet</option>
                    <option value="3">Square Miles</option>
                    <option value="3">Square Yards</option>
                    <option value="3">Stones</option>
                    <option value="3">Strands</option>
                    <option value="3">Tons</option>
                    <option value="3">Tones</option>
                    <option value="3">Trays</option>
                    <option value="3">Twenty Foot Container</option>
                    <option value="3">Units</option>
                    <option value="3">Volts</option>
                    <option value="3">Watts</option>
                    <option value="3">Yards</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-3 p-3">
                    <h6 class="star">Sourcing Type</h6>
                </div>
                <div class="col-md-5 p-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Please select</option>
                        <option value="1">For Customizing Product</option>
                        <option value="2">Normal Products</option>
                        <option value="3">Full Solution</option>
                        <option value="3">Overstock Auction</option>
                        <option value="3">Others</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 p-3">
                    <h6 class="star">Sourcing Purpose</h6>
                </div>
                <div class="col-md-5 p-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Please select</option>
                        <option value="1">Wholesale</option>
                        <option value="2">Retail</option>
                        <option value="3"> Production</option>
                        <option value="3">Raw Material</option>
                        <option value="3">Large Consumption</option>
                        <option value="3">Personal Use</option>
                        <option value="3">Others</option>

                    </select>
                </div>
            </div>
            <div class="col-md-2 p-3">
                <h6 class="star">Budget</h6>
            </div>
            <div class="col-md-3 p-3">
                <input class="form-control" type="number" placeholder="numbers" name="" id="">
            </div>
            <div class="col-md-6 p-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Currency</option>
                    <option value="1">USD</option>
                    <option value="2">One </option>
                    <option value="3"> Two</option>
                </select>
            </div>
            <div class="col-md-2 p-3">
                <h6 class="star">Details</h6>
            </div>
            <div class="col-md-9 p-3">
                <textarea id="w3review" name="Details" rows="4" cols="50">
                </textarea>
            </div>
            <div class="col-md-3 p-3">
                <h6 class="star">Attach Files</h6>
            </div>
            <div class="col-md-8 p-3">
                <pg-upload ListType="picture-card" [Preview]="handlePreview">
                    <div class="pic-placeholder">
                        <i class="pg-icon p-b-5">upload</i>
                        <div class="fs-12">Upload</div>
                    </div>
                </pg-upload>
            </div>
            <div class="col-md-12 p-4 mx-4">
                <span>Product images or files lead to more accurate quotes.</span>
            </div>
            <div class="col-md-3 p-3">
                <h6>Ship In</h6>
            </div>
            <div class="col-md-2 p-3">
                <input class="form-control text" type="number" placeholder="number" name="" id="">
            </div>
            <div class="col-md-6 p-3">
                <p class="p-1">day(s) after supplier
                    receives the initial payment.</p>
            </div>
            <div class="col-md-12 p-4 form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    I have read, understood and agreed to abide by the Buying Request Posting Rules.
                </label>

                <div class="p-4 w-25">
                    <button class="rounded-pill btn btn-orange">Submit</button>
                </div>
            </div>
        </div>
    </div>