.backgroundImage {
    // background-color: black;
        // background-image: url('../../../../assets/img/home/rfq.jpg');
    color: white;
}

.btn-orange {
    background-color: #FF6336;
    color: white;
}

.bg-grey {
    background-color: #FAF9F7;
}

.bg-grey1 {
    background-color: #D7D9DD;
}
.row {
    margin: 1.5px;
}
.star:before{
    margin-right: 4px;
    content: "*";
    color: #f33200;
}
.sub-div{
    margin-top: 4rem;
    h2,p{
        color: #333;
        text-align: center;
    }
}
.pic-placeholder{
    background: #fff;
    border: 1px dashed #ff6a00;
    border-radius: 4px;
    width: 140px;
    padding: 32px 38px;
}
