<div class="container">
    <div class="containerOne">
        <h1 class="heading">Request for Quote (RFQ)
        </h1>
        <h4 class="paragraph">A request for quote (RFQ), also known as an invitation for bid (IFB),<br> is a process in
            which a company solicits select suppliers and contractors to <br>submit price quotes and bids for the chance
            to
            fulfill certain tasks or projects.<br> The RFQ process is especially important to businesses that need a
            consistent <br> supply of a specific number of standard products. Companies may send <br> RFQs alone or
            before a
            request for proposal (RFP).

        </h4>
        <div>
            <button aria-label="" class="btn btn-complete mt-2">Request for quote</button>
            <button aria-label="" class="btn btn-complete mt-2 ms-2">Need Help</button>
        </div>

    </div>
    <div class="containerTwo">
        <img src="../../../../assets/assets/img/learn-business.jpg" class="rightImg">
        <h3 class="imgHeading">Ask to multiple seller to fulfill<br> your request
        </h3>
        <h6>Suppliers will submit price quotes for the chance <br> to fulfil certain tasks or delivery.
        </h6>
    </div>


</div>