.heading{
    padding-top: 135px;
    font-size: 50px;
    color: black;
}
.paragraph{
    padding-top: 20px;
}
.btn-complete{
    width: 200px;
    height: 50px;
}
.containerTwo{
    float: right;
    margin-top: -450px;
    margin-right: -59px;
}
.rightImg{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.imgHeading{
    color: black;
}
