<div class="container">
    <div class="pl-3 pr-3 card mt-0 p-2" *ngFor="let request of requestForQutationList">
        <div class="row">
            <div  [ngClass]="i % 2 ? 'bg-gray' : 'row bg-light-gray' ">
                <div class="col-md-3 p-2 pl-2">
                    <img class="ml-auto"
                        src="https://rukminim1.flixcart.com/image/150/150/l2f20sw0/cookware-set/h/1/5/3-kan-8pcs-kreme-original-imagdrntmzjuvhpj.jpeg?q=70"
                        alt="..." class="img-thumbnail">
                </div>
                <div class="col-md-4 p-2">
                    <p class="border-left pl-1">
                       {{ request.productName }}</p>
                    <p class="pl-1"><span><b>Quantity Required</b></span>{{ request.quantity }} {{ request.unit[0] }}</p>
                    <p class="border-left pl-1">
                        Budget : {{ request.budget }}/-</p>
                </div>
                <div class="col-md-3">
                    <p class=""><b>Status</b></p>
                    <p class="text-primary pt-2">{{ request.status }}</p>
                </div>
            </div>
        </div>
    </div>
</div>