.thumbnail-wrapper.bordered.d48 {
    width: 40px;
    height: 40px;
    margin-left: 171px;
}

@media (max-width: 667px){
    .social-card.card {
        width: 100%!important;
    }
}
.day{
    margin: 0 auto;
}