
@media (max-width: 667px){
    .social-card.card {
        width: 100%!important;
    }
}
.day{
    margin: 0 auto;
}
.p-im {
    padding-left: 52px !important;
    margin-top: -38px;
}
.border-image{
    border: 2px solid black;
    // border-radius: 20%;
    width: 100px;
    height: 100px;
  }
  .content-box{
    margin-left: -74px;
  }