.p-text {
    font-size: 11px;
    margin-top: -11px;
}

.contact-supp {
    margin-top: 39px;
    margin-left: 223px;
}

.aligin-left {
    margin-left: 47px;
}

// .btn-lg{
//     padding-left: 73px;
//     padding-right: 72px;
// }
.follow-btn{
    margin-left: 35px;
}
.org-color{
    background-color: orange;
    color: white;
}
.blue-color{
    color:  #4285F4;
}
img{
   // border-radius: 50%;
}