<!-- <div class="mt-4">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1 aligin-left">
        <img src="../../../../../assets/assets/img/industry.jpg" width="145px" height="155px">
      </div>
      <div class="col-md-6 ms-4">
        <h4>Caliber India Apparels Pvt. Ltd.</h4>
        <p class="p-text ms-1 ">
          <span class="blue-color"> New Delhi, India,</span> 110012
        </p>
        <p class="p-text ms-1 blue-color">Supplier, Trader, Manufacturer</p>
        <br>

        <button aria-label="" class="btn btn-chip active m-b-10 m-r-5" type="button"><i class="pg-icon">tick</i>
          <span class="blue-color">3 </span> Year</button> <span class="blue-color">Unverified</span>

      </div>
      <div class="col-md-1 contact-supp float-right">
        <button class="btn btn-default btn-lg btn-rounded m-r-20 m-b-10 org-color ">Contact Supplier</button>
        <br>
        <button aria-label="" type="button" class="btn btn-default follow-btn">
          <div class="p-t-5 p-b-5">
            <i class="pg-icon">heart</i>
            <div class="fs-11 font-montserrat text-uppercase">Follow</div>
          </div>
        </button>

      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row pt-3">
    <div class="col-md-2 col-sm-2">
      <img class="img-fluid " src="../../../../../assets/assets/img/industry.jpg" width="145px" height="155px">
    </div>
    <div class="col-md-3 col-sm-3">
      <h4>Caliber India Apparels Pvt. Ltd.</h4>
      <p class="p-text ms-1 ">
        <span class="blue-color"> New Delhi, India,</span> 110012
      </p>
      <p class="p-text ms-1 blue-color">Supplier, Trader, Manufacturer</p>
      <br>
      <button aria-label="" class="btn btn-chip active m-b-10 m-r-5" type="button"><i class="pg-icon">tick</i>
        <span class="blue-color">3 </span> Year</button> <span class="blue-color">Unverified</span>

    </div>
    <div class="col-md-5">
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-lg btn-rounded m-r-20 m-b-10 org-color ">Contact Supplier</button>
      <button aria-label="" type="button" class="btn btn-default follow-btn">
        <div class="p-t-5 p-b-5">
          <i class="pg-icon">heart</i>
          <div class="fs-11 font-montserrat text-uppercase">Follow</div>
        </div>
      </button>

    </div>
  </div>
</div>