<!-- <div class="container-fluid mt-t ">


    <div class="row">
      <div class="col-lg-4">
        <div class="container-xs-height">
          <div class="row-xs-height">
            <div class="social-user-profile col-xs-height text-center col-top">
              <div class="thumbnail-wrapper d48 circular bordered b-white">
                <img alt="Avatar" width="55" height="55"
                  data-src-retina="assets/img/profiles/avatar_small2x.jpg"
                  data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar.jpg">
              </div>
              <br>
             
            </div>
            <div class="col-xs-height p-l-20">
              <h3 class="no-margin p-b-5">David Nester</h3>
              <p class="no-margin fs-16">B437- Indra Colony,
                <br> Laxmi Nagar,
                <br>
                New Delhi, India, 110012
              </p>
              <p class="hint-text m-t-5 small">Verified | From 5 Year
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <p class="no-margin fs-16"> Verified Supplier, Trader, Menufacturer</p>
        <p class="hint-text m-t-5 small">I love reading people's about page especially those who are in
          the same industry as me.</p>
      </div>
      <div class="col-lg-4">
        <p class="m-b-5 small">Verified from 5 Year</p>
 

        <button class="btn contact-btn">Contact Supplier</button>
        <br>
       
      </div>
    </div>
  </div> -->

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="social-wrapper">
            <div class="social " data-pages="social">
              <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
                <div class="feed">
                  <pg-container>
                    <pgcardsocial >
                    <ng-template #CustomBody>
                      <h5 class='hint-text no-margin ps-3'>Bizexpo ltd.</h5>
                      <h5 class="small hint-text no-margin ps-3 pb-4">B437- Indra Colony, Laxmi Nagar <br>
                        New Delhi, India, 110012</h5>
                      <h3>111.25
                        <span class="text-success">
                          <i class="fa fa-sort-up small text-success"></i> 0.15 (0.13%)</span>
                      </h3>
                    </ng-template>
                  </pgcardsocial>
                  </pg-container>
                </div>
              </div>
            </div>
         </div>
        </div>
        
        <!-- <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h5 class="">Special title treatment</h5>
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             
            </div>
         
          </div>
        </div> -->
      <!-- <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              Verified From 5 year
            </div>
            <div class="card-body">
              <p class="card-text">Supplier, Trader.</p>
            </div>
            <div class="card-footer">
              <p>Contact Supplier</p>
            </div>
          </div>
        </div>
      </div> -->
       
      </div>

    </div>
  </div>
  
