  <div class="d-flex flex-wrap mt-2">
      <div class="bg-grey">
          <h3 class="p-2">Trade Fair</h3>
      </div>
  </div>
  <div class="row mt-2 bg-grey pt-3 pb-3">
      <div *ngFor="let i of [1,2,3,4]" class="col-md-3">
          <div class="bg-white border p-3">
              <h5>Helping fashion brands make more sustainable decision</h5>
              <img class="img-fluid"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwZ3KUJBqpbi9pHwj9-s8oHd-i7qJGoORMfw&usqp=CAU"
                  alt="">
              <div class="d-flex flex-row pt-2">
                  <div><span>Categories</span></div>
                  <div class="ml-auto text-muted">
                      <table>
                          <tr>
                              <td>
                                  <a href="#" class="d-flex align-items-center">5345 <i
                                          class="pg-icon">comment_alt</i></a>
                              </td>
                              <td>
                                  <a href="#" class="d-flex align-items-center">23K <i class="pg-icon">heart</i></a>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
              <h6>Ebola outbreak: Clinical drug trials to start next month as death toll</h6>
              <div class="ml-auto text-muted">
                  From 20-20-22 to 20-20-2020
              </div>
              <div class="border-top">
                  <h5>Ebola outbreak: Clinical drug trials</h5>
                  <span class="text-muted d-flex align-items-center"><i class="pg-icon">map</i> NYC
                      New York</span>

              </div>
          </div>
      </div>
  </div>
