<!-- <li class="search-icon">
    <input type="search" placeholder="Search">
    <label class="icon">
        <span class="fas fa-search"></span>
    </label>
</li> -->
<div class="p-2 d-none">
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <!-- <div class="nav-header">
        <div class="nav-title">
            JoGeek
        </div>
    </div> -->
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a>Home</a>
            <a>About</a>
            <a>Produtct</a>
            <a>Contact</a>
            <a>
                <!-- <input type="search" class="search" placeholder="Search in this store">
                <button type="submit"><i class="fa fa-search"></i></button> -->
                <form action="/action_page.php" style="margin:auto;max-width:300px">
                    <input type="text" class="search" placeholder="Search.." name="search2">
                    <i class="fa fa-search"></i>
                </form>

            </a>

        </div>

    </div>
</div>
<!--  -->
<div class="container">
    <div class="navs">
        <div class="links">
            <li class="active">Home</li>
            <li>Products</li>
            <li>About</li>
            <li>Contact</li>
        </div>
        <button class="btn btn-secondary p-2 contact">Contact Supplier</button>

        <button class="btn btn-secondary p-2 chat">Chat</button>
        <div>
            <form class="searchBox">
                <input type="text" class="searchs" placeholder="Search.." name="search2">
                <i class="fa fa-search icon"></i>
            </form>
        </div>
    </div>
</div>