<div class="conatiner-fluid p-3 h-100">
    <div class="card">
        <div class="card-body">
            <div class="card card-default">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">ALL CATEGORY</h3>
                    <div>
                        <button class="btn btn-primary" routerLink="../category-add">
                            Add<i class="fa fa-plus ml-2" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body d-flex">
                    <div class="tree-container flex-grow-1">
                        <button (click)="addCategory()" class="btn btn-primary"><i class="fa fa-plus ml-2"
                                aria-hidden="true"></i>&nbsp;&nbsp;Add Category At Parent Level</button>
                        <ng-template [ngTemplateOutlet]="treeUlContainer"
                            [ngTemplateOutletContext]="{list:masterCategoryList}"></ng-template>
                        <ng-template #treeUlContainer let-list='list'>
                            <ul>
                                <li *ngFor="let item of list" #nodeEl>
                                    <div class="d-flex align-items-center">
                                        <div [class.hideToggleContainer]="!item._hasChildren">
                                            <button class="btn btn-primary" *ngIf="!item._toggle"
                                                [disabled]="!item._hasChildren" (click)="getChildren(item)">
                                                Open<i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
                                            </button>

                                            <button class="btn btn-primary" *ngIf="item._toggle"
                                                [disabled]="!item._hasChildren" (click)="remChildren(item)">
                                                Close<i class="fa fa-caret-down ml-2" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <button class="btn btn-warning" *ngIf="item._isEditable"
                                            (click)="editItem(item)">
                                            Edit<i class="fa fa-edit ml-2" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-danger ml-2" *ngIf="item._isDeletable"
                                            (click)="confirmationPopup(item, nodeEl)">
                                            Delete<i class="fa fa-trash ml-2" aria-hidden="true"></i>
                                        </button>
                                        <button (click)="addCategory(item)" class="btn btn-primary"><i
                                                class="fa fa-plus ml-2" aria-hidden="true"></i>&nbsp;&nbsp;Add Category
                                            Under</button>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <span *ngIf="!item._hasChildren">&nbsp;{{item._name}}&nbsp;&nbsp;&nbsp;</span>
                                        <span *ngIf="item._hasChildren">
                                            <b>&nbsp;{{item._name |
                                                uppercase}}&nbsp;&nbsp;&nbsp;</b>
                                        </span>
                                    </div>
                                    <ng-container *ngIf="item?.children && item.children.length>0">
                                        <ng-template [ngTemplateOutlet]="treeUlContainer"
                                            [ngTemplateOutletContext]="{list:item.children}"></ng-template>
                                    </ng-container>
                                </li>
                            </ul>
                        </ng-template>
                    </div>
                    <div class="preview-el" *ngIf="preViewItem">
                        <h4>Preview</h4>
                        <div>
                            <p>Category Name : <b>{{preViewItem._name}}</b></p>
                            <p>Category Title : <b>{{preViewItem.title}}</b></p>
                            <p>Category Description : <b>{{preViewItem.description}}</b></p>
                            <p>Category Status : <b>{{preViewItem.isActivated? 'Activated' : 'Deactivated'}}</b></p>
                            <div class="d-flex">
                                <p>Category Keywords : </p>
                                <ol>
                                    <li *ngFor="let keyword of preViewItem.keywords">
                                        <b>{{keyword}}</b>
                                    </li>
                                </ol>
                            </div>
                            <div class="d-flex">
                                <p>Category Childs : </p>
                                <ol>
                                    <li *ngFor="let child of preViewItem.children">
                                        <b>{{child._name}}</b>
                                    </li>
                                </ol>
                            </div>
                            <div class="d-flex">
                                <p>Category Filters : </p>
                                <ol class="ul-selected-filter">
                                    <li *ngFor="let item of preViewItem.filters; let i = index">
                                        <b>{{item.filter}}</b>
                                        <ul>
                                            <li *ngFor="let field of item.fields">
                                                <b>&nbsp;{{field}}</b>
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                            <p>Category Icon : <br /><img [src]="envImgUrl + preViewItem.icon" width="100%" /></p>
                            <p>Category Image : <br /><img [src]="envImgUrl + preViewItem.image" width="100%" /></p>
                            <ol *ngIf="preViewItem?.children && preViewItem.children.length>0">
                                <li *ngFor="let item of preViewItem.children">Sub Category Name : <b>{{item._name}}</b>
                                </li>
                            </ol>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-warning" *ngIf="preViewItem._isEditable"
                                (click)="editItem(preViewItem)">
                                Edit<i class="fa fa-edit ml-2" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-danger ml-4" *ngIf="preViewItem._isDeletable"
                                (click)="confirmationPopup(preViewItem, preViewItem._nodeEl)">
                                Delete<i class="fa fa-trash ml-2" aria-hidden="true"></i>
                            </button>
                            <button (click)="addCategory(preViewItem)" class="btn btn-primary">
                                Add Child Category<i class="fa fa-plus ml-2" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>