<div class="conatiner-fluid p-3 h-100">
    <table class="table">
        <thead class="table-bordered">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Map Under</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Keywords</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Apparel</th>
                <td>Shirt</td>
                <td>Men</td>
                <td>Fabric,Cotton</td>
                <td>Men,Kids</td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches9">
                    <label class="custom-control-label" for="customSwitches9"></label>
                </div>
            </tr>
            <tr>
                <th scope="row">Apparel</th>
                <td>Shirt</td>
                <td>Men</td>
                <td>Fabric,Cotton</td>
                <td>Men,Kids</td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches8">
                    <label class="custom-control-label" for="customSwitches8"></label>
                </div>
            </tr>
            <tr>
                <th scope="row">Apparel</th>
                <td>Shirt</td>
                <td>Men</td>
                <td>Fabric,Cotton</td>
                <td>Men,Kids</td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches4">
                    <label class="custom-control-label" for="customSwitches4"></label>
                </div>
            </tr>
            <tr>
                <th scope="row">Apparel</th>
                <td>Shirt</td>
                <td>Men</td>
                <td>Fabric,Cotton</td>
                <td>Men,Kids</td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches5">
                    <label class="custom-control-label" for="customSwitches5"></label>
                </div>
            </tr>
            <tr>
                <th scope="row">Apparel</th>
                <td>Shirt</td>
                <td>Men</td>
                <td>Fabric,Cotton</td>
                <td>Men,Kids</td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches3">
                    <label class="custom-control-label" for="customSwitches3"></label>
                </div>
            </tr>
            <tr>
                <th scope="row">Apparel</th>
                <td>Shirt</td>
                <td>Men</td>
                <td>Fabric,Cotton</td>
                <td>Men,Kids</td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>

            </tr>
            <tr>
                <th scope="row">Apparel</th>
                <td>Shirt</td>
                <td>Men</td>
                <td>Fabric,Cotton</td>
                <td>Men,Kids</td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch2"></label>
                </div>

            </tr>

        </tbody>
    </table>
</div>