<div class="container-fluid ">
    <div class="row">
        <div class="col-md-2 bg-white mt-1">
            <app-page-product-search-supplier-categories></app-page-product-search-supplier-categories>
        </div>
        <div class="col-md-10">
            <app-page-product-search-supplier-list></app-page-product-search-supplier-list>
            <div class="bg-white shadow p-3 ml-2 mr-2">
                <h3>Premium Related Products</h3>
                <div class="row">
                    <div *ngFor="let i of [0,1,2,3,4,5]" class="col-md-2 m-2">
                        <div class="">
                            <img src="https://s.alicdn.com/@sc04/kf/H4fb0f77c47ec4a7494b46fd8d057f1f1g.jpg_200x200.jpg"
                                class="img-fluid" alt="">
                            <p>
                                <a href="">Jacket Women Down Italian Down </a>
                            </p>
                            <div class="d-flex bd-highlight mb-3">
                                <div class="mr-auto text-danger">Verified</div>
                                <div>Messages</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>