<div class="container-fluid">
    <div class="main-container">
        <h1>Please check your registered email <br> to verify and activate account.
        </h1>
        <p>Check your inbox or spam folder to check account confirmation. <br> We have sent an email with a
            confirmation link
            to your email <br> Just click that activation link and your account will be activated.
        </p>
        <div>
            Find out what to do if you <span class="text-complete">didn't receive the confirmation email.</span>
        </div>
    </div>
</div>