img {

    object-fit: cover;
}

.bg-grey {
    background-color: #FAF9F7;
}

.bg-grey1 {
    background-color: #D7D9DD;
}


ul {
    list-style: none;
}

.row {
    margin: 1.5px;
}


.backgroundImage {
    //   background-image: url('https: //encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7dAGKPTyyOdOvfRC1ezyA_RYDl9xL9gbQkw&usqp=CAU');
    background-color: black;
    color: white;
}

.btn-orange {
    background-color: #FF6336;
    color: white;
}

a {
    color: #1A73E8;
}