<div class="container-fluid pl-3 pr-3">
    <app-header2></app-header2>
    <app-home-categories></app-home-categories>
    <app-home-top-selling-categories></app-home-top-selling-categories>
    <app-home-available-product-customization></app-home-available-product-customization>
    <app-home-flash-deals></app-home-flash-deals>
</div>
<app-page-home-request-for-quotation></app-page-home-request-for-quotation>
<div class="container-fluid pl-3 pr-3 bg-white">
    <!-- <app-trade-fair></app-trade-fair> -->
</div>
<app-footer1></app-footer1>