<div class="row p-0 pr-3 m-0">
    <div class="col-md-3 pl-3 p-0">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Normal Supplier Registered</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.totalSeller}}</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Registered Today</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.totalSellerToday}}</h4>
        </div>
    </div>

    <div class="col-md-3 pl-3 p-0">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Normal Buyers Registered</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.totalBuyer}}</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Registered Today</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>
                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.totalBuyerToday}}</h4>
        </div>
    </div>
    <div class="col-md-3 pl-3 p-0">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Product Added</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.totalProduct}}</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Added today</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.totalProductToday}}</h4>
        </div>

    </div>
    <div class="col-md-3 pl-3 p-0">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Supplier Vrification Request</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.totalVerificationSeller}}</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Verified Supplier</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.totalVerifiedSeller}}</h4>
        </div>

    </div>
</div>
<div class="row p-0 pr-3 m-0 mt-3">
    <!-- <div class="col-md-3 pl-3 p-0">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Paid for Supplier Verification</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">505</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Onboard Today</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">10</h4>
        </div>

    </div> -->

    <!-- <div class="col-md-3 pl-3 p-0">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Conversations</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">200</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Today</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">40</h4>
        </div>
    </div> -->

    <!-- <div class="col-md-3 pl-3 p-0">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Multiple Quote Request</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">605</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Todays</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">30</h4>
        </div>

    </div> -->

    <div class="col-md-3 pl-3 p-0">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Supplier Verified by TP Agent</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.sellerApprovedByAgent}}</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Verified Today</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.todaySellerApprovedByAgent}}</h4>
        </div>

    </div>

    <div class="col-md-3 pl-3 p-0">
        <div class=" bg-white p-3 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Onboard by Associate</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.totalSellerByAssociate}}</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Onboard Today</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5 mt-3">{{counts?.todaySellerByAssociate}}</h4>
        </div>

    </div>
</div>
<div class="row p-0 pr-3 m-0 mt-3">
   


    <!-- <div class="col-md-3  pl-3 p-0">
        <div class=" bg-white pl-2 pb-3 pt-4 shadow-sm">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Revenue ($) from 1 april to 31 march</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5">200</h4>
            <div class="d-flex justify-content-start">
                <div>
                    <span class="font-montserrat fs-11 all-caps">Todays Revenue($)</span>
                </div>
                <div class="d-flex align-items-center ">
                    <i class="pg-icon  align-items-center ">chevron_right</i>

                </div>
            </div>
            <h4 class=" p-b-5">40</h4>
        </div>
    </div> -->
    <!--  -->

</div>