<div class="card" *ngIf="addedProducts.length> 0">
    <div class="card-header">
        Shortlisted Products
    </div>
    <div class="card-body">
        <div class="row">
                <div  *ngFor="let item of addedProducts; let i = index" class="col-2 card ">
                    <div class="card-header d-flex justify-content-end">
                        <i class="fa fa-times" (click)="removeAddedProduct(item.productId)" style="color:red" aria-hidden="true"></i>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <img [src]="item.image" style="width: 80px; height: 50px;" />
                    </div>
                    <div class="card-footer">
                        <p class="text-center" >{{ item.name }}</p>
                        <p  class="text-center">{{ item.moq }}</p>
                    </div>
                   
                    
                </div>
                
                  
                
        </div>

    </div>

    <a routerLink="/b2b/product-search-enquiry">Send Enquiry</a>
</div>