<!-- <app-header1></app-header1> -->
<div class="container-fluid p-3">
    <!-- <div class="col-xl-4 col-lg-6 col-md-12 p-0">
        <div class="card card-transparent">
            <div class="card-body p-0">
                <div class="btn-group btn-toolbar">
                    <button aria-label="" type="button" class="btn btn-default">
                        <div class="p-t-5 p-b-5">
                            <div class="fs-11 font-montserrat text-uppercase">All</div>
                        </div>
                    </button>
                    <button aria-label="" type="button" class="btn btn-default">
                        <div class="p-t-5 p-b-5">
                            <div class="fs-11 font-montserrat text-uppercase">Customization</div>
                        </div>
                    </button> <button aria-label="" type="button" class="btn btn-default">
                        <div class="p-t-5 p-b-5">
                            <div class="fs-11 font-montserrat text-uppercase">Ready to Ship</div>
                        </div>
                    </button> <button aria-label="" type="button" class="btn btn-default">
                        <div class="p-t-5 p-b-5">
                            <div class="fs-11 font-montserrat text-uppercase">Over Stock</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-2 bg-white search-top-mr">
            <!-- <app-product-search-categories></app-product-search-categories>  -->
            <app-catalogue-product-search-home></app-catalogue-product-search-home>
        </div>
        <div class="col-md-10">
            <!-- <app-product-search-filter></app-product-search-filter> -->
            <div class="d-flex align-content-start flex-wrap ml-2">
                <!-- <alert class="ml-1" type="info" [dismissible]="true">
        <strong>jacket</strong>
    </alert>
    <alert class="ml-1" type="info" [dismissible]="true">
        <strong> Ready to Ship</strong>
    </alert> -->
                <div class="d-flex flex-row-reverse ml-auto">
                    <div class="p-2 ">
                        <i class="pg-icon">grid_alt</i>
                    </div>
                    <div class="p-2 ">
                        <i class="pg-icon">menu</i>
                    </div>
                </div>
            </div>
            <div class="ml-2">
                <!-- <app-product-search-card></app-product-search-card>  -->
                <app-catalogue-product-card-home></app-catalogue-product-card-home>
            </div>
            <!-- <app-product-search-card-list></app-product-search-card-list> -->
        </div>
    </div>
</div>