<div class="main-container ">

    <section class="border-red p-4">
        <div class="col-lg-6 col-md-6 col-sm-12 mt-3 mb-3 ">
            <h1 class="  f-50  m-60 "> Hi, how can we help?</h1>
            <h2 class="py-3 f-38"> Help and support</h2>
            <h2 class="text-muted text-start    mt-2 mb-2"> Have questions or need to report an issue with our service? We've got you covered.
            </h2>
            <button class="btn bg-complete text-white mt-5 mb-5">
                <h4>Get Support</h4>
            </button>
        </div>
    </section>

    <!-- <div class="row mt-5 ">
        <div class="col-lg-4 col-md-4 col-sm-4   ">
            <button class="btn bg-complete text-white  form-control  p-5">
                <h4 class="">Buyer</h4>
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <button class="btn bg-complete text-white mt-3 mb-3  form-control">
                <h4>Seller</h4>
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <button class="btn bg-complete text-white mt-3 mb-3  form-control">
                <h4>Others</h4>
            </button>
        </div>
    </div> -->
</div>