.supportHeadingContainer{
    margin-top: 100px;
    float: left;
}

.supportHeading{
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 50px;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 72px;
    margin: 0 0 36px;
}
.supportParagraph{
    color: #3c4043;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font: 300 16px/28px Roboto,Arial,Helvetica,sans-serif
}
.supportContactContainer{
    float: right;
    height: 245px;
    border: 1px solid #dadce0;
    margin: 0 auto;
    max-width: 276px;
    padding: 32px;
    text-align: center;
    align-self: center;
    margin-right: 125px;
    margin-top: -300px;

}
.avtar{
    border-radius: 50%;
    width: 75px;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    align-items: center;
    margin-left: 2px;
}
.supportParagraphTwo{
    margin-top: 65px;

}
.callIcon{
    float: left;
    color: skyblue;
    margin-left: 40px;
}
.callNumber{
    float: right;
    color: skyblue;
    margin-right: 46px;
}
.sectionTwoContainer{

 margin-top: 220px;
}
.sectionTwoContainerDiv{
    background: #fff;
    margin-left: 288px;
    margin-top: 40px;
    width: 603px;
    height: 256px;
}
.sectionTwoParaOne{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding-top: 55px;
   
}
.sectionTwoParaTwo{
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
    font-weight: bolder;
}
 .sectionTwoParaThreeDiv{
     margin-top:20px
 }
 .youTubeIcon{
    float: left;
    color: skyblue;
    margin-left: 160px;
    font-size: 41px;
 }
 .youTubeText{
float: right;
color: skyblue;
margin-right: 179px;
font-size: 23px;
margin-top: 12px;
 }  
