.h-78 {
    height: 78px;
}

.f-50 {
    font-size: 50px;
}

.f-38 {
    font-size: 38px;
    // line-height: 32px;
}

.border-red {
    border: 2px solid red;
    height: 100vh;
}

.m-60 {
    margin: 75px 0;
}

.btn-complete {
    width: 200px;
    height: 50px;
}

.btn-outline-complete {
    width: 200px;
    height: 50px;
}