<div class="main-container">
    <h1>
        Hi, how can <br> we help?

    </h1>
    <h2>
        Help and support

    </h2>
    <h4>
        Have questions or need to report an issue with our service?<br> We've got you covered.

    </h4>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 ">
            <button class="btn bg-complete-dark text-white form-control">
Buyer
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <button class="btn bg-complete-dark text-white form-control">
Seller
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <button class="btn bg-complete-dark text-white form-control">
Other
            </button>
        </div>
    </div>
</div>