<div class="container-lg h-100 ">
    <div class="row slide1 h-100 ">
        <div>
            <h6>ASK SUPPORT FOR SERVICE PARTNER</h6>
            <p class="H1 mt-3"><span>&#8220;</span> Service partners are empanelled third-parties trained to provide
                specific
                services to Bizzexpo sellers. Service Partners will help Suppliers
                to <br> create their profile and list product professionally. <span>&#8221;</span></p>

            <h4 class="mt-5"><b>Note:</b> Bizzexpo acts as a facilitator between sellers and service partners only.</h4>
            <button aria-label type="button" class="btn btn-block mt-4  btn-complete btn-lg  btn-icon-right ask-button">
                <!-- <i class="pg-icon md-18">arrow_right </i>  -->
                <span class="span-size">Contact our Service Partners</span>
            </button>
        </div>
    </div>
</div>

<div class="container-fluid  h-75 ">
    <div class="container-xxl  h-100  ">
        <div class="row slide2  h-100 ">
            <div>
                <p class="slideH2"> If you are unhappy because the service performed by the <br> service partner has not
                    been
                    completed as agreed,
                    and <br>you have raised this issue with the service partner but <br> have failed to
                    resolve the same with the service partner,
                    <br> then you may raise a claim with Bizzexpo under the <br>Service Assurance Programme.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5  h-75">
    <div class="container-xxl h-75">
        <div class="row ">
            <div class="col-md-6">
                <h3>You can ask for your refund within 30 days from the
                    date of completion of the service by the service partner.</h3>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-md-4">
                <div class="card card-default bluecolor" data-pages="card">
                    <div class="card-header ">
                        <div class="card-title cardContetnt">Service Partner
                        </div>
                        <div class="card-controls cardContetnt">
                            <ul>
                                <li><a href="#" class="card-collapse" data-toggle="collapse"><i
                                            class="card-icon card-icon-collapse"></i></a>
                                </li>
                                <li><a href="#" class="card-refresh" data-toggle="refresh"><i
                                            class="card-icon card-icon-refresh"></i></a>
                                </li>
                                <li><a href="#" class="card-close" data-toggle="close"><i
                                            class="card-icon card-icon-close"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="card-body mt-2">
                        <!-- <h3>
                        <span class="semi-bold">Drag</span> me!
                    </h3> -->
                        <h5 class="cardContetnt">Name of the service partner who has offered the services to you.</h5>

                    </div>
                    <div class="arrow1">
                        <div>
                            <a href="#" class=""><i class="pg-icon  arrows md-18 cardContetnt "> arrow_right</i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-default bluecolor" data-pages="card">
                    <div class="card-header ">
                        <div class="card-title cardContetnt">For Payment Made
                        </div>
                        <div class="card-controls cardContetnt">
                            <ul>
                                <li><a href="#" class="card-collapse" data-toggle="collapse"><i
                                            class="card-icon card-icon-collapse"></i></a>
                                </li>
                                <li><a href="#" class="card-refresh" data-toggle="refresh"><i
                                            class="card-icon card-icon-refresh"></i></a>
                                </li>
                                <li><a href="#" class="card-close" data-toggle="close"><i
                                            class="card-icon card-icon-close"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body mt-2">
                        <!-- <h3>
                        <span class="semi-bold">Drag</span> me!
                    </h3> -->
                        <h5 class="cardContetnt">Transaction invoice or payment receipt if any for payment made to the
                            service partner for the services.</h5>
                    </div>
                    <div class="arrow1">
                        <div>
                            <a href="#" class=""><i class="pg-icon  arrows md-18 cardContetnt "> arrow_right</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-default bluecolor" data-pages="card">
                    <div class="card-header ">
                        <div class="card-title cardContetnt">Agreed Partnership
                        </div>
                        <div class="card-controls cardContetnt">
                            <ul>
                                <li><a href="#" class="card-collapse" data-toggle="collapse"><i
                                            class="card-icon card-icon-collapse"></i></a>
                                </li>
                                <li><a href="#" class="card-refresh" data-toggle="refresh"><i
                                            class="card-icon card-icon-refresh"></i></a>
                                </li>
                                <li><a href="#" class="card-close " data-toggle="close"><i
                                            class="card-icon card-icon-close"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body mt-2">
                        <!-- <h3>
                        <span class="semi-bold">Drag</span> me!
                    </h3> -->
                        <h5 class="cardContetnt">Scope of services agreed between you and the service partner.</h5>
                    </div>
                    <div class="arrow1">
                        <div>
                            <a href="#" class=""><i class="pg-icon  arrows md-18 cardContetnt "> arrow_right</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>