<pgcard TimeOut="3000" AdditionalClasses="widget-3 card no-border bg-complete no-margin widget-loader-bar full-height"
    MinimalHeader="true" BodyClass="no-padding" HeaderClass="hidden">
    <swiper [config]="config" [(index)]="index">
        <div class="slide-front tiles slide active">
            <div class="padding-25">
                <div class="pull-top">
                    <div class="pull-left visible-lg visible-xlg">
                        <i class="pg pg-map"></i>
                    </div>
                    <div class="pull-right">
                        <ul class="list-inline ">
                            <li>
                                <a href="javascript:void(0)" class="no-decoration text-white">
                                    <!-- <i class="pg-icon">comment_alt</i> -->
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="widget-3-fav no-decoration text-white">
                                    <i class="pg-icon">heart_outline</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="pull-bottom p-b-30">
                    <!-- <p class="p-t-10 fs-12 p-b-5 text-white no-margin">Black</p> -->

                    <h4 class="no-margin text-white p-b-10">Products - <span style="font-size:20px">500</span>
                        <br> <span style="font-size:20px">911</span> Product are followed

                        <!-- <span class="semi-bold">black world</span> -->
                    </h4>
                </div>
            </div>
        </div>
        <div class="slide-back tiles">
            <div class="padding-25">
                <div class="pull-top">
                    <div class="pull-left visible-lg visible-xlg">
                        <i class="pg"></i>
                    </div>
                    <div class="pull-right">
                        <ul class="list-inline ">
                            <li>
                                <a href="javascript:void(0)" class="no-decoration text-white">
                                    <!-- <i class="pg-icon">comment_alt</i> -->
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="widget-3-fav no-decoration text-white">
                                    <i class="pg-icon">heart_outline</i>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="pull-bottom p-b-45">
                    <p class="p-t-10  p-b-5 text-white no-margin" style="font-size: 21px;">Main Products</p>

                    <p class="no-margin text-white p-b-10" style="font-size:16px ;">Padded jacket, PU jacket,
                        Parka,
                        Down jacket, Windbraker
                        Jacket
                        <br>
                        <!-- <span class="semi-bold">black world</span> -->
                    </p>
                </div>
            </div>
        </div>
    </swiper>
</pgcard>