<label for="categories">
    <h5>CATEGORIES</h5>
    <div *ngIf="searchParams.categoryId && searchParams.categoryId.length > 1">
        <a class="text-muted">{{ getCategoryName }}</a>
        <button class="btn btn-primary" (click)="onSelect(null)">Clear</button>
    </div>
        <div *ngIf="!(searchParams.categoryId && searchParams.categoryId.length > 1)">
            <ul *ngFor="let categorie of categoriesList" class="list-unstyled">
                <li (click)="onSelect(categorie._id)">
                    <a class="text-muted">{{categorie.name}}</a>
                </li>
            </ul>
        </div>
</label>

<div>
    <h5>
        Min. Order
    </h5>
    <div class="row">
        <div class="col-8 p-1">
            <input class="form-control" type="text" [(ngModel)]="moq" placeholder="less than" name="moq">
        </div>
        <div class="col-4 p-1">
            <button class="btn rounded-pill" (click)="submitMoq()">Ok</button>
        </div>
    </div>
</div>

<div>
    <h5>
        Price
    </h5>
    <div class="row">
        <div class="col-8 p-1 d-flex align-items-center">
            <input 
                class="form-control" type="number" name="min" 
                placeholder="min" [(ngModel)]="min">
            <span class="fw-bold">&nbsp;-&nbsp;</span>
            <input 
                class="form-control" type="number" 
                placholder="max" name="max" [(ngModel)]="max">
        </div>
        <div class="col-4 p-1">
            <button class="btn rounded-pill" (click)="minPriceSearch()">Ok</button>
        </div>
    </div>
</div>

<label for="supplier-country">
    <h5>
        Supplier Country
    </h5>
    <div class="form-group input-group ">
        <div class="input-group-append">
            <span class="input-group-text primary"><i class="pg-icon ">search</i>
            </span>
        </div>
        <input type="text" (keyup)="onChangeCountriesSearch($event)" placeholder="Search" class="form-control ">
    </div>
    <p class="text-muted">Suggestions</p>
    <ul class="list-unstyled">
        <li *ngFor="let country of supplierCountries; let i = index;">
            <input type="checkbox" class="mt-2" (change)="onSelectCountry($event, country, i)">
            <!-- <img class="img-fluid img-custom ml-1" src="{{country.image}}" alt=""> -->
            <span>
                {{country}}
            </span>
        </li>
    </ul>
</label>

<!-- <label for="supplier-types">
    <h5>
        Supplier Types
    </h5>
    <ul class="list-unstyled">
        <li>
            <input type="checkbox">
            <span>
                Trade Assurance
            </span>
        </li>
        <li>
            <input type="checkbox">
            <span>
                Supplier
            </span>
        </li>
        <li>
            <input type="checkbox">
            <span>
                ≤1h response time
            </span>
        </li>
    </ul>
</label>
<label for="product-type">
    <h5>
        Product Type
    </h5>
    <ul class="list-unstyled">
        <li>
            <input type="checkbox">
            <span>
                Ready to Ship
            </span>
        </li>
        <li>
            <input type="checkbox">
            <span>
                Paid samples
            </span>
        </li>
    </ul>
</label>

<label for="past-export-country">
    <h5>
        Past Export Country
    </h5>
    <div class="form-group input-group ">
        <div class="input-group-append">
            <span class="input-group-text primary"><i class="pg-icon">search</i>
            </span>
        </div>
        <input type="text" formControlName="search" placeholder="Search" class="form-control">
    </div>
    <p class="text-muted">All Countries & Regions</p>
    <ul class="list-unstyled">
        <li *ngFor="let country of countryList">
            <input type="checkbox" class="mt-2">
            <img class="img-fluid img-custom ml-1" src="{{country.image}}" alt="">
            <span>
                {{country.name}}
            </span>
        </li>
    </ul>
</label> -->