<section class="m-2 ">
    <div class="row">
        <div class="col-md-8">
            <form >
                <div class="row">
                    <div class="col-md-12">
                        <div pgFormGroupDefault class="form-group form-group-default required" >
                            <label for="fcp-company">Company Name</label>
                            <input type="text" formControlName="company" placeholder="Enter your Company Name here" class="form-control" id="fcp-company" />
                        </div>
                        <!-- <div *ngIf="f.company?.invalid && (f.company.dirty || f.company.touched)">
                            <label *ngIf="f.company.errors.required" class="error">This field is required.</label>
                            <label *ngIf="f.company.errors.minlength" class="error">Minimum length of 20 is
                            required.</label> -->
                        </div>
             
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="fcp-company">Contact Person</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <div pgFormGroupDefault class="form-group form-group-default required" >
                                    <label for="fcp-company">Name </label>
                                    <input type="text" formControlName="Name" placeholder="Enter your  Name here" class="form-control" id="" />
                                </div>
                                
                            </div>
                            <div class="col-lg-6">
                                <div pgFormGroupDefault class="form-group form-group-default required" >
                                    <label for="surName ">Sur Name </label>
                                    <input type="text" formControlName="SurName" placeholder="Enter your Sur Name here" class="form-control" id="" />
                                </div>
                            </div>
                        </div>
                        <!-- <div *ngIf="f.company?.invalid && (f.company.dirty || f.company.touched)">
                            <label *ngIf="f.company.errors.required" class="error">This field is required.</label>
                            <label *ngIf="f.company.errors.minlength" class="error">Minimum length of 20 is
                            required.</label> -->
                        </div>
             
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div pgFormGroupDefault class="form-group form-group-default required" >
                            <label for="email">Email</label>
                            <input type="email" formControlName="Email" placeholder="Enter your Email Address here" class="form-control" id="" />
                        </div>
                        <!-- <div *ngIf="f.company?.invalid && (f.company.dirty || f.company.touched)">
                            <label *ngIf="f.company.errors.required" class="error">This field is required.</label>
                            <label *ngIf="f.company.errors.minlength" class="error">Minimum length of 20 is
                            required.</label> -->
                        </div>
             
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div pgFormGroupDefault class="form-group form-group-default required" >
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" placeholder="Enter your password  " class="form-control" id="" />
                        </div>
                        <!-- <div *ngIf="f.company?.invalid && (f.company.dirty || f.company.touched)">
                            <label *ngIf="f.company.errors.required" class="error">This field is required.</label>
                            <label *ngIf="f.company.errors.minlength" class="error">Minimum length of 20 is
                            required.</label> -->
                        </div>
             
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div pgFormGroupDefault class="form-group form-group-default required" >
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="confirmPassword" formControlName="confirmPassword" placeholder="Enter your password  " class="form-control" id="" />
                        </div>
                        <!-- <div *ngIf="f.company?.invalid && (f.company.dirty || f.company.touched)">
                            <label *ngIf="f.company.errors.required" class="error">This field is required.</label>
                            <label *ngIf="f.company.errors.minlength" class="error">Minimum length of 20 is
                            required.</label> -->
                        </div>
             
                </div>
                <div class="row ">
                    <div class="col-md-6 ">
                        <div pgFormGroupDefault class="form-group form-group-default ">
                            <label for="Country ">Country</label>
                            <select id="Country " formControlName="Country " class="form-control " #myCountry (change)='onCountrySelected($event)'>
                            <option *ngFor="let c of countries " [value]="c.country ">{{c.country}}</option>
                        </select>
                            <!-- <input type="text " formControlName="facCountry " placeholder="Enter your Country Name here " class="form-control " id="fcp-facCountry " /> -->
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div pgFormGroupDefault class="form-group form-group-default ">
                            <label for="State ">State</label>
                            <select id="State " formControlName="State " class="form-control " (change)='onStateSelected($event)'>
                            <option *ngFor="let c of states " [value]="c.name ">{{ c.name }}</option>
                        </select>
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div pgFormGroupDefault class="form-group form-group-default required" >
                            <label >City</label>
                            <select  formControlName="City" class="form-control" (change)='onCitySelected($event)'>
                            <option *ngFor="let c of cities" [value]="c.name">{{ c.name }}</option>
                        </select>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 "  >
                        <div class="d-flex align-items-center">
                            <div pgFormGroupDefault class="form-group form-group-default required" >
                                <label for="phone">Phone</label>
                                <input type="phone" formControlName="Phone" maxlength="10" placeholder="Enter Phone Number" class="form-control" id="phone" />
                            </div>
                            <!-- <button *ngIf="mobileArray?.controls?.length > 1" type="button" (click)="deleteMobile(i)" class="btn btn-info mb-4 ms-2">
                        Remove
                    </button> -->
                        </div>
                        <!-- <div *ngIf="mobileArray?.controls[i].invalid && (mobileArray?.controls[i].dirty || mobileArray?.controls[i].touched)">
                            <label *ngIf="mobileArray?.controls[i].invalid" class="error">Mobile no should be of 10 digit.</label>
                        </div> -->
    
                    </div>
                    <div class="col-md-6 "  >
                        <div class="d-flex align-items-center">
                            <div pgFormGroupDefault class="form-group form-group-default required" >
                                <label for="Mobile">Mobile Number</label>
                                <input type="number" formControlName="Mobile" maxlength="10" placeholder="Enter Mobile Number" class="form-control" id="fcp-regMobile" />
                            </div>
                            <button type="button" (click)="deleteMobile(i)" class="btn btn-info mb-4 ms-2">
                        Remove
                    </button>
                        </div>
                        <!-- <div *ngIf="mobileArray?.controls[i].invalid && (mobileArray?.controls[i].dirty || mobileArray?.controls[i].touched)">
                            <label *ngIf="mobileArray?.controls[i].invalid" class="error">Mobile no should be of 10 digit.</label>
                        </div> -->
    
                    </div>
                    <div class="col-md-3">
                        <button type="button"  class="btn btn-info mt-2">Add+
                    </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div pgFormGroupDefault class="form-group form-group-default required" >
                            <label for="fcp-gstNo">GST No</label>
                            <input type="text" formControlName="gstNo" placeholder="Enter GST number" class="form-control" id="gstNo" />
                        </div>
                        <!-- <div *ngIf="f.gstNo?.invalid && (f.gstNo.dirty || f.gstNo.touched)">
                            <label *ngIf="f.gstNo.errors.required" class="error">This field is required.</label>
                            <label *ngIf="f.gstNo.errors.maxlength.requiredLength" class="error">Maximum length should be
                            15.</label>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div pgFormGroupDefault class="form-group form-group-default required" >
                            <label for="year">Year of Establishment</label>
                            <input type="year" formControlName="YOE" placeholder="Enter Year" class="form-control" id="gstNo" />
                        </div>
                        <!-- <div *ngIf="f.gstNo?.invalid && (f.gstNo.dirty || f.gstNo.touched)">
                            <label *ngIf="f.gstNo.errors.required" class="error">This field is required.</label>
                            <label *ngIf="f.gstNo.errors.maxlength.requiredLength" class="error">Maximum length should be
                            15.</label>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Business Registration Certificate</label>
                    </div>
    
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="input-group" style="width: 285px;">
                            <input type="file" accept="image/*,.pdf,.doc" class="form-control py-2" id="fileInput" (change)="fileUpload($event)" #fileInputDoc aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="businessCertificate">
                            <div class="input-group-append">
                                <!-- <button class="btn btn-outline-secondary" type="button"
                                (click)="fileInputDoc.click()">upload</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div pgFormGroupDefault class="form-group form-group-default required" >
                            <label for="companyWebsite">Company Website </label>
                            <input type="text" formControlName="companyWebsite" placeholder="Enter Company Website" class="form-control" id="companyWebsite" />
                        </div>
                        
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6 ">
                        <div pgFormGroupDefault class="form-group form-group-default ">
                            <label for="companyStrength ">Company Strength </label>
                            <select id="companyStrength " formControlName="companyStrength " class="form-control " >
                            <option value="">Select</option>
                            <option [value]="0-10">0-10</option>
                            
                            <option value="0-10">10-50</option>
                            <option value="50-100">50-100</option>
                            <option value="100-500">100-500</option>
                            <option value="500-1000">500-1000</option>
                            <option value="1000-5000">1000-5000</option>
                            <option value="5000-10000">5000-10000</option>
                            
                        </select>
                            <!-- <input type="text " formControlName="facCountry " placeholder="Enter your Country Name here " class="form-control " id="fcp-facCountry " /> -->
                        </div>
                        </div>
                    
                            <div class="col-md-6">
                                <div pgFormGroupDefault class="form-group form-group-default required" >
                                    <label for="existingClients">Exisiting Clients </label>
                                    <input type="text" formControlName="existingClients" placeholder="Enter Existing Clients" class="form-control" id="existingClients" />
                                </div>
                                
                       
                        </div>
                    </div>
                    
                    <div class="row ">
                        <div class="col-md-6 ">
                            <div pgFormGroupDefault class="form-group form-group-default ">
                                <label for="AssignedBy ">Assigned By  </label>
                                <select id="AssignedBy " formControlName="AssignedBy " class="form-control " >
                                <option value="">Select</option>
                                <option [value]="Admin">Admin</option>
                                <option [value]="Seller">Seller</option>
                                
                                
                            </select>
                                <!-- <input type="text " formControlName="facCountry " placeholder="Enter your Country Name here " class="form-control " id="fcp-facCountry " /> -->
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Agreement Letter </label>
                            </div>
            
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="input-group" style="width: 285px;">
                                    <input type="file" accept="image/*,.pdf,.doc" class="form-control py-2" id="fileInput" (change)="fileUpload($event)" #fileInputDoc aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="AgreementLetter">
                                    <div class="input-group-append">
                                        <!-- <button class="btn btn-outline-secondary" type="button"
                                        (click)="fileInputDoc.click()">upload</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div>
                              <button  class="btn btn-primary"> Submit</button>
                         </div>
            </form>
            
        </div>
    </div>
    
</section>

