<div class="bg-white m-3 p-3 shadow-sm">
    <h4>
     Company Name
    </h4>
  </div>
  
  
  
  <div class="bg-white m-3 p-3 shadow-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- 1 table -->
          <table class="table table-borderless table-sm">
            <tr>
              <td>
                <b> First Name </b>
              </td>
              <td>
              name
              </td>
            </tr>
  
            <tr>
              <td>
                <b> Last Name </b>
              </td>
              <td>
              last name
              </td>
            </tr>
  
            <tr>
              <td>
                <b> Designation </b>
              </td>
              <td></td>
            </tr>
  
            <tr>
              <td>
                <b> Email </b>
              </td>
              <td>
               jjj
              </td>
            </tr>
            <tr>
              <td>
                <b> Alternative Email </b>
              </td>
              <td>
               uuuu
              </td>
            </tr>
            <tr>
              <td>
                <b> Company Website </b>
              </td>
              <td>
               uuuu
              </td>
            </tr>
  
            <tr>
              <td>
                <b> Google Business </b>
              </td>
              <td>
               uuuu
              </td>
            </tr>
            <tr>
              <td>
                <b> Facebook Business </b>
              </td>
              <td>
               99999
              </td>
            </tr>
  
            <tr>
              <td>
                <b> Instagram Business </b>
              </td>
              <td>
                9999
              </td>
            </tr>
  
            <tr>
              <td>
                <b> Account Number </b>
              </td>
              <td>
                iiii
              </td>
            </tr>
  
            <tr>
              <td>
                <b> Account Type </b>
              </td>
              <td>
               iiii
              </td>
            </tr>
            <tr>
              <td>
                <b> Bank Name </b>
              </td>
              <td>
       99999
              </td>
            </tr>
            <tr>
              <td>
                <b> Bank Branch </b>
              </td>
              <td>
              iiiii
              </td>
            </tr>
          </table>
        </div>
        <!-- 2 table -->
        <div class="col-md-6">
          <table class="table table-borderless table-sm">
            <tr>
              <td>
                <b> IFSC Code </b>
              </td>
              <td>
               uuuu
              </td>
            </tr>
            <tr>
              <td>
                <b> SWIFT Code </b>
              </td>
              <td>
                iiiii
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td>
                <b> Language Spoken </b>
              </td>
              <td>
                999
              </td>
            </tr>
  
            <tr>
              <td>
                <b> Company Mission and Vision </b>
              </td>
              <td>
               iii
              </td>
            </tr>
            <tr>
              <td>
                <b> Company Philosophy </b>
              </td>
              <td>
                iiii
              </td>
            </tr>
            <tr>
              <td>
                <b> Company Detailed Introduction</b>
              </td>
              <td>
                9999
              </td>
            </tr>
            <tr>
              <td>
                <b> Trade Name</b>
              </td>
              <td>
                iii
              </td>
            </tr>
            <tr>
              <td>
                <b> Host </b>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <b> Start Date </b>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <b> End Date </b>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <b> Region </b>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <b> City </b>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <b> About The Trade show </b>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <b> Checked</b>
              </td>
              <td>
                <input
                  type="checkbox"
                 
                />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
  
 
  
  
  
  
   
  
  <div class="d-flex justify-content-center">
    <div>
      <button
       
        class="btn btn-success m-3"
      >
        Approve
      </button>
    </div>
    <div>
      <button
       
        class="btn btn-danger m-3"
      >
        Review
      </button>
    </div>
    <div>
      <button class="btn btn-danger m-3">Deactivate</button>
    </div>
  </div>
