.bg-grey {
    background-color: #FAF9F7;
}

.bg-grey1 {
    background-color: #D7D9DD;
}

.btn-primary {
    background-color: #1A73E8;
}

.btn-primary:hover {
    background-color: #1a73e8cc;
}

.text-blue {
    color: #1A73E8;
}

a {
    color: #1A73E8;
}