<div>

    <pg-container extraHorizontalClass="bg-white" extraClass="bg-white">
        <!-- START card -->
        <div class="card card-transparent">
            <div class="card-header  d-flex justify-content-between">
                <div class="card-title">Supplier My Listing
                </div>
                <div class="export-options-container"></div>
                <!-- <div class="clearfix"></div> -->
            </div>
            <div class="card-body">
                <div class="table-responsive" style="height:600px;overflow-y: hidden">

                    <ngx-datatable #tableAdvance class='table table-hover table-stripped' [columns]="advanceColumns"
                        [columnMode]="columnModeSetting" [scrollbarH]="scrollBarHorizontal" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="60" [limit]="5" [scrollbarV]="true" [rows]='advanceRows'>
                    </ngx-datatable>
                </div>
            </div>
        </div>
        <!-- END card -->
    </pg-container>
</div>
<!-- END CONTAINER FLUID -->