<div class="container-fluid">
    <div class="border-bottom">
        <div class="row mb-4 side-spacer1 media-main-div">
            <div class="col-lg-6 col-md-6 col-12 media-div1">
                <h1 class="headline">Helpful <br>
                    products.</h1>
                <div class="headline1">For <br>
                    Everyone.</div>
            </div>
            <div class=" col-lg-6 col-md-6 col-12">
                <img class="side-image" src="../../../../../assets/img/gallery/10.jpg" alt="">
            </div>
        </div>

        <div class="d-flex justify-content-center btn-margin">
            <button class="bg-primary text-white border-0 p-3">Browse all products</button>
        </div>
    </div>
    <div class="mt-4 row d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center"><img src="../../../../../assets/img/invoice/image2x.png"
                class="sub-image" alt="">
        </div>
        <div class="border-bottom">
            <h2 class="sub-text col-md-12 d-flex justify-content-center">Safer With Google</h2>
            <div class="sub-div">
                <span class="col-md-12 d-flex justify-content-center sub-text1">It’s our responsibility to protect your
                    privacy
                    and</span>
                <span class="col-md-12 d-flex justify-content-center sub-text1">security in every product we make — so
                    that
                    every</span>
                <span class="col-md-12 d-flex justify-content-center sub-text1">day you’re safer with Google.

                </span>
            </div>
            <div class="d-flex justify-content-center my-4 btn-margin">
                <button class="bg-primary text-white border-0 p-3 ">Browse all products</button>
            </div>
        </div>
    </div>

    <div class="mt-2">
        <h4 class="text-center margin">
            Our mission is to <span class="blue">organise the</span><br>
            world’s <span class="red">information</span> and make it<br>
            <span class="green">universally accessible</span> and
            <span class="yellow">useful.</span>
        </h4>
    </div>

    <pg-container>
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-transparent">
                    <div class="card-header ">
                        <div class="card-title">Portlet Tools
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <pgcard Maximize="false" ProgressType="bar" Controls="false" TimeOut="2500">
                                    <ng-template #CardTitle>Portlet Title</ng-template>
                                    <h3>
                                        <span class="semi-bold">Basic</span> Tools
                                    </h3>
                                    <p>Basic Portlet tools include a slide toggle button <i
                                            class="card-icon card-icon-collapse"></i>, refresh button <i
                                            class="card-icon card-icon-refresh"></i> and a close button <i
                                            class="card-icon card-icon-close"></i> All these are fully customizable and
                                        come with callback functions to integrate with your code. Clicking on the
                                        refresh button will simulate an AJAX call.
                                    </p>
                                </pgcard>
                            </div>
                            <div class="col-lg-4">
                                <pgcard Maximize="false" Refresh="false" Controls="false" Toggle="false">
                                    <h3>
                                        <span class="semi-bold">Without</span> Scroll
                                    </h3>
                                    <p>When it comes to digital design, the lines between functionality, aesthetics, and
                                        psychology are inseparably blurred. Without the constraints of the physical
                                        world, there’s no natural form to fall back on, and every bit of constraint and
                                        affordance</p>
                                </pgcard>
                            </div>
                            <div class="col-lg-4">
                                <pgcard Controls="false">
                                    <ng-template #CardTitle>Portlet One</ng-template>
                                    <div class="scrollable demo-card-scrollable" perfectScrollbar>

                                        <h3>
                                            <span class="semi-bold">With</span> Scroll
                                        </h3>
                                        <p>When it comes to digital design, the lines between functionality, aesthetics,
                                            and psychology are inseparably blurred. Without the constraints of the
                                            physical world, there’s no natural form to fall back on, and every bit of
                                            constraint and affordance must be introduced intentionally. Good design
                                            makes a product useful. A product is bought to be used. It has to satisfy
                                            certain criteria, not only functional, but also psychological and aesthetic.







                                            Good design emphasizes the usefulness of a product whilst disregarding
                                            anything that could possibly detract from it. It’s always obvious when
                                            design is an afterthought. The hallmarks of the engineering-first approach
                                            are everywhere: inscrutable interfaces, convoluted workflows, user guides
                                            the size of The Iliad. This was the dominant approach for the first several
                                            decades of personal computing, and it’s left its mark in the form of
                                            software designed with its creators in mind, rather than its users.</p>

                                    </div>
                                </pgcard>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </pg-container>

    <pg-container>
        <div class="card card-transparent">
            <div class="card-header ">
                <div class="card-title">Style Options
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <pgcard Controls="false">
                            <ng-template #CardTitle>Portlet Three</ng-template>
                            <h3>
                                <span class="semi-bold">With</span> Separator
                            </h3>
                            <p>When it comes to digital design, the lines between functionality, aesthetics, and
                                psychology are inseparably blurred. Without the constraints of the physical world,
                                there’s no natural form to fall back on, and every bit of constraint and affordance must
                                be introduced intentionally. Good design makes a product useful. A product is bought to
                                be used. </p>
                        </pgcard>
                    </div>
                    <div class="col-lg-4">
                        <pgcard Controls="false" Type="transparent">
                            <ng-template #CardTitle>Portlet Four</ng-template>
                            <h3>
                                <span class="semi-bold">Transparent</span>
                            </h3>
                            <p>When it comes to digital design, the lines between functionality, aesthetics, and
                                psychology are inseparably blurred. Without the constraints of the physical world,
                                there’s no natural form to fall back on, and every bit of constraint and affordance must
                                be introduced intentionally. Good design makes a product useful. A product is bought to
                                be used.</p>
                        </pgcard>
                    </div>
                    <div class="col-lg-4">
                        <pgcard Controls="false" Type="default bg-success">
                            <ng-template #CardTitle>Portlet Three</ng-template>
                            <h3>
                                <span class="semi-bold">With</span> Separator
                            </h3>
                            <p>When it comes to digital design, the lines between functionality, aesthetics, and
                                psychology are inseparably blurred. Without the constraints of the physical world,
                                there’s no natural form to fall back on, and every bit of constraint and affordance must
                                be introduced intentionally. Good design makes a product useful. A product is bought to
                                be used. </p>
                        </pgcard>
                    </div>
                </div>
            </div>
        </div>
    </pg-container>


    <pg-container>
        <div class="card card-transparent">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 sortable-column" ngxDroppable="example">
                        <div class="card card-default bg-primary" ngxDraggable>
                            <div class="card-header ">
                                <div class="card-title">Draggable Portlet
                                </div>
                            </div>
                            <div class="card-body">
                                <h3>
                                    <span class="semi-bold">Drag</span> me!
                                </h3>
                                <p>When it comes to digital design, the lines between functionality, aesthetics, and
                                    psychology are inseparably blurred. Without the constraints of the physical world,
                                    there’s no natural form to fall back on, and every bit of constraint and affordance
                                    must be introduced intentionally. Good design makes a product useful. A product is
                                    bought to be used. It has to satisfy certain criteria, not only functional, but also
                                    psychological and aesthetic. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">

                        <div class="card card-default bg-primary" ngxDraggable>
                            <div class="card-header ">
                                <div class="card-title">Draggable Portlet
                                </div>

                            </div>
                            <div class="card-body">
                                <h3>
                                    <span class="semi-bold">Drag</span> me!
                                </h3>
                                <p>When it comes to digital design, the lines between functionality, aesthetics, and
                                    psychology are inseparably blurred. Without the constraints of the physical world,
                                    there’s no natural form to fall back on, and every bit of constraint and affordance
                                    must be introduced intentionally. A product is bought to be used. It has to satisfy
                                    certain criteria, not only functional, but also psychological and aesthetic.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">

                        <div class="card card-default bg-primary" ngxDraggable>
                            <div class="card-header ">
                                <div class="card-title">Draggable Portlet
                                </div>

                            </div>
                            <div class="card-body">
                                <h3>
                                    <span class="semi-bold">Drag</span> me!
                                </h3>
                                <p>When it comes to digital design, the lines between functionality, aesthetics, and
                                    psychology are inseparably blurred. Without the constraints of the physical world,
                                    there’s no natural form to fall back on, and every bit of constraint and affordance
                                    must be introduced intentionally. A product is bought to be used. It has to satisfy
                                    certain criteria, not only functional, but also psychological and aesthetic.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </pg-container>

    <div class="row sub-div-image module-spacer side-spacer">
        <div class="col-lg-6 col-md-6 col-12 subhead">
            <img src="../../../../../assets/img/cover5.jpg" class="img-fluid sub-div-image" alt="">
        </div>
        <div class="bg-primary col-lg-6 col-md-6 col-12 subhead subhead-media">
            <h3 class="d-flex justify-content-center">Let's set up your</h3><br>
            <h3 class="d-flex justify-content-center"> Merchant Center </h3><br>
            <h3 class="d-flex justify-content-center">account</h3><br>

        </div>


    </div>

    <div class="row sub-div-image module-spacer side-spacer1">
        <div class="bg-primary col-lg-6 col-md-6 subhead subhead-mediaTwo col-12">
            <h3 class="d-flex justify-content-center">Let's set up your</h3><br>
            <h3 class="d-flex justify-content-center"> Merchant Center </h3><br>
            <h3 class="d-flex justify-content-center">account</h3><br>

        </div>
        <div class="col-lg-6 col-md-6 col-12 subhead">
            <img src="../../../../../assets/img/cover5.jpg" class="img-fluid sub-div-image" alt="">
        </div>


    </div>
    <div class="row border-top module-spacer side-spacer1 media-card">
        <div class="col-md-4 col-12">
            <div class="card">
                <img src="../../../../../assets/img/dashboard/pages_hero.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card">
                <img src="../../../../../assets/img/dashboard/pages_hero.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card">
                <img src="../../../../../assets/img/dashboard/pages_hero.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row module-spacer side-spacer1">
        <div class="col-md-6 col-12">
            <pgcard Controls="false" Type="transparent">
                <ng-template #CardTitle>Portlet Four</ng-template>
                <h3>
                    <span class="semi-bold">Transparent</span>
                </h3>
                <p>When it comes to digital design, the lines between functionality, aesthetics, and psychology are
                    inseparably blurred. Without the constraints of the physical world, there’s no natural form to
                    fall
                    back on, and every bit of constraint and affordance must be introduced intentionally. Good
                    design
                    makes a product useful. A product is bought to be used.</p>
            </pgcard>
        </div>
        <div class="col-md-6 col-12">
            <pgcard Controls="false" Type="transparent">
                <img src="../../../../../assets/img/social/quote.jpg" class="image" alt="">
            </pgcard>
        </div>
    </div>
    <div class="row module-spacer side-spacer1 media-cover-image">
        <div class="col-md-6 col-12">
            <div class="card">
                <img src="../../../../../assets/img/cover4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <img src="../../../../../assets/img/cover4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4 col-12">
            <div class="card">
                <img src="../../../../../assets/img/cover4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4 col-12">
            <div class="card">
                <img src="../../../../../assets/img/cover4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>