<div class="container-fluid p-3 bg-white">
    <h3>Quality Control</h3>
    <form class="p-t-15" role="form" [formGroup]="qualityControlForm">
        <h6>Whether to demostrate Quality Control Process</h6>
        <div class="form-check form-check-inline complete">
            <input type="radio" name="state" id="radioInline" value="Default" checked>
            <label for="radioInline">
                Yes
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" name="state" id="radioDisabled" value="disabled">
            <label for="radioDisabled">
                No
            </label>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                <label style="margin-left:54px">Process Picture <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-9 mb-4" style="margin-left: -86px;">
                <pg-upload ListType="picture-card" [Preview]="handlePreview">
                    <div class="pic-placeholder">
                        <i class="pg-icon p-b-5">upload</i>
                        <div class="fs-12">Upload</div>
                    </div>
                </pg-upload>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default"
                    [class.has-error]="f.processName.invalid && (f.processName.dirty || f.processName.touched)">
                    <label for="process-name">Process Name</label>
                    <input type="text" formControlName="processName" placeholder="Enter process name here"
                        class="form-control" id="process-name" />
                </div>
                <div *ngIf="f.processName.invalid && (f.processName.dirty || f.processName.touched)">
                    <label *ngIf="f.processName.errors.required" class="error">This field is required.</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default"
                    [class.has-error]="f.description.invalid && (f.description.dirty || f.description.touched)">
                    <label for="process-description">Description</label>
                    <textarea type="file" formControlName="description" placeholder="Process Description here"
                        class="form-control" id="process-description">
                        </textarea>
                </div>
                <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)">
                    <label *ngIf="f.description.errors.required" class="error">This field is required.</label>
                </div>
            </div>
        </div>
    </form>
</div>