<label for="categories">
    <h5>CATEGORIES
    </h5>
    <ul  class="list-unstyled">
        <li *ngFor="let category of categoriesList">
            <a class="text-muted" [ngClass]="searchQuery.category == category.name ? ' bold ' : '' " (click)="categoryFilter(category._id)">{{category.name}}</a>
        </li>
    </ul>
</label>

<label for="categories">
    <h5>Business Type
    </h5>
    <ul  class="list-unstyled">
        <li *ngFor="let businessType of businessTypeList">
            <a class="text-muted" (click)="businessTypeFilter(businessType)">{{ businessType }}</a>
        </li>
    </ul>
</label>

<label for="categories">
    <h5>Management Certification
    </h5>
    <ul  class="list-unstyled">
        <li *ngFor="let certification of certificationsList">
            <a class="text-muted" (click)="certificationFilter(certification)">{{ certification }}</a>
        </li>
    </ul>
</label>

<label for="categories">
    <h5>Annual Revenue
    </h5>
    <ul  class="list-unstyled">
        <li *ngFor="let revenue of revenueList">
            <a class="text-muted" (click)="revenueFilter(revenue)">{{ revenue }}</a>
        </li>
    </ul>
</label>

<label for="categories">
    <h5>No. of Employees
    </h5>
    <ul  class="list-unstyled">
        <li *ngFor="let employee of employeeStrengthList">
            <a class="text-muted" (click)="employeeStrengthFilter(employee)">{{ employee }}</a>
        </li>
    </ul>
</label>