<div class="p-2">
    <!-- <div class="container">
        <div class="row  p-10 activeBox">
            <div class="col-md-4  p-3 p-10 ">
                <select class="form-select" (change)="handleCategoryChange()" [(ngModel)]="selectedCategory" aria-label="Default select example">
                    <option [value]="'All'" selected>{{ 'All' }}</option>
                    <option *ngFor="let item of categoryList" [value]="item[0]">{{ item[1] }}</option>
                </select>
            </div>
            <div class="col-md-4  p-3 p-10 ">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Date</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-4  p-3 p-10 ">
                <select class="form-select" name="status" [(ngModel)]="selectedStatus"
                    (change)="handleStatusChange($event)" aria-label="Default select example">
                    <option value="All" selected>All</option>
                    <option value="Pending">Pending</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Approved">Approved</option>
                    <option value="Reject">Reject</option>
                </select>
            </div>




        </div>
    </div> -->
    <!-- <div class="card card-transparent ">
        <pg-tabset tabAnimation="slide-left" Type="fillup">
            <pg-tab>
                <ng-template #TabHeading>
                    <span>All Products</span>
                </ng-template> -->
    <!-- <app-dashboard-last-conversation></app-dashboard-last-conversation> -->
    <!-- </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    <span>Active Listings</span>
                </ng-template> -->
    <!-- <app-dashboard-last-mqrs></app-dashboard-last-mqrs> -->
    <!-- </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    <span>InActive Listings</span>
                </ng-template>
                 <app-dashboard-last-mqrs></app-dashboard-last-mqrs> -->
    <!-- </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    <span>Products Rejection</span>
                </ng-template>  -->
    <!-- <app-dashboard-last-mqrs></app-dashboard-last-mqrs> -->
    <!-- </pg-tab> -->
    <!-- </pg-tabset> -->
    <!-- </div> -->

    <pg-container extraHorizontalClass="bg-white" extraClass="bg-white">
        <!-- START card -->
        <div class="card card-transparent">
              <div class="container">
                  <div class="row  ">
                      <div class="col-md-4  p-3 ">
                          <select class="form-select" aria-label="Default select example">
                              <option selected>Category</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
                      </div>
                      <div class="col-md-3  p-3 ">
                          <select class="form-select" aria-label="Default select example">
                              <option selected>Date</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
                      </div>
                      <div class="col-md-3  p-3 ">
                          <select class="form-select" aria-label="Default select example">
                              <option selected>Status</option>
                              <option value="1">Approved</option>
                              <option value="2">Reject</option>

                          </select>
                      </div>
<div class="col-md-2 p-3">
    <button>Go</button>
</div>
 <div class="col-md-12">
    <label class="text-danger">Bulk Action</label> 
    <button (click)="bulkConfirm('Approve')" class="btn ms-2">Approve</button>
    <button (click)="bulkConfirm('Rejected')" class="btn ms-2">Reject</button>
 </div>               




                  </div>
              </div>
            <div class="card-header  d-flex justify-content-between">
                <div class="card-title">Admin MQR
                </div>
                <div class="export-options-container"></div>
                <!-- <div class="clearfix"></div> -->
            </div>
            <div class="card-body">
                <div class="table-responsive" style="height:600px;overflow-y: hidden">

                    
                    <ngx-datatable #tableAdvance class="table table-hover table-stripped" [rows]="advanceRows"
                        [columns]="advanceColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="60" [columnMode]="columnModeSetting" [limit]="5" [scrollbarH]="scrollBarHorizontal"
                        [scrollbarV]="true" (page)="onPage($event)">
                        >
                        <ngx-datatable-column name="">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <input type="checkbox" (click)="handler(row)" (change)="handleChangeCheckboxes($event, row)" />
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Img">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <img src="{{row.image}}" alt="">
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column *ngFor="let col of advanceColumns" [name]="col.name" [hidden]="col.image">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Action" sortable="false" prop="name">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <button class="me-4 btn btn-primary show-notification" md-icon-button (click)="delete(row)"
                                data-toggle="modal" data-target="#updateStatus">
                                    Update
                                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
        <!-- END card -->
    </pg-container>
</div>
  <!--  -->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to approve/reject</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         you would not able to revert back!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="updateStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="selectedRfq">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ selectedRfq.productName }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 p-3 p-10 ">
                <select [(ngModel)]="updateStatus" class="form-select" aria-label="Default select example">
                    <option value="All" selected>All</option>
                    <option value="Pending">Pending</option>
                    <option value="InProgress">In Progress</option>
                    <option value="Approved">Approved</option>
                    <option value="Reject">Reject</option>
                </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="confirm()" data-dismiss="modal" class="btn btn-primary">Update Status</button>
        </div>
      </div>
    </div>
  </div>