<div class="login-wrapper">
  <!-- START Login Background Pic Wrapper-->
  <div class="bg-pic">
    <!-- START Background Pic-->
    <div
      class="img-holder"
      [ngStyle]="{
        background:
          'url(assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg)'
      }"
    ></div>
    <!-- START Background Caption-->
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      <h2 class="semi-bold text-white">
        B2B make it easy to make b2b business
      </h2>

      <p class="small">
        images Displayed are solely for representation purposes only, All work
        copyright of respective owner, otherwise © 2021-2022 B2B.
      </p>
    </div>
    <!-- END Background Caption-->
  </div>
  <!-- END Login Background Pic Wrapper-->
  <!-- START Login Right Container-->
  <div class="login-container bg-white">
    <div
      class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40"
    >
      <img
        src="assets/img/logo.png"
        alt="logo"
        pgRetina
        src1x="assets/img/logo.png"
        src2x="assets/img/logo_2x.png"
        width="78"
        height="22"
      />

      <p class="p-t-35">Sign In</p>
      <!-- START Login Form -->
      <form class="p-t-15" role="form" [formGroup]="authSignInForm">
        <!-- START Form Control-->
        <div
          pgFormGroupDefault
          class="form-group form-group-default"
          [class.has-error]="
            f.email.invalid && (f.email.dirty || f.email.touched)
          "
        >
          <label for="email">Email Address</label>
          <input
            type="email"
            formControlName="email"
            placeholder="Enter Email Address"
            class="form-control"
            id="email"
          />
        </div>
        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
          <label *ngIf="f.email.errors.required" class="error"
            >This field is required.</label
          >
        </div>
        <!-- END Form Control-->
        <!-- START Form Control-->
        <div
          pgFormGroupDefault
          class="form-group form-group-default"
          [class.has-error]="
            f.password.invalid && (f.password.dirty || f.password.touched)
          "
        >
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            placeholder="Enter Email Address"
            class="form-control"
            id="password"
          />
        </div>
        <div
          *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
        >
          <label *ngIf="f.password.errors.required" class="error"
            >This field is required.</label
          >
        </div>
        <!-- START Form Control-->
        <div class="row">
          <div class="col-md-6">
            <div class="form-check pl-0">
              <input
                type="checkbox"
                formControlName="rememberMe"
                id="checkbox1"
              />
              <label for="checkbox1" class="ml-2">Keep Me Signed in</label>
              <a routerLink="/user-auth/sign-up" class="text-info small ms-1">
                Register with Bizzexpo
              </a>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-end">
            <a
              class="text-info small text-danger forgot-text"
              routerLink="/user-auth/forgot-password"
              >Forgot Password</a
            >
            <!-- <a routerLink="/user-auth/sign-up" class="text-info small ms-1">Register</a> -->
          </div>
        </div>
        <!-- END Form Control-->
        <button
          class="btn btn-primary btn-cons m-t-10"
          (click)="authSignInFormSub()"
        >
          Sign In
        </button>
      </form>
      <!--END Login Form-->
      <div class="pull-bottom sm-pull-bottom">
        <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
          <div class="col-sm-3 col-md-2 no-padding">
            <img
              alt=""
              class="m-t-5"
              pgRetina
              src1x="assets/img/demo/pages_icon.png"
              src2x="assets/img/demo/pages_icon_2x.png"
              height="60"
              src="assets/img/demo/pages_icon.png"
              width="60"
            />
          </div>
          <div class="col-sm-9 no-padding m-t-10">
            <p>
              <small>
                Create a pages account. If you have a facebook account, log into
                it for this process. Sign in with
                <a href="javascript:void(0)" class="text-info">Facebook</a> or
                <a href="javascript:void(0)" class="text-info">Google</a>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Login Right Container-->
</div>
