<div class="bg-white p-3 mt-4 mb-2">
    <h5>Send your message to this supplier</h5>
    <div class="p-4">
        <ul class="list-unstyled">
            <li>
                <p>To : <b>Caliber India Apparels</b></p>
            </li>
            <li>
                <p>*Message :</p>
                <div> <textarea class="form-control" id="w3review" name="w3review" rows="15" cols="50"></textarea>
                </div>
            </li>
            <li class="mt-3">
                <p>Quantity:</p>
                <div></div>
            </li>
            <li class="mt-3">
                <span><input type="checkbox" class="pr-2"></span>
                <span class="pl-2"> Recommend matching suppliers if this supplier doesn’t
                    contact me on
                    Message Center
                    within 24
                    hours. Request for QuotationRecommend matching suppliers if this supplier doesn’t contact me on
                    Message Center
                    within 24
                    hours. Request for Quotation</span>
            </li>
            <li class="mt-3">
                <span><input type="checkbox" class="pr-2"></span>
                <span class="pl-2"> I agree to share my Business Contact to the
                    supplier.</span>
            </li>
            <li class="mt-3">
                <Button class="btn btn-primary">Send Query</Button></li>
        </ul>
    </div>
</div>