<app-catalogue-menubar></app-catalogue-menubar>
<app-catalogue-seller-company-details></app-catalogue-seller-company-details>
<div class="container">
    <div class="row">
<div class="col-md-12 border btm-border">
<h5 class="mt-4">Send Meassage To Supplier</h5>
<h6 class="name-text">To : Seller Name</h6>
<div class="col-md-12">
   
        <h6 class="message-text mt-4"><span class="text-danger">*</span>Meassage :</h6> 
   
    <div  class="col-md-9 description-box">
        <textarea class="form-control"  style="height:200px ;" id="name" placeholder="Briefly Describe your Abilities"></textarea>
      </div> 
      <button class="btn send-btn p-1 mt-4">Send</button> 

      <div class="select-box">
        <input type="checkbox"><label class="ml-2">I agree to share my business cared to supplier</label>
      </div>
</div>


</div>
    </div>
</div>
