<!-- <app-catalogue-menubar></app-catalogue-menubar> -->
<app-header1></app-header1>
<app-catalogue-seller-company-details></app-catalogue-seller-company-details>
<app-catalogue-menubar></app-catalogue-menubar>
<div class="container">
    <div class="row">
        <div class="col-md-12 border btm-border">
            <h5 class="mt-4">Send Meassage To Supplier</h5>
            <h6 class="name-text">To : Supplier Name</h6>
            <div class="col-md-12">

                <h6 class="message-text mt-4"><span class="text-danger">*</span>Meassage :</h6>

                <div class="col-md-9 description-box">
                    <textarea class="form-control" style="height:200px ;" id="name" placeholder="Briefly Describe your Abilities"></textarea>
                </div>


                <div class="select-box">
                    <input type="checkbox"><label class="ml-2">I agree to share my business cared to supplier</label>
                </div>

                <button class="btn btn-default btn-lg btn-rounded mb-4 org-color-btn ">Send</button>
            </div>


        </div>
    </div>
</div>
<app-footer1></app-footer1>