.name-text{
    margin-left: 229px;
    margin-top: 24px;
}
.message-text{
    margin-left: 160px;
}
.description-box{
    margin-left: 260px;
    margin-top: -32px;
}
.send-btn{
    background-color: orange;
    border-radius: 6px;
    margin-left: 275px;
    height: 40px;
    line-height: 40px;
    width: 95px;

}

.select-box{
    margin-left: 275px; 
    margin-top: 20px;
    margin-bottom: 20px; 
}
