<!-- page1 -->
<app-header1></app-header1>
<div class="container h-100 ">
    <div class="row h-100 ">


        <p class="page1 "> Bizzexpo requires documents in order to verify your identity. To avoid having your documents rejected, make sure they <br> meet the following criteria.

        </p>


    </div>

</div>
<!-- page2 -->
<div class="container-xxl h-75 ">
    <div class="row h-">
        <div class="col-8 p-0">
            <div class="">
                <h3>All documents must:</h3>
                <ul class="p-4">
                    <li>be valid (not expired, revoked, or closed)</li>
                    <li>be high-quality, in color, and unobstructed (not angled, blurry, or cropped)</li>
                    <li>show the full page</li>
                    <li>display matching information (such as your ID number or name) that you use to register to sell on Amazon
                    </li>
                    <li>be scanned images, or a photo taken from your mobile device's camera (no screenshots)</li>
                    <li>display the full document (front and back, if applicable)</li>
                    <li>be less than 10MB in size</li>
                    <li>be in one of these formats: gif, png, jpg, pdf, and docx. Do not include special characters in the file name (examples: $, &, or #)</li>
                    <li>not be a screenshot</li>
                    <li>be authentic and unaltered</li>
                    <li>be in one of these supported languages: English , HIndi</li>
                    <li class="note"><b>Note:</b> If your documents are in another language, you can submit notarized translations in a supported language. </li>
                </ul>
            </div>
        </div>
        <div class="col-4 p-0">
            <img src="../../../../assets/img/qc.jpg" alt="">
        </div>
    </div>
</div>
<app-footer1></app-footer1>
<!-- page3 -->