<div class="bg-white m-3 p-3 shadow-sm">
    <h4>
        Comapny Name
    </h4>
</div>

<div class="bg-white m-3 p-3 shadow-sm">
    <div class="container">
        <h4>Contact Person</h4>
        <div class="row">
            <div class="col-md-6">
                <!-- 1 table -->
                <table class="table table-borderless table-sm">
                    <tr>
                        <td>
                            <b> First Name </b>
                        </td>
                        <td>
                            fName
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b> Last Name </b>
                        </td>
                        <td>
                            lName
                        </td>
                    </tr>

                </table>
            </div>


        </div>
    </div>
</div>

<div class="bg-white m-3 p-3 shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- 1 table -->
                <table class="table table-borderless table-sm">
                    <tr>
                        <td>
                            <b>E-mail Address</b>
                        </td>
                        <td>
                            xyz@yopmail.con
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b> Password</b>
                        </td>
                        <td>
                            Password@123
                        </td>
                    </tr>



                    <tr>
                        <td>
                            <b> Country/Region </b>
                        </td>
                        <td>India
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <b> State </b>
                        </td>
                        <td>
                            UP
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> City
                            </b>
                        </td>
                        <td>
                            City Name
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <b> Address 1 </b>
                        </td>
                        <td>
                            Address one
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> Address 2 </b>
                        </td>
                        <td>
                            Address Two
                        </td>
                    </tr>

                </table>
            </div>
            <!-- 2 table -->
            <div class="col-md-6">
                <table class="table table-borderless table-sm">
                    <tr>
                        <td>
                            <b> Phone Number </b>
                        </td>
                        <td>
                            989998888988,8989898989
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Mobile </b>
                        </td>
                        <td>
                            88898888989
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>GST Number </b>
                        </td>
                        <td>
                            888898888988
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Year of Establishment</b>
                        </td>
                        <td>
                            8999
                        </td>
                    </tr>

                    <!-- <tr>
                        <td>
                            <b> Business regional certificate </b>
                        </td>
                        <td>
                           
                        </td>
                    </tr> -->
                    <tr>
                        <td>
                            <b> Company Website </b>
                        </td>
                        <td>
                            Company Website
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> Employ strength </b>
                        </td>
                        <td>
                          2000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> Assign By </b>
                        </td>
                        <td>
                          Admin
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <b> Upload Agreement letter </b>
                        </td>
                        <td>
                          
                        </td>
                    </tr> -->
                   <tr>
               

                </table>
            </div>
        </div>
    </div>
</div>


<div class="bg-white m-3 p-3 shadow-sm">
    <div class="container">
       <h4>Document</h4>
        <div class="row">
            <div class="col-md-6">
                <!-- 1 table -->
                <table class="table table-borderless table-sm">
                    <tr>
                        <td>
                            <b> Business regional certificate </b>
                        </td>
                        <td>
                           
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b> Upload Agreement letter </b>
                        </td>
                        <td>
                          
                        </td>
                    </tr>

                </table>
            </div>


        </div>
    </div>
</div>