<div class="container-fluid p-3 bg-white">
    <h3>Certificate Center</h3>
    <form class="p-t-15" role="form" [formGroup]="certificateForm">
        <h6>Certificate You Have</h6>
        <div class="row">
            <ng-container *ngFor="let certificate of certificateList; let i=index">
                <div class="col-md-4">
                    <input type="checkbox" [value]="certificate.value" />
                    <label>{{certificate.name}}</label>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Other Certifications</label>
                <input type="file" class="form-control">

            </div>
        </div>
    </form>
</div>