<div class="container">
    <div class="col-md-12 align-content">
        <div class="row">
            <div class="col-md-12 mt-4 text-center">
                <h1>Verify Your Account</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Click the below button, to verify your account and login by using your credential received in your email
                </h4>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" (click)="verifyAgent()">Verify</button>
            </div>
        </div>
    </div>
</div>