<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 d-lg-block d-none d-md-block">
            <div class="list-container">
                <ul>
                    <li>
                        Privacy Policy
                    </li>
                    <li>
                        Policies & Rules
                    </li>
                    <li>
                        Terms and condition
                    </li>
                    <li>
                        Product Policy
                    </li>
                    <li>
                        Buyer Policy
                    </li>
                    <li>
                        Free Membership Terms and condition
                    </li>
                    <li>
                        Supplier T&C
                    </li>
                    <li>
                        Buyer T&C
                    </li>
                    <li>
                        Product Upload T&C
                    </li>
                    <li>
                        Terms of use
                    </li>
                    <li>
                        Buying Request Posting Rules
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-lg-none d-sm-block d-md-none w-100">
            <pg-collapseset Accordion="true">
                <pg-collapse [Title]="'Terms & Conditions'">
                    <div class="list-container">
                        <ul>
                            <li>
                                Privacy Policy
                            </li>
                            <li>
                                Policies & Rules
                            </li>
                            <li>
                                Terms and condition
                            </li>
                            <li>
                                Product Policy
                            </li>
                            <li>
                                Buyer Policy
                            </li>
                            <li>
                                Free Membership Terms and condition
                            </li>
                            <li>
                                Supplier T&C
                            </li>
                            <li>
                                Buyer T&C
                            </li>
                            <li>
                                Product Upload T&C
                            </li>
                            <li>
                                Terms of use
                            </li>
                            <li>
                                Buying Request Posting Rules
                            </li>
                        </ul>
                    </div>
                </pg-collapse>
            </pg-collapseset>
        </div>
        <div class="vertical col-md-1"> </div>
        <div class="col-md-7">
            <h1>Technologies</h1>
            <p>At Google, we pursue ideas and products that often push the limits of existing technology. As a
                company
                <br>
                that acts responsibly, we work hard to make sure any innovation is balanced with the appropriate
                level
                of privacy and <br> security for our users. Our help guide decisions we make at every level of our
                company,
                so we can help protect and <br> empower our users while we fulfill our ongoing mission to organize
                the
                world’s information.
            </p>
        </div>
    </div>
</div>