<div class="container">
    <div class="logoContainer">
        <img src="../../../../../assets/assets/img/profileLogo.png" class="logo">
    </div>
    <div class="companyNameContainer">
        <h4 class="companyName">Scorpius Solution Pvt. Ltd.</h4>
    </div>
    <div class="contentContainer">
        <span class="verifiedContainer">
            <img src="../../../../../assets/assets/img/verified.png" class="verifyImg">
            <p class="verifyText">Verified</p>
        </span>

        <span class="startContainer">
            <img src="../../../../../assets/assets/img/star.png" class="startImg">
            <p class="starText pl-1">5 (205 Buyer)</p>
        </span>
        <span class="yearContainer">
            <img src="../../../../../assets/assets/img/year.jpg" class="yearImg">
            <p class="yearText pl-1">5 Year</p>
        </span>
        <span class="reviewContainer">
            <img src="../../../../../assets/assets/img/review.png" class="reviewImg">
            <p class="reviewText pl-1">500 Supplier Review</p>
        </span>
        <span class="followContainer">
            <img src="../../../../../assets/assets/img/follow.png" class="followImg">
            <p class="followText pl-1">901 products are followed</p>
        </span>
    </div>
    <div class="badgeContainer">
        <span>
            <h6 class=" badge badge-secondary turnOverBadge">Yearly Turnover $6,000,000</h6>
        </span>
        <span>
            <h6 class=" badge badge-secondary exportBadge">Export Contribution 75%</h6>
        </span>
    </div>
    <div class="contactContainer">
        <span class="contactSupplierBadge">
            <span class="badge badge-danger p-2">
                Contact Supplier</span>
            <span>

            </span>
            <span> <img src="../../../../../assets/assets/img/chat.png" class="chatImg"></span>

            <span>
                <p class="chatText">Chat Now</p>
            </span>

        </span>
    </div>


</div>