.container{
    margin-top: 14px;
}

.logoContainer{
    margin-top: -44px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.companyNameContainer{
    margin-top: -113px;
    margin-left: 149px;
}
.companyName{
    font-weight: bolder; 
}
.verifiedContainer{
    float: left;
}
.verifyImg{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 147px;
}
.verifyText{
float: right;
margin-right: 893px;
}
.startContainer{
    float: right;
    margin-right: 750px;
    margin-top: -31px;
}
.startImg{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 147px;
}
.starText{
    float: right;
}
.reviewContainer{
    float: left;
    margin-left: 146px;
    margin-top: -2px;
}
.reviewImg{
    width: 20px;
    height: 20px;
    float: left;
    
}
.reviewText{
    float: right;
}
.followContainer{
    float: right;
    margin-right: 618px;
}
.followImg{
    width: 20px;
    height: 20px;
    float: left;
}
.followText{
float: right;
}
.yearContainer{
    float: left;
    margin-left: 375px;
    margin-top: -30px;
}
.yearImg{
    width: 20px;
    height: 20px;
    float: left;
}
.yearText{
    float: right;
}
.turnOverBadge{
    margin-left: 143px;
    float: left;
}
.exportBadge{
    margin-right: 633px;
    margin-top: 8px;
    float: right;
}
.contactContainer{
    
    margin-left: 1031px;
    margin-top: -34px;
}
.contactSupplierBadge{
      
}
.chatImg{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: -89px;
    
}
.chatText{
    margin-top: -91px;
    float: right;
    margin-right: -17px
}