<form [formGroup]="companyDetailForm" (keydown.enter)="$event.preventDefault()">
    <h4>Contact Person</h4>
    <div class="row">
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.contactPersonFirstName.invalid && (f.contactPersonFirstName.dirty || f.contactPersonFirstName.touched)">
                <label for="fcd-contactPersonFirstName">First Name</label>
                <input type="text" formControlName="contactPersonFirstName" placeholder="Enter Your First Name"
                    class="form-control" id="fcd-contactPersonFirstName" />
            </div>
            <div
                *ngIf="f.contactPersonFirstName.invalid && (f.contactPersonFirstName.dirty || f.contactPersonFirstName.touched)">
                <label *ngIf="f.contactPersonFirstName.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.contactPersonLastName.invalid && (f.contactPersonLastName.dirty || f.contactPersonLastName.touched)">
                <label for="fcd-contactPersonLastName">Last Name</label>
                <input type="text" formControlName="contactPersonLastName" placeholder="Enter Your Last Name"
                    class="form-control" id="fcd-contactPersonLastName" />
            </div>
            <div
                *ngIf="f.contactPersonLastName.invalid && (f.contactPersonLastName.dirty || f.contactPersonLastName.touched)">
                <label *ngIf="f.contactPersonLastName.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.contactPersonDesignation.invalid && (f.contactPersonDesignation.dirty || f.contactPersonDesignation.touched)">
                <label for="fcd-contactPersonDesignation">Designation</label>
                <input type="text" formControlName="contactPersonDesignation" placeholder="Enter Your Designation"
                    class="form-control" id="fcd-contactPersonDesignation" />
            </div>
            <div
                *ngIf="f.contactPersonDesignation.invalid && (f.contactPersonDesignation.dirty || f.contactPersonDesignation.touched)">
                <label *ngIf="f.contactPersonDesignation.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.contactPersonEmail.invalid && (f.contactPersonEmail.dirty || f.contactPersonEmail.touched)">
                <label for="fcd-contactPersonEmail">Email</label>
                <input type="text" formControlName="contactPersonEmail" placeholder="Enter Your Email Id"
                    class="form-control" id="fcd-contactPersonEmail" />
            </div>
            <div *ngIf="f.contactPersonEmail.invalid && (f.contactPersonEmail.dirty || f.contactPersonEmail.touched)">
                <label *ngIf="f.contactPersonEmail.errors.required" class="error">This Field Is Required.
                    Id.</label>
                <label *ngIf="f.contactPersonEmail.errors.pattern" class="error">Please Enter Your Valid Email
                    Id.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.contactPersonAlternateEmail.invalid && (f.contactPersonAlternateEmail.dirty || f.contactPersonAlternateEmail.touched)">
                <label for="fcd-contactPersonAlternateEmail">Alternative Email</label>
                <input type="text" formControlName="contactPersonAlternateEmail"
                    placeholder="Enter Your Alternative Email Id" class="form-control"
                    id="fcd-contactPersonAlternateEmail" />
            </div>
            <div
                *ngIf="f.contactPersonAlternateEmail.invalid && (f.contactPersonAlternateEmail.dirty || f.contactPersonAlternateEmail.touched)">
                <label *ngIf="f.contactPersonAlternateEmail.errors.required" class="error">This field is
                    required. Please Enter Your Valid Email Id.</label>
                <label *ngIf="f.contactPersonAlternateEmail.errors.pattern" class="error">Please Enter Your Valid Email
                    Id.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.companyWebsite.invalid && (f.companyWebsite.dirty || f.companyWebsite.touched)">
                <label for="fcd-companyWebsite">Company Website</label>
                <input type="text" formControlName="companyWebsite" placeholder="Enter Company Website"
                    class="form-control" id="fcd-companyWebsite" />
            </div>
            <div *ngIf="f.companyWebsite.invalid && (f.companyWebsite.dirty || f.companyWebsite.touched)">
                <label *ngIf="f.companyWebsite.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.googleBusiness.invalid && (f.googleBusiness.dirty || f.googleBusiness.touched)">
                <label for="fcd-googleBusiness">Google Business</label>
                <input type="text" formControlName="googleBusiness" placeholder="Enter Google Business"
                    class="form-control" id="fcd-googleBusiness" />
            </div>
            <div *ngIf="f.googleBusiness.invalid && (f.googleBusiness.dirty || f.googleBusiness.touched)">
                <label *ngIf="f.googleBusiness.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.facebookBusiness.invalid && (f.facebookBusiness.dirty || f.facebookBusiness.touched)">
                <label for="fcd-facebookBusiness">Facebook Business</label>
                <input type="text" formControlName="facebookBusiness" placeholder=" Enter Facebook Business"
                    class="form-control" id="fcd-facebookBusiness" />
            </div>
            <div *ngIf="f.facebookBusiness.invalid && (f.facebookBusiness.dirty || f.facebookBusiness.touched)">
                <label *ngIf="f.facebookBusiness.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.instagramBusiness.invalid && (f.instagramBusiness.dirty || f.instagramBusiness.touched)">
                <label for="fcd-instagramBusiness">Instagram Business</label>
                <input type="text" formControlName="instagramBusiness" placeholder="Enter Instagram Business"
                    class="form-control" id="fcd-instagramBusiness" />
            </div>
            <div *ngIf="f.instagramBusiness.invalid && (f.instagramBusiness.dirty || f.instagramBusiness.touched)">
                <label *ngIf="f.instagramBusiness.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <hr>
    <h4>Bank Details</h4>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accNumber.invalid && (f.accNumber.dirty || f.accNumber.touched)">
                <label for="fcd-accNumber">Account Number</label>
                <input type="text" formControlName="accNumber" placeholder="Enter Your Account Number Here"
                    class="form-control" id="fcd-accNumber" />
            </div>
            <div *ngIf="f.accNumber.invalid && (f.accNumber.dirty || f.accNumber.touched)">
                <label *ngIf="f.accNumber.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accType.invalid && (f.accType.dirty || f.accType.touched)">
                <label for="fcd-accType">Account Type</label>
                <input type="text" formControlName="accType" placeholder=" Enter Your Account Type" class="form-control"
                    id="fcd-accType" />
            </div>
            <div *ngIf="f.accType.invalid && (f.accType.dirty || f.accType.touched)">
                <label *ngIf="f.accType.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accBankName.invalid && (f.accBankName.dirty || f.accBankName.touched)">
                <label for="fcd-accBankName">Bank Name</label>
                <input type="text" formControlName="accBankName" placeholder="Enter Bank Name" class="form-control"
                    id="fcd-accBankName" />
            </div>
            <div *ngIf="f.accBankName.invalid && (f.accBankName.dirty || f.accBankName.touched)">
                <label *ngIf="f.accBankName.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accBranch.invalid && (f.accBranch.dirty || f.accBranch.touched)">
                <label for="fcd-accBranch">Bank Branch</label>
                <input type="text" formControlName="accBranch" placeholder="Enter The Branch Of Your Bank"
                    class="form-control" id="fcd-accBranch" />
            </div>
            <div *ngIf="f.accBranch.invalid && (f.accBranch.dirty || f.accBranch.touched)">
                <label *ngIf="f.accBranch.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accIFSCCode.invalid && (f.accIFSCCode.dirty || f.accIFSCCode.touched)">
                <label for="fcd-accIFSCCode">IFSC Code</label>
                <input type="text" formControlName="accIFSCCode" placeholder="Enter IFSC Code" class="form-control"
                    id="fcd-accIFSCCode" />
            </div>
            <div *ngIf="f.accIFSCCode.invalid && (f.accIFSCCode.dirty || f.accIFSCCode.touched)">
                <label *ngIf="f.accIFSCCode.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.accSwiftCode.invalid && (f.accSwiftCode.dirty || f.accSwiftCode.touched)">
                <label for="fcd-accSwiftCode">SWIFT Code</label>
                <input type="text" formControlName="accSwiftCode" placeholder=" Enter SWIFT Code" class="form-control"
                    id="fcd-accSwiftCode" />
            </div>
            <div *ngIf="f.accSwiftCode.invalid && (f.accSwiftCode.dirty || f.accSwiftCode.touched)">
                <label *ngIf="f.accSwiftCode.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.companyLanguageSpoken.invalid && (f.companyLanguageSpoken.dirty || f.companyLanguageSpoken.touched)">
                <label for="fcd-companyLanguageSpoken">Language Spoken</label>
                <input type="text" formControlName="companyLanguageSpoken" placeholder="Enter Language Spoken"
                    class="form-control" id="fcd-companyLanguageSpoken" />
            </div>
            <div
                *ngIf="f.companyLanguageSpoken.invalid && (f.companyLanguageSpoken.dirty || f.companyLanguageSpoken.touched)">
                <label *ngIf="f.companyLanguageSpoken.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.companyVision.invalid && (f.companyVision.dirty || f.companyVision.touched)">
                <label for="fcd-companyVision">Company Mission and Vision</label>
                <textarea rows="20" type="text" formControlName="companyVision"
                    placeholder="Enter The Company Mission And Vision" class="form-control"
                    id="fcd-companyVision"></textarea>
            </div>
            <div *ngIf="f.companyVision.invalid && (f.companyVision.dirty || f.companyVision.touched)">
                <label *ngIf="f.companyVision.errors.required" class="error">This field is required.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.companyPhilosophy.invalid && (f.companyPhilosophy.dirty || f.companyPhilosophy.touched)">
                <label for="fcd-companyPhilosophy">Company Philosophy</label>
                <textarea rows="20" type="text" formControlName="companyPhilosophy"
                    placeholder="Enter The Company Philosophy" class="form-control"
                    id="fcd-companyPhilosophy"></textarea>
            </div>
            <div *ngIf="f.companyPhilosophy.invalid && (f.companyPhilosophy.dirty || f.companyPhilosophy.touched)">
                <label *ngIf="f.companyPhilosophy.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div pgFormGroupDefault class="form-group form-group-default required"
                [class.has-error]="f.companyDetail.invalid && (f.companyDetail.dirty || f.companyDetail.touched)">
                <label for="fcd-companyDetail">Company Detailed Introduction</label>
                <textarea rows="20" type="text" formControlName="companyDetail"
                    placeholder=" Enter Company Detailed Introduction" class="form-control"
                    id="fcd-companyDetail"></textarea>
            </div>
            <div *ngIf="f.companyDetail.invalid && (f.companyDetail.dirty || f.companyDetail.touched)">
                <label *ngIf="f.companyDetail.errors.required" class="error">This field is required.</label>
            </div>
        </div>
    </div>
    <hr>
    <!-- <h6>Have you attended or Planed to attand any trade expo?<span class="text-danger">*</span></h6>
    <div class="form-check form-check-inline complete">
        <input type="radio" name="state" id="fcd-radioInline" value="Default" checked>
        <label for="fcd-radioInline">
            Yes
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" name="state" id="fcd-radioDisabled" value="disabled">
        <label for="fcd-radioDisabled">
            No
        </label>
    </div> -->

    <div class="row">
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default">
                <label for="fcd-tradeName">Trade Name</label>
                <input type="text" formControlName="tradeName" placeholder=" Enter Trade Name" class="form-control"
                    id="fcd-tradeName" />
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default">
                <label for="fcd-tradeHost">Host</label>
                <input type="text" formControlName="tradeHost" placeholder="Enter Host Id" class="form-control"
                    id="fcd-tradeHost" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-default input-group col-md-12">
                <div class="form-input-group">
                    <label for="fcd-tradeStartDate">Start Date</label>
                    <pg-datepicker formControlName="tradeStartDate" placeholder="Enter Start Date Here"
                        class="form-control" id="fcd-tradeStartDate">
                    </pg-datepicker>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">text_align_justify</i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default input-group col-md-12">
                <div class="form-input-group">
                    <label for="fcd-tradeEndDate">End Date</label>
                    <pg-datepicker formControlName="tradeEndDate" placeholder="Enter End Date Here" class="form-control"
                        id="fcd-tradeEndDate">
                    </pg-datepicker>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="pg-icon">text_align_justify</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default">
                <label for="fcd-tradeRegion">Region</label>
                <input type="text" formControlName="tradeRegion" placeholder="Enter The Region" class="form-control"
                    id="fcd-tradeRegion" />
            </div>
        </div>
        <div class="col-md-4">
            <div pgFormGroupDefault class="form-group form-group-default">
                <label for="fcd-tradeCity">City</label>
                <input type="text" formControlName="tradeCity" placeholder=" Enter City" class="form-control"
                    id="fcd-tradeCity" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div pgFormGroupDefault class="form-group form-group-default">
                <label for="fcd-tradeInfo">About The Trade show</label>
                <textarea type="text" formControlName="tradeInfo" placeholder="Enter About The Trade show"
                    class="form-control" id="fcd-tradeInfo"></textarea>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <button [disabled]="isLoading" type="submit" class="me-4 btn btn-primary show-notification"
            (click)="subCompanyDetailForm()">
            {{isDataExist? 'Update' : 'Save'}} Company Details
        </button>
    </div>
</form>