<div class="container-fluid p-3 bg-white ">
    <h3> Add Blog</h3>
    <form class="p-t-15" role="form" [formGroup]="addBlogInfo">
        <div class="row">
            <div class="col-md-12">
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="f.title?.invalid && (f.title?.dirty || f.title?.touched)">
                    <label for="title">Title</label>
                    <input type="text" formControlName="title" placeholder="Enter Title" class="form-control" id="title" />
                </div>
                <div *ngIf="f.title?.invalid && (f.title?.dirty || f.title?.touched)">
                    <label *ngIf="f.title.errors.required" class="error">This field is required.</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-default form-group-default-select2">
                    <label for="seller-own-category"> Select Category</label>
                    <pg-select style="width: 100%;" id="blog-category" [Mode]="'multiple'" [PlaceHolder]="'Select'" formControlName="blogCategory" [NotFoundContent]="'Not found'">
                        <pg-option *ngFor="let option of searchOptions" [Label]="option.label" [Value]="option.value" [Disabled]="option.disabled">
                        </pg-option>
                    </pg-select>
                </div>
                <div *ngIf="f.blogCategory?.invalid && (f.blogCategory?.dirty ||
                    f.blogCategory?.touched)">
                    <label *ngIf="f.blogCategory.errors.required" class="error">This field is
                        required.</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group tag-group form-group-default required ">
                    <label>Tags</label>
                    <pg-tag-control></pg-tag-control>
                </div>
            </div>
        </div>
        <div class="card-body no-scroll card-toolbar">
            <div class="">
                <label for="blogDescription"> Description</label>
                <quill-editor [styles]="{height: '350px'}" placeholder="" formControlName="blogDescription">
                </quill-editor>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">
                    Banner Image
                </div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pt-2 pb-2 pl-1 pr-1 ">
                    <div class="card-body no-scroll no-padding">
                        <pg-upload Type="drag" [Multiple]="true" [Limit]="1"  (Change)="handleChange($event)" extraClass="dropzone" progressType="circle">
                            <div class="d-flex flex-column align-items-center p-2 ">
                                <h4 class="semi-bold no-margin text-center">Drop files to Upload</h4>
                                <p>or click here</p>
                            </div>

                        </pg-upload>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="f.writer?.invalid && (f.writer?.dirty || f.writer?.touched)">
                    <label for="writer">Writer</label>
                    <input type="text" formControlName="writer" placeholder="Enter Writer Name" class="form-control" id="writer" />
                </div>
                <div *ngIf="f.writer?.invalid && (f.writer?.dirty || f.writer?.touched)">
                    <label *ngIf="f.writer.errors.required" class="error">This field is required.</label>
                </div>
            </div>
            <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="f.designation?.invalid && (f.designation?.dirty || f.designation?.touched)">
                    <label for="Designation">Designation</label>
                    <input type="text" formControlName="designation" placeholder="Enter Designation " class="form-control" id="designation" />
                </div>
                <div *ngIf="f.designation?.invalid && (f.designation?.dirty || f.designation?.touched)">
                    <label *ngIf="f.designation.errors.required" class="error">This field is required.</label>
                </div>
            </div>
        </div>
        <div class="justify-content-end">
            <button type="button" class="me-4 btn btn-success" [disabled]="addBlogInfo.invalid">Submit</button>
        </div>
    </form>
</div>