<div class="bg-grey1 p-2 mt-5">
    <h2>REQUEST FOR QUOTATION <span class="text-muted" style="font-size: 20px;">Customization Service</span>
    </h2>
    <div class="row p-4 ">
        <div class="col-md-5 backgroundImage ">
        </div>
        <div class="col-md-7 p-3 bg-grey pmt-2 shadow">
            <h2>One Request, Multiple Quotes</h2>
            <p>Helping fashion brands make more sustainable decisionHelping fashion brands make more sustainable
                decision</p>
            <div class="row p-5 ">
                <div class="col-md-12 p-3">
                    <input class="form-control" type="text" placeholder="What are you lookin FOR..." name="" id="">
                </div>
                <div class="col-md-6 p-3">
                    <input class="form-control" type="text" placeholder="Quantity" name="" id="">
                </div>
                <div class="col-md-6 p-3">
                    <input class="form-control" type="text" placeholder="Piece/Pieces" name="" id="">
                </div>
                <div>
                    <button class="rounded-pill btn btn-orange">Request For Quotation</button>
                </div>
            </div>
        </div>
    </div>
</div>