.backgroundImage {
    background-color: black;
    color: white;
}

.btn-orange {
    background-color: #FF6336;
    color: white;
}

.bg-grey {
    background-color: #FAF9F7;
}

.bg-grey1 {
    background-color: #D7D9DD;
}
.row {
    margin: 1.5px;
}